@import "../../global/normalize.css";

:host {
  display: block;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: var(--ic-space-md);
}

:host(.small) .rows {
  gap: var(--ic-space-xs);
}

.divider {
  margin-top: var(--ic-space-lg);
  margin-bottom: var(--ic-space-md);
  height: 0.063rem;
  background-color: var(--ic-architectural-300);
}

:host(.small) .divider {
  margin-top: var(--ic-space-sm);
  margin-bottom: var(--ic-space-xs);
}

@media (forced-colors: active) {
  .divider {
    background-color: canvastext;
  }
}
