ic-input-label {
  margin-bottom: var(--ic-space-xs);
}

ic-input-label.with-helper {
  margin-bottom: var(--ic-space-xxxs);
}

ic-input-label.readonly {
  color: var(--ic-color-tertiary-text);
}

ic-input-label .helpertext {
  margin-top: var(--ic-space-xxxs);
}

ic-input-label .helpertext-normal {
  color: var(--ic-color-secondary-text);
}

ic-input-label .helpertext-readonly {
  color: var(--ic-color-tertiary-text);
}

ic-input-label .readonly-label {
  color: var(--ic-color-secondary-text);
}

ic-input-label .error-label {
  color: var(--ic-status-error);
}

ic-input-label .dark {
  color: var(--ic-architectural-white);
}
