ic-input-label {
  margin-bottom: var(--ic-space-xs);
}

ic-input-label.with-helper {
  margin-bottom: var(--ic-space-xxxs);
}

ic-input-label.ic-input-label-readonly {
  --ic-typography-color: var(--ic-color-tertiary-text);
}

ic-input-label .helpertext {
  margin-top: var(--ic-space-xxxs);
}

ic-input-label .helpertext-normal {
  --ic-typography-color: var(--ic-color-secondary-text);
}

ic-input-label .helpertext-readonly {
  --ic-typography-color: var(--ic-color-tertiary-text);
}

ic-input-label .readonly-label {
  --ic-typography-color: var(--ic-color-secondary-text);
}

ic-input-label .error-label {
  --ic-typography-color: var(--ic-status-error);
}

ic-input-label .dark {
  --ic-typography-color: var(--ic-architectural-white);
}

/* Add back in after storybook has the `color-scheme: light dark` code */

/* @media (prefers-color-scheme: dark) and (not (forced-colors: active)) {
  ic-input-label,
  ic-input-label .helpertext-normal,
  ic-input-label .readonly-label,
  ic-input-label .helpertext-readonly {
    color: var(--ic-architectural-white);
  }
} */
