/**
  * @prop --ic-divider-vertical-height: The height of a vertical divider. The default value is `inherit`. 
  */
/**
  * @prop --ic-divider-horizontal-width: The width of a horizontal divider. The default value is `inherit`.
  */
/**
  * @prop --ic-divider-weight: The thickness of the divider.
  */
/**
  * @prop --ic-divider-background: The color of the divider.
  */
/**
  * @prop --ic-divider-background-monochrome: The color of the divider in monochrome mode.
  */
/**
  * @prop --ic-divider-label: The color of the divider label.
  */
/**
  * @prop --ic-divider-label-monochrome: The color of the divider label in monochrome mode.
  */
/**
  * @prop --ic-divider-label-width: The width of the divider label. The default value is `max-content`.
  */

/* Horizontal Divider */
:host(.ic-divider-horizontal) {
  display: flex;
  width: var(--ic-divider-horizontal-width, 100%);
  align-items: center;
  column-gap: var(--ic-space-xxs);
}

hr {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: solid var(--ic-divider-weight, var(--ic-space-1px))
    var(--ic-divider-background);
  width: inherit;
}

:host(.ic-divider-horizontal)::before,
:host(.ic-divider-horizontal)::after {
  border-left: none !important;
}

:host(.ic-divider-horizontal[label-placement="right"])::before,
:host(.ic-divider-horizontal[label-placement="center"])::before,
:host(.ic-divider-horizontal[label-placement="left"])::after,
:host(.ic-divider-horizontal[label-placement="center"])::after {
  content: "";
  border: none;
  width: 100%;
}

/* Vertical Divider */
:host(.ic-divider-vertical) {
  display: flex;
  flex-direction: column;
  height: var(--ic-divider-vertical-height, inherit);
  width: max-content;
  align-items: center;
  column-gap: var(--ic-space-xxs);
  border: none;
}

:host(.ic-divider-vertical) div.vertical-divider {
  display: flex;
  height: inherit;
}

:host(.ic-divider-vertical[label-placement="bottom"])::before,
:host(.ic-divider-vertical[label-placement="center"])::before,
:host(.ic-divider-vertical[label-placement="top"])::after,
:host(.ic-divider-vertical[label-placement="center"])::after {
  content: "";
  height: 100%;
}

/* Theme */
hr,
:host(.ic-divider-horizontal)[label-placement="right"]::before,
:host(.ic-divider-horizontal[label-placement="center"])::before,
:host(.ic-divider-horizontal[label-placement="left"])::after,
:host(.ic-divider-horizontal[label-placement="center"])::after {
  border-bottom: solid var(--ic-divider-weight, var(--ic-space-1px))
    var(--ic-divider-background);
}

:host(.ic-divider-monochrome) hr,
:host(
    .ic-divider-monochrome.ic-divider-horizontal
  )[label-placement="right"]::before,
:host(
    .ic-divider-monochrome.ic-divider-horizontal[label-placement="center"]
  )::before,
:host(
    .ic-divider-monochrome.ic-divider-horizontal[label-placement="left"]
  )::after,
:host(
    .ic-divider-monochrome.ic-divider-horizontal[label-placement="center"]
  )::after {
  border-bottom-color: var(--ic-divider-background-monochrome);
}

:host() div.vertical-divider,
:host(.ic-divider-vertical[label-placement="bottom"])::before,
:host(.ic-divider-vertical[label-placement="center"])::before,
:host(.ic-divider-vertical[label-placement="top"])::after,
:host(.ic-divider-vertical[label-placement="center"])::after {
  border-left: solid var(--ic-divider-weight, var(--ic-space-1px))
    var(--ic-divider-background);
}

:host(.ic-divider-monochrome) div.vertical-divider,
:host(
    .ic-divider-monochrome.ic-divider-vertical[label-placement="bottom"]
  )::before,
:host(
    .ic-divider-monochrome.ic-divider-vertical[label-placement="center"]
  )::before,
:host(.ic-divider-monochrome.ic-divider-vertical[label-placement="top"])::after,
:host(
    .ic-divider-monochrome.ic-divider-vertical[label-placement="center"]
  )::after {
  border-left-color: var(--ic-divider-background-monochrome);
}

/* Weight */
:host(.ic-divider-very-thick) hr,
:host(.ic-divider-very-thick[label-placement="right"])::before,
:host(.ic-divider-very-thick[label-placement="center"])::before,
:host(.ic-divider-very-thick[label-placement="left"])::after,
:host(.ic-divider-very-thick[label-placement="center"])::after {
  border-bottom-width: var(--ic-divider-weight, var(--ic-space-xs));
}

:host(.ic-divider-very-thick) .vertical-divider,
:host(.ic-divider-very-thick[label-placement="bottom"])::before,
:host(.ic-divider-very-thick[label-placement="center"])::before,
:host(.ic-divider-very-thick[label-placement="top"])::after,
:host(.ic-divider-very-thick[label-placement="center"])::after {
  border-left-width: var(--ic-divider-weight, var(--ic-space-xs));
}

:host(.ic-divider-thick) hr,
:host(.ic-divider-thick[label-placement="right"])::before,
:host(.ic-divider-thick[label-placement="center"])::before,
:host(.ic-divider-thick[label-placement="left"])::after,
:host(.ic-divider-thick[label-placement="center"])::after {
  border-bottom-width: var(--ic-divider-weight, var(--ic-space-xxs));
}

:host(.ic-divider-thick) .vertical-divider,
:host(.ic-divider-thick[label-placement="bottom"])::before,
:host(.ic-divider-thick[label-placement="center"])::before,
:host(.ic-divider-thick[label-placement="top"])::after,
:host(.ic-divider-thick[label-placement="center"])::after {
  border-left-width: var(---ic-divider-weight, var(--ic-space-xxs));
}

:host(.ic-divider-medium) hr,
:host(.ic-divider-medium[label-placement="right"])::before,
:host(.ic-divider-medium[label-placement="center"])::before,
:host(.ic-divider-medium[label-placement="left"])::after,
:host(.ic-divider-medium[label-placement="center"])::after {
  border-bottom-width: var(--ic-divider-weight, var(--ic-space-xxxs));
}

:host(.ic-divider-medium) .vertical-divider,
:host(.ic-divider-medium[label-placement="bottom"])::before,
:host(.ic-divider-medium[label-placement="center"])::before,
:host(.ic-divider-medium[label-placement="top"])::after,
:host(.ic-divider-medium[label-placement="center"])::after {
  border-left-width: var(--ic-divider-weight, var(--ic-space-xxxs));
}

:host(.ic-divider-thin) hr,
:host(.ic-divider-thin[label-placement="right"])::before,
:host(.ic-divider-thin[label-placement="center"])::before,
:host(.ic-divider-thin[label-placement="left"])::after,
:host(.ic-divider-thin[label-placement="center"])::after {
  border-bottom-width: var(--ic-divider-weight, var(--ic-space-1px));
}

:host(.ic-divider-thin) .vertical-divider,
:host(.ic-divider-thin[label-placement="bottom"])::before,
:host(.ic-divider-thin.ic-divider-vertical[label-placement="center"])::before,
:host(.ic-divider-thin[label-placement="top"])::after,
:host(.ic-divider-thin.ic-divider-vertical[label-placement="center"])::after {
  border-left-width: var(--ic-divider-weight, var(--ic-space-1px));
}

/* Border styling */
:host(.ic-divider-dashed) hr,
:host(.ic-divider-dashed[label-placement="right"])::before,
:host(.ic-divider-dashed[label-placement="center"])::before,
:host(.ic-divider-dashed[label-placement="left"])::after,
:host(.ic-divider-dashed[label-placement="center"])::after {
  border-bottom-style: dashed;
}

:host(.ic-divider-dashed) .vertical-divider,
:host(.ic-divider-dashed[label-placement="bottom"])::before,
:host(.ic-divider-dashed[label-placement="center"])::before,
:host(.ic-divider-dashed[label-placement="top"])::after,
:host(.ic-divider-dashed[label-placement="center"])::after {
  border-left-style: dashed;
}

/* Label styling */
:host() .ic-divider-label {
  text-wrap: wrap;
  text-align: center;
  width: var(--ic-divider-label-width, 60%);
}

:host() .ic-divider-label p {
  width: 100%;
}

:host() .ic-divider-label,
:host() ::slotted(*) {
  color: var(--ic-divider-label);
}

:host(.ic-divider-monochrome) .ic-divider-label,
:host(.ic-divider-monochrome) ::slotted(*) {
  color: var(--ic-divider-label-monochrome);
}

@media (forced-colors: active) {
  hr,
  :host(.ic-divider-horizontal[label-placement="right"])::before,
  :host(.ic-divider-horizontal[label-placement="center"])::before,
  :host(.ic-divider-horizontal[label-placement="left"])::after,
  :host(.ic-divider-horizontal[label-placement="center"])::after {
    border-bottom-color: transparent;
  }

  :host() div.vertical-divider,
  :host(.ic-divider-vertical[label-placement="bottom"])::before,
  :host(.ic-divider-vertical[label-placement="center"])::before,
  :host(.ic-divider-vertical[label-placement="top"])::after,
  :host(.ic-divider-vertical[label-placement="center"])::after {
    border-left-color: transparent;
  }
}
