hr {
  padding: 0;
  margin: 0;
  border: none;
  height: var(--ic-space-1px);
  background-color: var(--ic-color-keyline-darken);
}

hr.light {
  background-color: var(--ic-color-keyline-lighten);
}
