/* SHARED STYLING */
:host {
  display: flex;
  flex: auto;
}

.step {
  display: flex;
  flex: 1 1 0;
}

.step-icon {
  display: flex;
  justify-content: center;
}

.step-title,
.step-subtitle,
.step-status,
.next-step {
  white-space: pre-line;
}

.visually-hidden {
  position: absolute;
  left: -625rem;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* COMPACT STEP STYLING */
:host(.compact) {
  column-gap: var(--ic-space-sm);

  --compact-step-inner-color: var(--ic-theme-primary);
  --compact-step-circular-line-width: var(--ic-space-xxs);
}

:host(.compact) .step {
  column-gap: var(--ic-space-sm);
}

:host(.compact) .step:not(.current) {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.compact-step-progress-indicator {
  margin: var(--ic-space-xs) 0 0;
}

:host(.compact) .step-title-area {
  display: flex;
  flex-direction: column;
  width: 14.25rem;
}

.info-line {
  display: flex;
  column-gap: var(--ic-space-xs);
}

.step-status {
  display: flex;
  color: var(--ic-color-secondary-text);
  column-gap: var(--ic-space-xxxs);
}

.compact-step-completed .step-status {
  color: var(--ic-status-success);
}

.compact-step-disabled :is(.step-title, .step-status) {
  color: var(--ic-color-tertiary-text);
}

.step-num {
  color: var(--ic-color-secondary-text);
  white-space: nowrap;
}

:host(.compact) .step-icon {
  margin: var(--ic-space-xxxs);
}

:host(.compact) .step-icon svg {
  width: var(--ic-space-md);
  height: var(--ic-space-md);
}

/* DEFAULT STEP STYLING */
:host(.default) .step {
  flex-direction: column;
}

:host(.default.last-step) {
  flex-grow: initial;
}

.step-top {
  display: flex;
  width: 100%;
  align-items: center;
  align-self: flex-start;
  height: 2.5rem;
}

:host(.default) .step-icon {
  border-radius: 50%;
}

.step-icon-inner {
  width: var(--ic-space-xl);
  height: var(--ic-space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

:host(.default) .current {
  color: var(--ic-theme-primary);
}

:host(.default) .step-title-area {
  margin: var(--ic-space-xs) 0;
  padding-right: var(--ic-space-xs);
  width: 100%;
}

:host(.default) .step-title,
.step-subtitle {
  width: fit-content;
}

.step-subtitle {
  color: var(--ic-color-tertiary-text);
}

.current .step-subtitle {
  color: var(--ic-color-primary-text);
}

:host(.default) .completed {
  color: var(--ic-status-success);
}

.active .step-icon-inner {
  box-shadow: inset var(--ic-architectural-200) 0 0 0 0.125rem;
}

.current .step-icon-inner {
  background-color: var(--ic-theme-primary);
  color: white;
}

.disabled {
  color: var(--ic-architectural-200);
}

.disabled .step-icon-inner {
  border: var(--ic-space-1px) dashed var(--ic-architectural-200);
  width: calc(var(--ic-space-xl) - var(--ic-space-xxxs));
  height: calc(var(--ic-space-xl) - var(--ic-space-xxxs));
}

.disabled .step-title-area {
  color: var(--ic-color-tertiary-text);
}

.completed .step-icon-inner {
  background: var(--ic-status-success);
  box-shadow: inset var(--ic-status-success) 0 0 0 var(--ic-space-xxxs);
  border-radius: 100%;
}

:host(.default) .current .step-icon {
  border: var(--ic-space-xxxs) solid var(--ic-theme-primary);
  padding: var(--ic-space-xxxs);
  margin: 0 calc(-1 * var(--ic-space-xxxs));

  /* compensating for the circle being bigger than other steps */
}

.step-connect {
  height: var(--ic-space-xxxs);
  background-color: var(--ic-architectural-200);
  margin: 0 var(--ic-space-xs);
  border-radius: var(--ic-space-xxs);
  width: 100%;
}

.aligned-full-width.step-connect {
  min-width: 6.25rem;
  width: 100%;
}

.disabled .step-connect {
  height: 0;
  background-color: rgb(0 0 0 / 0%);
  border-top: 0.125rem dashed var(--ic-architectural-200);
  border-radius: 0;
}

.completed .step-connect {
  background-color: var(--ic-status-success);
}

.step-connect-inner {
  width: 70%;
  display: flex;
  flex: auto;
  height: var(--ic-space-xxxs);
  border-radius: var(--ic-space-xxs);
  background-color: var(--ic-theme-primary);
}

.step-icon-inner .check-icon {
  padding-top: var(--ic-space-xxs);
}

.step-icon-inner .check-icon svg {
  width: var(--ic-space-md);
  height: auto;
}

.step-icon-inner .check-icon > svg > path {
  fill: var(--ic-color-white-text);
}

/** High Contrast **/
@media (forced-colors: active) {
  /* COMPACT STEP */
  .compact-step-disabled :is(.step-title, .step-status) {
    color: GrayText;
  }

  /* DEFAULT STEP */
  .step-connect:not(.disabled .step-connect) {
    border: var(--ic-hc-border);
  }

  .active .step-icon-inner,
  .completed .step-icon-inner,
  .current .step-icon-inner {
    forced-color-adjust: none;
    box-shadow: inset canvastext 0 0 0 0.125rem;
    background-color: transparent;
    color: canvastext;
  }

  :host(.default) .current .step-icon {
    padding: 0;
    border: none;
  }

  .disabled,
  .disabled .step-title-area {
    color: GrayText;
  }

  .step-connect-inner,
  .completed .step-connect {
    background-color: canvastext;
  }

  .step-icon-inner .check-icon > svg > path {
    fill: canvastext;
  }
}
