:host {
  display: flex;
  flex: auto;
}

:host(.last-step) {
  flex-grow: initial;
}

.step {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.step-top {
  display: flex;
  width: 100%;
  align-items: center;
  align-self: flex-start;
  height: 40px;
}

.step-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.step-icon-inner {
  width: var(--ic-space-xl);
  height: var(--ic-space-xl);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.current {
  color: var(--ic-theme-primary);
}

.step-title-area {
  margin: var(--ic-space-xs) 0;
  padding-right: var(--ic-space-xs);
}

.step-title,
.step-subtitle {
  width: fit-content;
}

.step-subtitle {
  color: var(--ic-color-tertiary-text);
}

.current .step-subtitle {
  color: var(--ic-color-primary-text);
}

.completed {
  color: var(--ic-status-success);
}

.active .step-icon-inner {
  box-shadow: inset var(--ic-architectural-200) 0 0 0 2px;
}

.current .step-icon-inner {
  background-color: var(--ic-theme-primary);
  color: white;
}

.disabled {
  color: var(--ic-architectural-200);
}

.disabled .step-icon {
  border: 1px dashed var(--ic-architectural-200);
  width: calc(var(--ic-space-xl) - var(--ic-space-xxxs));
  height: calc(var(--ic-space-xl) - var(--ic-space-xxxs));
}

.disabled .step-title-area {
  color: var(--ic-color-tertiary-text);
}

.completed .step-icon-inner {
  background: var(--ic-status-success);
  box-shadow: inset var(--ic-status-success) 0 0 0 var(--ic-space-xxxs);
  border-radius: 100%;
}

.current .step-icon {
  border: var(--ic-space-xxxs) solid var(--ic-theme-primary);
  padding: var(--ic-space-xxxs);
  margin: 0 calc(-1 * var(--ic-space-xxxs)); /* compensating for the circle being bigger than other steps */
}

.step-connect {
  height: var(--ic-space-xxxs);
  background-color: var(--ic-architectural-200);
  margin: 0 var(--ic-space-xs);
  border-radius: var(--ic-space-xxs);
  width: 100%;
}

.aligned-full-width.step-connect {
  min-width: 100px;
  width: 100%;
}

.disabled .step-connect {
  height: 0;
  background-color: rgb(0 0 0 / 0%);
  border-top: 2px dashed var(--ic-architectural-200);
  border-radius: 0;
}

.completed .step-connect {
  background-color: var(--ic-status-success);
}

.step-connect-inner {
  width: 70%;
  display: flex;
  flex: auto;
  height: var(--ic-space-xxxs);
  border-radius: var(--ic-space-xxs);
  background-color: var(--ic-theme-primary);
}

.check-icon {
  padding-top: var(--ic-space-xxs);
}

.check-icon svg {
  width: 16px;
  height: 16px;
}

.check-icon > svg > path {
  fill: white;
}

/** High Contrast **/
@media (forced-colors: active) {
  .step-connect:not(.disabled .step-connect) {
    border: 1px solid transparent;
  }

  .step-icon:not(.disabled .step-icon) {
    border: 2px solid transparent;
  }

  .step-connect-inner,
  .completed .step-connect {
    background-color: canvastext;
  }

  .check-icon > svg > path {
    fill: canvastext;
  }
}
