dist/
dist-perf/
build/
www/

packages/web-components/.loki/current
packages/web-components/.loki/difference
packages/web-components/docs.d.ts
packages/react/css/
packages/docs/docs.d.ts

packages/canary-web-components/.loki/current
packages/canary-web-components/.loki/difference
packages/canary-react/css/

packages/web-components/storybook-static
packages/react/storybook-static

packages/canary-web-components/storybook-static
packages/canary-react/storybook-static

packages/canary-react/cypress-visual-report
packages/react/cypress-visual-report

packages/canary-react/cypress-image-diff-html-report
packages/react/cypress-image-diff-html-report

packages/canary-react/cypress-image-diff-screenshots/comparison
packages/react/cypress-image-diff-screenshots/comparison

packages/canary-react/cypress-image-diff-screenshots/diff
packages/react/cypress-image-diff-screenshots/diff

*.log
*.lock
*.tmp
*.tmp.*
log.txt

node_modules/
.vscode/
.idea/

logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

coverage

*.tgz
.env
.npm
fly