dist/
build/

packages/web-components/docs.json
packages/web-components/.loki/current
packages/web-components/.loki/difference
packages/web-components/docs.d.ts
packages/react/css/
packages/docs/docs.d.ts

packages/web-components/storybook-static
packages/react/storybook-static

*.log
*.lock
*.tmp
*.tmp.*
log.txt

node_modules/
.vscode/
.idea/

logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

coverage

*.tgz
.env
.npm
fly