@import "../../global/normalize.css";

:host {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--ic-space-sm);
  width: fit-content;
}

:host([small]) {
  margin-bottom: 0.625rem;
}

:host([additional-field-display="static"]) ::slotted(ic-textfield) {
  margin-top: var(--ic-space-xs);
  margin-left: var(--ic-space-xl);
}

/* The label turns grey when disabled  */
:host([disabled]) {
  color: var(--ic-architectural-200);
}

/* Focus states */

.container input:focus + span.checkmark,
:host(:focus) .container input:checked + span.checkmark {
  box-shadow: var(--ic-border-focus);
}

/* The container */
.container {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  margin-left: var(--ic-space-xxs);
}

.container.disabled,
.container.disabled input:disabled {
  cursor: default;
}

/* Hide the browser's default radio button */
.container input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  border-radius: 50%;
  border: none;
}

/* Create a custom radio button */
.checkmark {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background-color: transparent;
  border: 0.063rem solid #a7acb3;
  border-radius: 50%;
  transition: var(--ic-easing-transition-fast);
  margin: 0 0.063rem;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark::after {
  display: inline-block;
}

/* On mouse-over, add a light blue background color */
.container:hover input ~ .checkmark {
  background-color: var(--ic-action-default-bg-hover);
  box-shadow: 0 0 0 0.25rem var(--ic-action-default-bg-hover);
  border: 0.063rem solid var(--ic-action-default);
}

/* When pressed, adds the active colours */
.container:active input ~ .checkmark {
  background-color: var(--ic-action-default-bg-active);
  border: 0.063rem solid var(--ic-action-default-active);
  box-shadow: 0 0 0 0.25rem var(--ic-action-default-bg-active);
}

/* When pressed, adds the active colours */
.container:active input:checked ~ .checkmark {
  background-color: var(--ic-action-default-bg-active);
  border: 0.125rem solid var(--ic-action-default-active);
  box-shadow: 0 0 0 0.25rem var(--ic-action-default-bg-active);
}

/* When pressed and selected, adds the active colours */
.container:active input:checked ~ .checkmark::after {
  background-color: var(--ic-action-default-active);
}

/* When the radio button is checked */
.container input:checked ~ .checkmark {
  border: 0.125rem solid var(--ic-action-default);
  margin: 0;
}

/* When the radio button is checked and disabled */
.container input:checked:disabled ~ .checkmark {
  background-color: transparent;
  border: 0.125rem solid var(--ic-architectural-200);
}

/* When the radio button is disabled */
.container input:disabled ~ .checkmark {
  border: 0.063rem dashed var(--ic-architectural-200);
}

/* When the radio button is disabled */
.container input:disabled ~ .checkmark::after {
  background: var(--ic-architectural-200);
}

/* On mouse-over inactive */
.container:hover input:disabled ~ .checkmark {
  background-color: transparent;
  box-shadow: none;
  border: 0.125rem solid none;
}

.container:active input:disabled ~ .checkmark::after {
  background-color: var(--ic-architectural-200);
}

/* Style the indicator (dot/circle) */
.container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 0.125rem;
  left: 0.125rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--ic-action-default);
}

.radio-label {
  font-size: 1rem;
  font-weight: 400;
  margin-left: var(--ic-space-sm);
}

.addition-field-wrapper {
  margin-left: 2.75rem;
}

/* The line */
.branch-corner {
  color: var(--ic-action-default);
  height: var(--ic-space-md);
  width: var(--ic-space-xl);
  border-radius: 0 0 0 0.188rem;
  border-bottom: 0.125rem solid var(--ic-action-default);
  border-left: 0.125rem solid var(--ic-action-default);
  margin-left: -0.063rem;
}

/* The dynamic container */
.dynamic-container {
  display: flex;
  position: relative;
  margin-left: var(--ic-space-md);
  margin-top: 0.375rem;
  gap: var(--ic-space-xs);
}

.dynamic-container.hidden {
  display: none;
}

.dynamic-text {
  color: var(--ic-action-default);
  margin-top: 0.313rem;
  margin-bottom: var(--ic-space-xs);
  border-radius: 2%;
}

@media (max-width: 576px) {
  ::slotted(ic-text-field) {
    --input-width: 100%;
  }
}

@media (forced-colors: active) {
  /* Styles here only apply to Forced Colors Mode */

  .container input:checked ~ .checkmark,
  .container:active input:checked ~ .checkmark {
    border-color: Highlight;
  }

  .container input:checked ~ .checkmark::after,
  .container:active input:checked ~ .checkmark::after {
    background-color: Highlight;
  }

  .container input:disabled ~ .checkmark,
  .container input:checked:disabled ~ .checkmark {
    border-color: GrayText;
  }

  .container input:disabled ~ .checkmark::after,
  .container:active input:disabled ~ .checkmark::after {
    background-color: GrayText;
  }
}
