/* colors for system light mode\light theme */
:root,
ic-theme,
.ic-theme-light {
  /* Text */
  --ic-color-text-primary: var(--ic-color-text-primary-light);
  --ic-color-text-secondary: var(--ic-color-text-secondary-light);
  --ic-color-text-tertiary: var(--ic-color-text-tertiary-light);
  --ic-color-text-inverse: var(--ic-color-text-inverse-light);

  /* Backgrounds */
  --ic-color-background-primary: var(--ic-color-background-primary-light);
  --ic-color-background-secondary: var(--ic-color-background-secondary-light);
  --ic-color-background-active: var(--ic-color-background-active-light);
  --ic-color-background-hover: var(--ic-color-background-hover-light);
  --ic-color-background-pressed: var(--ic-color-background-pressed-light);
  --ic-color-background-disabled: var(--ic-color-background-disabled-light);
  --ic-color-background-success: var(--ic-color-background-success-light);
  --ic-color-background-warning: var(--ic-color-background-warning-light);
  --ic-color-background-destructive: var(
    --ic-color-background-destructive-light
  );
  --ic-color-background-destructive-hover: var(
    --ic-color-background-destructive-hover-light
  );
  --ic-color-background-destructive-pressed: var(
    --ic-color-background-destructive-pressed-light
  );
  --ic-color-background-neutral: var(--ic-color-background-neutral-light);

  /* Borders */
  --ic-color-border-neutral-grey: var(--ic-color-border-neutral-grey-light);
  --ic-color-border-neutral-hover: var(--ic-color-border-neutral-hover-light);
  --ic-color-border-neutral-pressed: var(
    --ic-color-border-neutral-pressed-light
  );
  --ic-color-border-neutral-disabled: var(
    --ic-color-border-neutral-disabled-light
  );
  --ic-color-border-success: var(--ic-color-border-success-light);
  --ic-color-border-success-hover: var(--ic-color-border-success-hover-light);
  --ic-color-border-success-pressed: var(
    --ic-color-border-success-pressed-light
  );
  --ic-color-border-warning: var(--ic-color-border-warning-light);
  --ic-color-border-warning-hover: var(--ic-color-border-warning-hover-light);
  --ic-color-border-warning-pressed: var(
    --ic-color-border-warning-pressed-light
  );
  --ic-color-border-error: var(--ic-color-border-error-light);
  --ic-color-border-error-hover: var(--ic-color-border-error-hover-light);
  --ic-color-border-error-pressed: var(--ic-color-border-error-pressed-light);

  /* Action colors */
  --ic-action-default: var(--ic-action-default-light);
  --ic-action-default-hover: var(--ic-action-default-hover-light);
  --ic-action-default-pressed: var(--ic-action-default-pressed-light);
  --ic-action-destructive: var(--ic-action-destructive-light);
  --ic-action-destructive-hover: var(--ic-action-destructive-hover-light);
  --ic-action-destructive-pressed: var(--ic-action-destructive-pressed-light);
  --ic-action-neutral: var(--ic-action-neutral-light);

  /* Hyperlinks */
  --ic-color-hyperlink-default: var(--ic-color-hyperlink-default-light);
  --ic-color-hyperlink-visited: var(--ic-color-hyperlink-visited-light);
  --ic-color-hyperlink-visited-monochrome: var(
    --ic-color-hyperlink-visited-monochrome-light
  );

  /* Status */
  --ic-status-success: var(--ic-status-success-light);
  --ic-status-warning: var(--ic-status-warning-light);
  --ic-status-error: var(--ic-status-error-light);
  --ic-status-anomalous: var(--ic-status-anomalous-light);
  --ic-status-info: var(--ic-status-info-light);
  --ic-status-unknown: var(--ic-status-unknown-light);

  /* Icons */
  --ic-color-icon-grey: var(--ic-color-icon-grey-light);
  --ic-color-icon-hover: var(--ic-color-icon-hover-light);
  --ic-color-icon-pressed: var(--ic-color-icon-pressed-light);
  --ic-color-icon-disabled: var(--ic-color-icon-disabled-light);
  --ic-color-icon-action-default: var(--ic-color-icon-action-default-light);
  --ic-color-icon-error: var(--ic-color-icon-error-light);

  /* Typography */
  --ic-typography-color: var(--ic-color-text-primary);

  /* Badge */
  --ic-badge-text: var(--ic-color-text-inverse);
  --ic-badge-icon: var(--ic-color-text-inverse);
  --ic-badge-warning-text: var(--ic-color-text-primary);
  --ic-badge-warning-icon: var(--ic-color-icon-neutral);
  --ic-badge-light-text: var(--ic-color-text-primary);
  --ic-badge-light-icon: var(--ic-color-icon-neutral);
  --ic-badge-success: var(--ic-status-success-default);
  --ic-badge-warning: var(--ic-status-warning-default);
  --ic-badge-error: var(--ic-status-error-default);
  --ic-badge-info: var(--ic-status-info-default);
  --ic-badge-neutral: var(--ic-status-unknown-mid);
  --ic-badge-light: var(--ic-color-background-primary);

  /* Breadcrumbs */
  --ic-breadcrumb-page-title: var(--ic-color-hyperlink-default);
  --ic-breadcrumb-page-title-hover: var(--ic-color-hyperlink-default);
  --ic-breadcrumb-page-title-pressed: var(--ic-color-hyperlink-default);
  --ic-breadcrumb-page-title-monochrome: var(--ic-color-text-primary);
  --ic-breadcrumb-page-title-hover-monochrome: var(--ic-color-text-primary);
  --ic-breadcrumb-page-title-pressed-monochrome: var(--ic-color-text-primary);
  --ic-breadcrumb-icon-chevron: var(--ic-color-icon-grey-default);
  --ic-breadcrumb-icon-chevron-monochrome: var(--ic-color-icon-grey-dark);
  --ic-breadcrumb-page-icon: var(--ic-color-icon-action-default);
  --ic-breadcrumb-page-icon-monochrome: var(--ic-color-icon-neutral);
  --ic-breadcrumb-text: var(--ic-color-text-primary);
  --ic-breadcrumb-text-monochrome: var(--ic-color-text-primary);

  /* Chips */
  --ic-chip-label: var(--ic-color-text-primary);
  --ic-chip-label-inactive: var(--ic-color-text-inactive);
  --ic-chip-icon: var(--ic-color-icon-neutral);
  --ic-chip-icon-inactive: var(--ic-color-icon-disabled-dark);
  --ic-chip-outline: var(--ic-color-text-primary);
  --ic-chip-outline-inactive: var(--ic-color-border-neutral-disabled);
  --ic-chip-outline-background: var(--ic-color-background-primary);
  --ic-chip-background-filled-default: var(--ic-state-layer-neutral-default);
  --ic-chip-background-filled-inactive: var(--ic-state-layer-neutral-light);
  --ic-chip-action-hover: var(--ic-action-dark-bg-hover);
  --ic-chip-action-pressed: var(--ic-action-dark-bg-pressed);

  /* Data list */
  --ic-data-list-text-cell: var(--ic-color-text-primary);
  --ic-data-list-text-heading: var(--ic-color-text-primary);
  --ic-data-list-text-label: var(--ic-color-text-tertiary);
  --ic-data-list-keyline-heading: var(--ic-color-border-neutral-default);
  --ic-data-list-keyline-cell: var(--ic-color-border-neutral-default);

  /* Empty state */
  --ic-empty-state-title: var(--ic-color-text-primary);
  --ic-empty-state-subtitle: var(--ic-color-text-secondary);
  --ic-empty-state-body: var(--ic-color-text-tertiary);

  /* Links */
  --ic-link-text: var(--ic-color-hyperlink-default);
  --ic-link-text-hover: var(--ic-color-hyperlink-default);
  --ic-link-text-pressed: var(--ic-color-hyperlink-default);
  --ic-link-text-focused: var(--ic-color-hyperlink-default);
  --ic-link-text-visited: var(--ic-color-hyperlink-visited);
  --ic-link-text-monochrome: var(--ic-color-text-primary);
  --ic-link-text-hover-monochrome: var(--ic-color-text-primary);
  --ic-link-text-pressed-monochrome: var(--ic-color-text-primary);
  --ic-link-text-focused-monochrome: var(--ic-color-text-primary);
  --ic-link-text-visited-monochrome: var(--ic-color-text-secondary);
  --ic-link-icon-launch: var(--ic-color-hyperlink-default);
  --ic-link-icon-launch-visited: var(--ic-color-hyperlink-visited);
  --ic-link-icon-launch-monochrome: var(--ic-color-text-primary);
  --ic-link-icon-launch-visited-monochrome: var(--ic-color-text-secondary);

  /* Skeleton */
  --ic-skeleton-background: var(--ic-architectural-100);
  --ic-skeleton-background-secondary: var(--ic-architectural-200);

  /* Status tags */
  --ic-status-tag-text: var(--ic-color-text-inverse);
  --ic-status-tag-text-inverted: var(--ic-color-text-primary);
  --ic-status-tag-outlined-text: var(--ic-color-text-primary);
  --ic-status-tag-success: var(--ic-status-success-default);
  --ic-status-tag-outlined-background-success: var(--ic-status-success-light);
  --ic-status-tag-outlined-success: var(--ic-status-success-default);
  --ic-status-tag-error: var(--ic-status-error-default);
  --ic-status-tag-outlined-background-error: var(--ic-status-error-light);
  --ic-status-tag-outlined-error: var(--ic-status-error-dark);
  --ic-status-tag-warning: var(--ic-status-warning-contrast);
  --ic-status-tag-outlined-background-warning: var(--ic-status-warning-light);
  --ic-status-tag-outlined-warning: var(--ic-status-warning-dark);
  --ic-status-tag-neutral: var(--ic-status-unknown-mid);
  --ic-status-tag-outlined-background-neutral: var(
    --ic-status-unknown-outlined
  );
  --ic-status-tag-outlined-neutral: var(--ic-status-unknown-mid);

  /* Tabs */
  --ic-tab-label: var(--ic-color-text-primary);
  --ic-tab-label-monochrome: var(--ic-color-text-primary);
  --ic-tab-icon: var(--ic-color-icon-neutral);
  --ic-tab-icon-monochrome: var(--ic-color-icon-neutral);
  --ic-tab-bottom-border: var(--ic-color-border-neutral-grey-dark);
  --ic-tab-bottom-border-monochrome: var(--ic-color-border-neutral-black);
  --ic-tab-item-pressed: var(--ic-action-default-bg-active);
  --ic-tab-item-pressed-monochrome: var(--ic-action-dark-bg-pressed);
  --ic-tab-item: var(--ic-action-default);
  --ic-tab-item-monochrome: var(--ic-action-dark);
  --ic-tab-item-hover: var(--ic-action-default-bg-hover);
  --ic-tab-item-hover-monochrome: var(--ic-action-dark-bg-hover);
}

/* colors for system dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Text */
    --ic-color-text-primary: var(--ic-color-text-primary-dark);
    --ic-color-text-secondary: var(--ic-color-text-secondary-dark);
    --ic-color-text-tertiary: var(--ic-color-text-tertiary-dark);
    --ic-color-text-inverse: var(--ic-color-text-inverse-dark);

    /* Backgrounds */
    --ic-color-background-primary: var(--ic-color-background-primary-dark);
    --ic-color-background-secondary: var(--ic-color-background-secondary-dark);
    --ic-color-background-active: var(--ic-color-background-active-dark);
    --ic-color-background-hover: var(--ic-color-background-hover-dark);
    --ic-color-background-pressed: var(--ic-color-background-pressed-dark);
    --ic-color-background-disabled: var(--ic-color-background-disabled-dark);
    --ic-color-background-success: var(--ic-color-background-success-dark);
    --ic-color-background-warning: var(--ic-color-background-warning-dark);
    --ic-color-background-destructive: var(
      --ic-color-background-destructive-dark
    );
    --ic-color-background-destructive-hover: var(
      --ic-color-background-destructive-hover-dark
    );
    --ic-color-background-destructive-pressed: var(
      --ic-color-background-destructive-pressed-dark
    );
    --ic-color-background-neutral: var(--ic-color-background-neutral-dark);

    /* Borders */
    --ic-color-border-neutral-grey: var(--ic-color-border-neutral-grey-dark);
    --ic-color-border-neutral-hover: var(--ic-color-border-neutral-hover-dark);
    --ic-color-border-neutral-pressed: var(
      --ic-color-border-neutral-pressed-dark
    );
    --ic-color-border-neutral-disabled: var(
      --ic-color-border-neutral-disabled-dark
    );
    --ic-color-border-success: var(--ic-color-border-success-dark);
    --ic-color-border-success-hover: var(--ic-color-border-success-hover-dark);
    --ic-color-border-success-pressed: var(
      --ic-color-border-success-pressed-dark
    );
    --ic-color-border-warning: var(--ic-color-border-warning-dark);
    --ic-color-border-warning-hover: var(--ic-color-border-warning-hover-dark);
    --ic-color-border-warning-pressed: var(
      --ic-color-border-warning-pressed-dark
    );
    --ic-color-border-error: var(--ic-color-border-error-dark);
    --ic-color-border-error-hover: var(--ic-color-border-error-hover-dark);
    --ic-color-border-error-pressed: var(--ic-color-border-error-pressed-dark);

    /* Action colors */
    --ic-action-default: var(--ic-action-default-dark);
    --ic-action-default-hover: var(--ic-action-default-hover-dark);
    --ic-action-default-pressed: var(--ic-action-default-pressed-dark);
    --ic-action-destructive: var(--ic-action-destructive-dark);
    --ic-action-destructive-hover: var(--ic-action-destructive-hover-dark);
    --ic-action-destructive-pressed: var(--ic-action-destructive-pressed-dark);
    --ic-action-neutral: var(--ic-action-neutral-dark);

    /* Hyperlinks */
    --ic-color-hyperlink-default: var(--ic-color-hyperlink-default-dark);
    --ic-color-hyperlink-visited: var(--ic-color-hyperlink-visited-dark);
    --ic-color-hyperlink-visited-monochrome: var(
      --ic-color-hyperlink-visited-monochrome-dark
    );

    /* Status */
    --ic-status-success: var(--ic-status-success-dark);
    --ic-status-warning: var(--ic-status-warning-dark);
    --ic-status-error: var(--ic-status-error-dark);
    --ic-status-anomalous: var(--ic-status-anomalous-dark);
    --ic-status-info: var(--ic-status-info-dark);
    --ic-status-unknown: var(--ic-status-unknown-dark);

    /* Icons */
    --ic-color-icon-grey: var(--ic-color-icon-grey-dark);
    --ic-color-icon-hover: var(--ic-color-icon-hover-dark);
    --ic-color-icon-pressed: var(--ic-color-icon-pressed-dark);
    --ic-color-icon-disabled: var(--ic-color-icon-disabled-dark);
    --ic-color-icon-action-default: var(--ic-color-icon-action-default-dark);
    --ic-color-icon-error: var(--ic-color-icon-error-dark);

    /* Badge */
    --ic-badge-text: var(--ic-color-text-inverse);
    --ic-badge-icon: var(--ic-color-text-inverse);
    --ic-badge-warning-text: var(--ic-color-text-inverse);
    --ic-badge-warning-icon: var(--ic-color-icon-neutral);
    --ic-badge-light-text: var(--ic-color-text-primary);
    --ic-badge-light-icon: var(--ic-color-icon-inverted);
    --ic-badge-success: var(--ic-status-success-contrast);
    --ic-badge-warning: var(--ic-status-warning-contrast);
    --ic-badge-error: var(--ic-status-error-contrast);
    --ic-badge-info: var(--ic-status-info-light);
    --ic-badge-light: var(--ic-status-unknown-dark);
    --ic-badge-neutral: var(--ic-color-background-primary-light);

    /* Breadcrumbs */
    --ic-breadcrumb-page-title: var(--ic-color-hyperlink-default-dark);
    --ic-breadcrumb-page-title-hover: var(--ic-color-hyperlink-default-dark);
    --ic-breadcrumb-page-title-pressed: var(--ic-color-hyperlink-default-dark);
    --ic-breadcrumb-page-title-monochrome: var(--ic-color-text-primary);
    --ic-breadcrumb-page-title-hover-monochrome: var(--ic-color-text-primary);
    --ic-breadcrumb-page-title-pressed-monochrome: var(--ic-color-text-primary);
    --ic-breadcrumb-icon-chevron: var(--ic-color-icon-grey-default);
    --ic-breadcrumb-icon-chevron-monochrome: var(--ic-color-icon-grey-dark);
    --ic-breadcrumb-page-icon: var(--ic-color-icon-action-default-dark);
    --ic-breadcrumb-page-icon-monochrome: var(--ic-color-icon-inverted);
    --ic-breadcrumb-text: var(--ic-color-text-primary);
    --ic-breadcrumb-text-monochrome: var(--ic-color-text-primary);

    /* Chips */
    --ic-chip-label: var(--ic-color-text-primary-dark);
    --ic-chip-label-inactive: var(--ic-color-text-inactive);
    --ic-chip-icon: var(--ic-color-icon-inverted);
    --ic-chip-icon-inactive: var(--ic-color-icon-chevron);
    --ic-chip-outline: var(--ic-color-text-primary-dark);
    --ic-chip-outline-inactive: var(--ic-color-border-neutral-white);
    --ic-chip-outline-background: var(--ic-color-background-primary-dark);
    --ic-chip-background-filled-default: var(--ic-state-layer-neutral-darker);
    --ic-chip-background-filled-inactive: var(--ic-state-layer-neutral-darker);
    --ic-chip-action-hover: var(--ic-action-light-bg-hover);
    --ic-chip-action-pressed: var(--ic-action-light-bg-pressed);

    /* Data list */
    --ic-data-list-text-cell: var(--ic-color-text-primary);
    --ic-data-list-text-heading: var(--ic-color-text-primary);
    --ic-data-list-text-label: var(--ic-color-text-tertiary);
    --ic-data-list-keyline-heading: var(--ic-color-border-neutral-default);
    --ic-data-list-keyline-cell: var(--ic-color-border-neutral-default);

    /* Empty state */
    --ic-empty-state-title: var(--ic-color-text-primary);
    --ic-empty-state-subtitle: var(--ic-color-text-secondary);
    --ic-empty-state-body: var(--ic-color-text-tertiary);

    /* Links */
    --ic-link-text: var(--ic-color-hyperlink-default-dark);
    --ic-link-text-hover: var(--ic-color-hyperlink-default-dark);
    --ic-link-text-pressed: var(--ic-color-hyperlink-default-dark);
    --ic-link-text-focused: var(--ic-color-hyperlink-default-dark);
    --ic-link-text-visited: var(--ic-color-hyperlink-visited-dark);
    --ic-link-text-monochrome: var(--ic-color-text-primary);
    --ic-link-text-hover-monochrome: var(--ic-color-text-primary);
    --ic-link-text-pressed-monochrome: var(--ic-color-text-primary);
    --ic-link-text-focused-monochrome: var(--ic-color-text-primary);
    --ic-link-text-visited-monochrome: var(
      --ic-color-hyperlink-visited-monochrome-dark
    );
    --ic-link-icon-launch: var(--ic-color-hyperlink-default-dark);
    --ic-link-icon-launch-visited: var(--ic-color-hyperlink-visited-dark);
    --ic-link-icon-launch-monochrome: var(--ic-color-text-primary);
    --ic-link-icon-launch-visited-monochrome: var(
      --ic-color-hyperlink-visited-monochrome-dark
    );

    /* Skeleton */
    --ic-skeleton-background: var(--ic-architectural-400);
    --ic-skeleton-background-secondary: var(--ic-architectural-600);

    /* Status tags */
    --ic-status-tag-text: var(--ic-color-text-inverse);
    --ic-status-tag-text-inverted: var(--ic-color-text-primary);
    --ic-status-tag-outlined-text: var(--ic-color-text-inverse);
    --ic-status-tag-success: var(--ic-status-success-contrast);
    --ic-status-tag-outlined-background-success: var(
      --ic-status-success-outlined
    );
    --ic-status-tag-outlined-success: var(--ic-status-success-contrast);
    --ic-status-tag-error: var(--ic-status-error-contrast);
    --ic-status-tag-outlined-background-error: var(--ic-status-error-outlined);
    --ic-status-tag-outlined-error: var(--ic-status-error-light);
    --ic-status-tag-warning: var(--ic-status-warning-light);
    --ic-status-tag-outlined-background-warning: var(
      --ic-status-warning-outlined
    );
    --ic-status-tag-outlined-warning: var(--ic-status-warning-light);
    --ic-status-tag-neutral: var(--ic-status-unknown-contrast);
    --ic-status-tag-outlined-background-neutral: var(--ic-status-unknown-light);
    --ic-status-tag-outlined-neutral: var(--ic-status-unknown-default);

    /* Tabs */
    --ic-tab-label: var(--ic-color-text-primary-dark);
    --ic-tab-label-monochrome: var(--ic-color-text-inverse-light);
    --ic-tab-icon: var(--ic-color-icon-inverted);
    --ic-tab-icon-monochrome: var(--ic-color-icon-inverted);
    --ic-tab-bottom-border: var(--ic-color-border-neutral-white);
    --ic-tab-bottom-border-monochrome: var(--ic-color-border-neutral-white);
    --ic-tab-item-pressed: var(--ic-action-light-bg-pressed);
    --ic-tab-item-pressed-monochrome: var(--ic-action-light-bg-pressed);
    --ic-tab-item: var(--ic-action-light);
    --ic-tab-item-monochrome: var(--ic-action-light);
    --ic-tab-item-hover: var(--ic-action-light-bg-hover);
    --ic-tab-item-hover-monochrome: var(--ic-action-dark-bg-hover);
  }
}

/* colors for dark theme */
.ic-theme-dark {
  /* Text */
  --ic-color-text-primary: var(--ic-color-text-primary-dark);
  --ic-color-text-secondary: var(--ic-color-text-secondary-dark);
  --ic-color-text-tertiary: var(--ic-color-text-tertiary-dark);
  --ic-color-text-inverse: var(--ic-color-text-inverse-dark);

  /* Backgrounds */
  --ic-color-background-primary: var(--ic-color-background-primary-dark);
  --ic-color-background-secondary: var(--ic-color-background-secondary-dark);
  --ic-color-background-active: var(--ic-color-background-active-dark);
  --ic-color-background-hover: var(--ic-color-background-hover-dark);
  --ic-color-background-pressed: var(--ic-color-background-pressed-dark);
  --ic-color-background-disabled: var(--ic-color-background-disabled-dark);
  --ic-color-background-success: var(--ic-color-background-success-dark);
  --ic-color-background-warning: var(--ic-color-background-warning-dark);
  --ic-color-background-destructive: var(
    --ic-color-background-destructive-dark
  );
  --ic-color-background-destructive-hover: var(
    --ic-color-background-destructive-hover-dark
  );
  --ic-color-background-destructive-pressed: var(
    --ic-color-background-destructive-pressed-dark
  );
  --ic-color-background-neutral: var(--ic-color-background-neutral-dark);

  /* Borders */
  --ic-color-border-neutral-grey: var(--ic-color-border-neutral-grey-dark);
  --ic-color-border-neutral-hover: var(--ic-color-border-neutral-hover-dark);
  --ic-color-border-neutral-pressed: var(
    --ic-color-border-neutral-pressed-dark
  );
  --ic-color-border-neutral-disabled: var(
    --ic-color-border-neutral-disabled-dark
  );
  --ic-color-border-success: var(--ic-color-border-success-dark);
  --ic-color-border-success-hover: var(--ic-color-border-success-hover-dark);
  --ic-color-border-success-pressed: var(
    --ic-color-border-success-pressed-dark
  );
  --ic-color-border-warning: var(--ic-color-border-warning-dark);
  --ic-color-border-warning-hover: var(--ic-color-border-warning-hover-dark);
  --ic-color-border-warning-pressed: var(
    --ic-color-border-warning-pressed-dark
  );
  --ic-color-border-error: var(--ic-color-border-error-dark);
  --ic-color-border-error-hover: var(--ic-color-border-error-hover-dark);
  --ic-color-border-error-pressed: var(--ic-color-border-error-pressed-dark);

  /* Action colors */
  --ic-action-default: var(--ic-action-default-dark);
  --ic-action-default-hover: var(--ic-action-default-hover-dark);
  --ic-action-default-pressed: var(--ic-action-default-pressed-dark);
  --ic-action-destructive: var(--ic-action-destructive-dark);
  --ic-action-destructive-hover: var(--ic-action-destructive-hover-dark);
  --ic-action-destructive-pressed: var(--ic-action-destructive-pressed-dark);
  --ic-action-neutral: var(--ic-action-neutral-dark);

  /* Hyperlinks */
  --ic-color-hyperlink-default: var(--ic-color-hyperlink-default-dark);
  --ic-color-hyperlink-visited: var(--ic-color-hyperlink-visited-dark);
  --ic-color-hyperlink-visited-monochrome: var(
    --ic-color-hyperlink-visited-monochrome-dark
  );

  /* Status */
  --ic-status-success: var(--ic-status-success-dark);
  --ic-status-warning: var(--ic-status-warning-dark);
  --ic-status-error: var(--ic-status-error-dark);
  --ic-status-anomalous: var(--ic-status-anomalous-dark);
  --ic-status-info: var(--ic-status-info-dark);
  --ic-status-unknown: var(--ic-status-unknown-dark);

  /* Icons */
  --ic-color-icon-grey: var(--ic-color-icon-grey-dark);
  --ic-color-icon-hover: var(--ic-color-icon-hover-dark);
  --ic-color-icon-pressed: var(--ic-color-icon-pressed-dark);
  --ic-color-icon-disabled: var(--ic-color-icon-disabled-dark);
  --ic-color-icon-action-default: var(--ic-color-icon-action-default-dark);
  --ic-color-icon-error: var(--ic-color-icon-error-dark);

  /* Badge */
  --ic-badge-text: var(--ic-color-text-inverse);
  --ic-badge-icon: var(--ic-color-text-inverse);
  --ic-badge-warning-text: var(--ic-color-text-inverse);
  --ic-badge-warning-icon: var(--ic-color-icon-neutral);
  --ic-badge-light-text: var(--ic-color-text-primary);
  --ic-badge-light-icon: var(--ic-color-icon-inverted);
  --ic-badge-success: var(--ic-status-success-contrast);
  --ic-badge-warning: var(--ic-status-warning-contrast);
  --ic-badge-error: var(--ic-status-error-contrast);
  --ic-badge-info: var(--ic-status-info-light);
  --ic-badge-light: var(--ic-status-unknown-dark);
  --ic-badge-neutral: var(--ic-color-background-primary-light);

  /* Breadcrumbs */
  --ic-breadcrumb-page-title: var(--ic-color-hyperlink-default-dark);
  --ic-breadcrumb-page-title-hover: var(--ic-color-hyperlink-default-dark);
  --ic-breadcrumb-page-title-pressed: var(--ic-color-hyperlink-default-dark);
  --ic-breadcrumb-page-title-monochrome: var(--ic-color-text-primary);
  --ic-breadcrumb-page-title-hover-monochrome: var(--ic-color-text-primary);
  --ic-breadcrumb-page-title-pressed-monochrome: var(--ic-color-text-primary);
  --ic-breadcrumb-icon-chevron: var(--ic-color-icon-grey-default);
  --ic-breadcrumb-icon-chevron-monochrome: var(--ic-color-icon-grey-dark);
  --ic-breadcrumb-page-icon: var(--ic-color-icon-action-default-dark);
  --ic-breadcrumb-page-icon-monochrome: var(--ic-color-icon-inverted);
  --ic-breadcrumb-text: var(--ic-color-text-primary);
  --ic-breadcrumb-text-monochrome: var(--ic-color-text-primary);

  /* Chips */
  --ic-chip-label: var(--ic-color-text-primary-dark);
  --ic-chip-label-inactive: var(--ic-color-text-inactive);
  --ic-chip-icon: var(--ic-color-icon-inverted);
  --ic-chip-icon-inactive: var(--ic-color-icon-chevron);
  --ic-chip-outline: var(--ic-color-text-primary-dark);
  --ic-chip-outline-inactive: var(--ic-color-border-neutral-white);
  --ic-chip-outline-background: var(--ic-color-background-primary-dark);
  --ic-chip-background-filled-default: var(--ic-state-layer-neutral-darker);
  --ic-chip-background-filled-inactive: var(--ic-state-layer-neutral-darker);
  --ic-chip-action-hover: var(--ic-action-light-bg-hover);
  --ic-chip-action-pressed: var(--ic-action-light-bg-pressed);

  /* Data list */
  --ic-data-list-text-cell: var(--ic-color-text-primary);
  --ic-data-list-text-heading: var(--ic-color-text-primary);
  --ic-data-list-text-label: var(--ic-color-text-tertiary);
  --ic-data-list-keyline-heading: var(--ic-color-border-neutral-default);
  --ic-data-list-keyline-cell: var(--ic-color-border-neutral-default);

  /* Empty state */
  --ic-empty-state-title: var(--ic-color-text-primary);
  --ic-empty-state-subtitle: var(--ic-color-text-secondary);
  --ic-empty-state-body: var(--ic-color-text-tertiary);

  /* Links */
  --ic-link-text: var(--ic-color-hyperlink-default-dark);
  --ic-link-text-hover: var(--ic-color-hyperlink-default-dark);
  --ic-link-text-pressed: var(--ic-color-hyperlink-default-dark);
  --ic-link-text-focused: var(--ic-color-hyperlink-default-dark);
  --ic-link-text-visited: var(--ic-color-hyperlink-visited-dark);
  --ic-link-text-monochrome: var(--ic-color-text-primary);
  --ic-link-text-hover-monochrome: var(--ic-color-text-primary);
  --ic-link-text-pressed-monochrome: var(--ic-color-text-primary);
  --ic-link-text-focused-monochrome: var(--ic-color-text-primary);
  --ic-link-text-visited-monochrome: var(
    --ic-color-hyperlink-visited-monochrome-dark
  );
  --ic-link-icon-launch: var(--ic-color-hyperlink-default-dark);
  --ic-link-icon-launch-visited: var(--ic-color-hyperlink-visited-dark);
  --ic-link-icon-launch-monochrome: var(--ic-color-text-primary);
  --ic-link-icon-launch-visited-monochrome: var(
    --ic-color-hyperlink-visited-monochrome-dark
  );

  /* Skeleton */
  --ic-skeleton-background: var(--ic-architectural-400);
  --ic-skeleton-background-secondary: var(--ic-architectural-600);

  /* Status tags */
  --ic-status-tag-text: var(--ic-color-text-inverse);
  --ic-status-tag-text-inverted: var(--ic-color-text-primary);
  --ic-status-tag-outlined-text: var(--ic-color-text-inverse);
  --ic-status-tag-success: var(--ic-status-success-contrast);
  --ic-status-tag-outlined-background-success: var(
    --ic-status-success-outlined
  );
  --ic-status-tag-outlined-success: var(--ic-status-success-contrast);
  --ic-status-tag-error: var(--ic-status-error-contrast);
  --ic-status-tag-outlined-background-error: var(--ic-status-error-outlined);
  --ic-status-tag-outlined-error: var(--ic-status-error-light);
  --ic-status-tag-warning: var(--ic-status-warning-light);
  --ic-status-tag-outlined-background-warning: var(
    --ic-status-warning-outlined
  );
  --ic-status-tag-outlined-warning: var(--ic-status-warning-light);
  --ic-status-tag-neutral: var(--ic-status-unknown-contrast);
  --ic-status-tag-outlined-background-neutral: var(--ic-status-unknown-light);
  --ic-status-tag-outlined-neutral: var(--ic-status-unknown-default);

  /* Tabs */
  --ic-tab-label: var(--ic-color-text-primary-dark);
  --ic-tab-label-monochrome: var(--ic-color-text-inverse-light);
  --ic-tab-icon: var(--ic-color-icon-inverted);
  --ic-tab-icon-monochrome: var(--ic-color-icon-inverted);
  --ic-tab-divider: var(--ic-state-layer-neutral-light);
  --ic-tab-divider-monochrome: var(--ic-color-icon-inverted);
  --ic-tab-bottom-border: var(--ic-color-border-neutral-white);
  --ic-tab-bottom-border-monochrome: var(--ic-color-border-neutral-white);
  --ic-tab-item-pressed: var(--ic-action-light-bg-pressed);
  --ic-tab-item-pressed-monochrome: var(--ic-action-light-bg-pressed);
  --ic-tab-item: var(--ic-action-light);
  --ic-tab-item-monochrome: var(--ic-action-light);
  --ic-tab-item-hover: var(--ic-action-light-bg-hover);
  --ic-tab-item-hover-monochrome: var(--ic-action-dark-bg-hover);
}
