@import "color-mode.css";

:root {
  /* BASE COLOURS */

  /* architectural */
  --ic-architectural-20: #f9fafa;
  --ic-architectural-40: #f4f4f5;
  --ic-architectural-60: #eeeff0;
  --ic-architectural-80: #e8e9eb;
  --ic-architectural-100: #e1e3e5;
  --ic-architectural-200: #c4c8cd;
  --ic-architectural-300: #a7acb3;
  --ic-architectural-400: #8a919b;
  --ic-architectural-500: #6c7580;
  --ic-architectural-600: #575e68;
  --ic-architectural-700: #41464d;
  --ic-architectural-800: #2c2f34;
  --ic-architectural-900: #0b0c0c;
  --ic-architectural-white: #fff;
  --ic-architectural-black: #000;
  --ic-architectural-700-state-layer-10: rgb(65 70 77 / 10%);
  --ic-architectural-700-state-layer-20: rgb(65 70 77 / 20%);
  --ic-architectural-white-state-layer-10: rgb(255 255 255 / 10%);
  --ic-architectural-white-state-layer-20: rgb(255 255 255 / 20%);
  --ic-architectural-white-state-layer-25: rgb(255 255 255 / 25%);
  --ic-architectural-white-state-layer-40: rgb(255 255 255 / 40%);
  --ic-architectural-white-state-layer-50: rgb(255 255 255 / 50%);
  --ic-architectural-black-state-layer-20: rgb(0 0 0 / 20%);
  --ic-architectural-black-state-layer-25: rgb(0 0 0 / 25%);
  --ic-architectural-black-state-layer-30: rgb(0 0 0 / 30%);
  --ic-architectural-black-state-layer-40: rgb(0 0 0 / 40%);
  --ic-architectural-black-state-layer-50: rgb(0 0 0 / 50%);

  /* blue */
  --ic-blue-0: #e1f0fc;
  --ic-blue-50: #c3e1f9;
  --ic-blue-100: #98c9f5;
  --ic-blue-200: #77b4f0;
  --ic-blue-300: #5da0ea;
  --ic-blue-400: #488fe3;
  --ic-blue-500: #377fdb;
  --ic-blue-600: #2a71d2;
  --ic-blue-700: #2064c8;
  --ic-blue-800: #1759bc;
  --ic-blue-900: #124db3;
  --ic-blue-1000: #0e43a8;
  --ic-blue-1100: #0b399c;
  --ic-blue-1200: #09308e;
  --ic-blue-1300: #07277e;
  --ic-blue-1400: #1b3c79;
  --ic-blue-1500: #122e63;
  --ic-blue-1600: #041144;
  --ic-blue-800-state-layer-10: rgb(23 89 188 / 10%);
  --ic-blue-800-state-layer-20: rgb(23 89 188 / 20%);
  --ic-blue-800-state-layer-50: rgb(23 89 188 / 50%);

  /* red */
  --ic-red-0: #ffe4e3;
  --ic-red-50: #fec9c8;
  --ic-red-100: #fca19e;
  --ic-red-200: #f9837d;
  --ic-red-300: #f66d63;
  --ic-red-400: #f15b4e;
  --ic-red-500: #ec4e3d;
  --ic-red-600: #e54330;
  --ic-red-700: #dd3b25;
  --ic-red-800: #d4351c;
  --ic-red-900: #c92c16;
  --ic-red-1000: #bc2411;
  --ic-red-1100: #ad1e0e;
  --ic-red-1300: #8b1209;
  --ic-red-1500: #610a05;

  /* green */
  --ic-green-0: #e8fef3;
  --ic-green-50: #d1fde7;
  --ic-green-100: #b2fad6;
  --ic-green-200: #97f6c8;
  --ic-green-300: #81f2bb;
  --ic-green-400: #6dedaf;
  --ic-green-500: #5ce7a3;
  --ic-green-600: #4cdf98;
  --ic-green-700: #3ed78d;
  --ic-green-800: #31cd83;
  --ic-green-900: #26c278;
  --ic-green-1000: #1bb56c;
  --ic-green-1100: #12a661;
  --ic-green-1200: #0b9655;
  --ic-green-1300: #058449;
  --ic-green-1400: #00703c;
  --ic-green-1600: #0e462b;
  --ic-green-1700: #0e3020;

  /* yellow */
  --ic-yellow-0: #fffbd8;
  --ic-yellow-50: #fff7b0;
  --ic-yellow-100: #ffed83;
  --ic-yellow-200: #ffe058;
  --ic-yellow-300: #ffd12e;
  --ic-yellow-400: #ffc107;
  --ic-yellow-500: #f8ae10;
  --ic-yellow-600: #f09d19;
  --ic-yellow-700: #e78f22;
  --ic-yellow-800: #dc832a;
  --ic-yellow-900: #d07932;
  --ic-yellow-1000: #c26f38;
  --ic-yellow-1100: #b3673c;
  --ic-yellow-1200: #a25e3f;
  --ic-yellow-1300: #8f553e;
  --ic-yellow-1400: #7a4c3c;

  /* purple */
  --ic-purple-0: #f9f2ff;
  --ic-purple-50: #efdbff;
  --ic-purple-100: #e4c5ff;
  --ic-purple-200: #d5a2fe;
  --ic-purple-300: #c988fd;
  --ic-purple-400: #bf74fc;
  --ic-purple-500: #b764fb;
  --ic-purple-600: #b057f9;
  --ic-purple-700: #ab4df7;
  --ic-purple-800: #a645f5;
  --ic-purple-900: #a13ef2;
  --ic-purple-1000: #9c38ee;
  --ic-purple-1100: #9733e8;
  --ic-purple-1200: #902fe0;
  --ic-purple-1300: #882ad5;
  --ic-purple-1400: #7c25c2;

  /* light blue */
  --ic-light-blue-0: #f7faff;
  --ic-light-blue-100: #e3ecfd;
  --ic-light-blue-600: #769ee7;
  --ic-light-blue-1000: #3d6abe;
  --ic-light-blue-1400: #1b3c79;

  /* classification colours */
  --ic-color-classification-blue: #2b71c7;
  --ic-color-classification-yellow: #f39c2c;
  --ic-color-classification-red: #a00;
  --ic-color-classification-grey: #616161;

  /* BRAND */

  /* brand blue */
  --ic-brand-blue-primary: #1b3c79;
  --ic-brand-blue-0: #eff3fa;
  --ic-brand-blue-20: #cdd5e3;
  --ic-brand-blue-40: #abb6ce;
  --ic-brand-blue-60: #8997b7;
  --ic-brand-blue-80: #6678a0;
  --ic-brand-blue-100: #445a8b;
  --ic-brand-blue-500: #192b50;
  --ic-brand-blue-700: #0c213a;
  --ic-brand-blue-800: #0e1c30;
  --ic-brand-blue-900: #0a1321;

  /* brand state layers */
  --ic-brand-darken-20: var(--ic-architectural-black-state-layer-20);
  --ic-brand-darken-30: var(--ic-architectural-black-state-layer-30);
  --ic-brand-darken-40: var(--ic-architectural-black-state-layer-40);
  --ic-brand-lighten-20: var(--ic-architectural-white-state-layer-20);
  --ic-brand-lighten-40: var(--ic-architectural-white-state-layer-40);

  /* HYPERLINKS */
  --ic-color-hyperlink-default-light: var(--ic-blue-800);
  --ic-color-hyperlink-default-dark: var(--ic-blue-300);
  --ic-color-hyperlink-visited-light: #330072; /* TODO */
  --ic-color-hyperlink-visited-dark: var(--ic-purple-300);
  --ic-color-hyperlink-visited-monochrome-light: var(--ic-architectural-700);
  --ic-color-hyperlink-visited-monochrome-dark: #b0b0b0; /* TODO */
  --ic-color-hyperlink-contrast: #5c98f2; /* TODO */
  --ic-color-hyperlink-contrast-visited: #bc75ff; /* TODO */
  --ic-color-hyperlink-contrast-hover: #db76ac; /* TODO */
  --ic-color-hyperlink-brand: var(--ic-architectural-white);

  /* FOCUS */
  --ic-color-focus-inner: #0044d7;
  --ic-color-focus-outer: #80a1e8;
  --ic-hc-focus-outline: 3px solid transparent;

  /* KEYLINE */
  --ic-color-keyline-darken: var(--ic-architectural-black-state-layer-20);
  --ic-color-keyline-lighten: var(--ic-architectural-white-state-layer-20);

  /* STATUS */

  /* success status */
  --ic-status-success-default: var(--ic-green-1400);
  --ic-status-success-light: var(--ic-green-0);
  --ic-status-success-dark: var(--ic-green-1700);
  --ic-status-success-outlined: var(--ic-green-100);
  --ic-status-success-contrast: var(--ic-green-1000);
  --ic-status-success-r: 0;
  --ic-status-success-g: 112;
  --ic-status-success-b: 60;
  --ic-status-success-a: 1;
  --ic-status-success-hover: rgb(
    calc(var(--ic-status-success-r) * 0.8)
      calc(var(--ic-status-success-g) * 0.8)
      calc(var(--ic-status-success-b) * 0.8) / var(--ic-status-success-a)
  );
  --ic-status-success-pressed: rgb(
    calc(var(--ic-status-success-r) * 0.6)
      calc(var(--ic-status-success-g) * 0.6)
      calc(var(--ic-status-success-b) * 0.6) / var(--ic-status-success-a)
  );

  /* warning status */
  --ic-status-warning-default: var(--ic-yellow-900);
  --ic-status-warning-light: var(--ic-yellow-0);
  --ic-status-warning-dark: var(--ic-yellow-1400);
  --ic-status-warning-outlined: var(--ic-yellow-100);
  --ic-status-warning-contrast: var(--ic-yellow-400);
  --ic-status-warning-r: 208;
  --ic-status-warning-g: 121;
  --ic-status-warning-b: 50;
  --ic-status-warning-a: 1;
  --ic-status-warning-hover: rgb(
    calc(var(--ic-status-warning-r) * 0.8)
      calc(var(--ic-status-warning-g) * 0.8)
      calc(var(--ic-status-warning-b) * 0.8) / var(--ic-status-warning-a)
  );
  --ic-status-warning-pressed: rgb(
    calc(var(--ic-status-warning-r) * 0.6)
      calc(var(--ic-status-warning-g) * 0.6)
      calc(var(--ic-status-warning-b) * 0.6) / var(--ic-status-warning-a)
  );

  /* error status */
  --ic-status-error-default: var(--ic-red-800);
  --ic-status-error-light: var(--ic-red-0);
  --ic-status-error-dark: var(--ic-red-1500);
  --ic-status-error-outlined: var(--ic-red-500);
  --ic-status-error-contrast: var(--ic-red-400);
  --ic-status-error-r: 212;
  --ic-status-error-g: 53;
  --ic-status-error-b: 28;
  --ic-status-error-a: 1;
  --ic-status-error-hover: rgb(
    calc(var(--ic-status-error-r) * 0.8) calc(var(--ic-status-error-g) * 0.8)
      calc(var(--ic-status-error-b) * 0.8) / var(--ic-status-error-a)
  );
  --ic-status-error-pressed: rgb(
    calc(var(--ic-status-error-r) * 0.6) calc(var(--ic-status-error-g) * 0.6)
      calc(var(--ic-status-error-b) * 0.6) / var(--ic-status-error-a)
  );

  /* info status */
  --ic-status-info-default: var(--ic-blue-900);
  --ic-status-info-light: var(--ic-blue-0);
  --ic-status-info-dark: var(--ic-blue-1600);
  --ic-status-info-contrast: var(--ic-blue-400);

  /* anomalous status */
  --ic-status-anomalous-default: var(--ic-purple-1400);
  --ic-status-anomalous-light: var(--ic-purple-50);
  --ic-status-anomalous-dark: #350f54;
  --ic-status-anomalous-contrast: var(--ic-purple-500);

  /* status unknown */
  --ic-status-unknown-default: var(--ic-architectural-500);
  --ic-status-unknown-mid: var(--ic-architectural-700);
  --ic-status-unknown-light: var(--ic-architectural-40);
  --ic-status-unknown-dark: var(--ic-architectural-800);
  --ic-status-unknown-outlined: var(--ic-architectural-200);
  --ic-status-unknown-contrast: var(--ic-architectural-300);

  /* TEXT */
  --ic-color-brand-text: var(--ic-architectural-white);
  --ic-color-text-primary-light: var(--ic-architectural-900);
  --ic-color-text-primary-dark: var(--ic-architectural-white);
  --ic-color-text-secondary-light: var(--ic-architectural-700);
  --ic-color-text-secondary-dark: var(--ic-architectural-100);
  --ic-color-text-tertiary-light: var(--ic-architectural-500);
  --ic-color-text-tertiary-dark: var(--ic-architectural-200);
  --ic-color-text-inverse-light: var(--ic-color-text-primary-dark);
  --ic-color-text-inverse-dark: var(--ic-color-text-primary-light);
  --ic-color-white-text: var(--ic-architectural-white); /* to be removed */
  --ic-color-text-disabled-default: var(--ic-architectural-300);
  --ic-color-text-disabled-light: var(--ic-architectural-200);
  --ic-color-text-disabled-dark: var(--ic-architectural-600);
  --ic-color-text-inactive: var(--ic-architectural-400);

  /* actions */
  --ic-color-text-action: var(--ic-blue-800);
  --ic-color-text-action-dark: var(--ic-blue-500);
  --ic-color-text-action-hover: var(--ic-blue-1100);
  --ic-color-text-action-pressed: var(--ic-blue-1300);
  --ic-color-text-error-light: var(--ic-red-300);
  --ic-color-text-error-dark: var(--ic-red-800);

  /* BACKGROUNDS */
  --ic-color-background-primary-light: var(--ic-architectural-white);
  --ic-color-background-primary-dark: var(--ic-architectural-800);
  --ic-color-background-secondary-light: var(--ic-architectural-20);
  --ic-color-background-secondary-40: var(--ic-architectural-40);
  --ic-color-background-secondary-dark: var(--ic-architectural-700);
  --ic-color-background-neutral-light: var(--ic-architectural-800);
  --ic-color-background-neutral-dark: var(--ic-architectural-900);
  --ic-color-background-active-light: var(--ic-blue-800);
  --ic-color-background-active-dark: var(--ic-blue-300);
  --ic-color-background-hover-default: var(--ic-blue-1100);
  --ic-color-background-hover-light: var(--ic-architectural-200);
  --ic-color-background-hover-dark: var(--ic-architectural-800);
  --ic-color-background-pressed-default: var(--ic-blue-1300);
  --ic-color-background-pressed-light: var(--ic-architectural-300);
  --ic-color-background-pressed-dark: var(--ic-architectural-700);
  --ic-color-background-disabled-default: var(--ic-architectural-200);
  --ic-color-background-disabled-light: var(--ic-architectural-80);
  --ic-color-background-disabled-dark: var(--ic-architectural-300);
  --ic-color-background-disabled-darkest: var(--ic-architectural-600);
  --ic-color-background-selected: var(--ic-architectural-white);

  /* status */
  --ic-color-background-success-light: var(--ic-green-1400);
  --ic-color-background-success-dark: var(--ic-green-300);
  --ic-color-background-warning-light: var(--ic-yellow-400);
  --ic-color-background-warning-dark: var(--ic-yellow-300);
  --ic-color-background-destructive-light: var(--ic-red-800);
  --ic-color-background-destructive-dark: var(--ic-red-300);
  --ic-color-background-destructive-hover-light: var(--ic-red-1100);
  --ic-color-background-destructive-hover-dark: var(--ic-red-400);
  --ic-color-background-destructive-pressed-light: var(--ic-red-1300);
  --ic-color-background-destructive-pressed-dark: var(--ic-red-700);

  /* BORDERS */
  --ic-color-border-neutral-default: var(--ic-architectural-300);
  --ic-color-border-neutral-black: var(--ic-architectural-black);
  --ic-color-border-neutral-white: var(--ic-architectural-white);
  --ic-color-border-neutral-grey-light: var(--ic-architectural-40);
  --ic-color-border-neutral-grey-dark: var(--ic-architectural-400);
  --ic-color-border-neutral-pressed-default: var(--ic-architectural-600);
  --ic-color-border-neutral-pressed-light: var(--ic-architectural-200);
  --ic-color-border-neutral-pressed-dark: var(--ic-architectural-700);
  --ic-color-border-neutral-hover-default: var(--ic-architectural-500);
  --ic-color-border-neutral-hover-light: var(--ic-architectural-200);
  --ic-color-border-neutral-hover-dark: var(--ic-architectural-800);
  --ic-color-border-neutral-disabled-light: var(--ic-architectural-200);
  --ic-color-border-neutral-disabled-dark: var(--ic-architectural-600);

  /* status borders */
  --ic-color-border-success-light: var(--ic-green-1400);
  --ic-color-border-success-dark: var(--ic-green-300);
  --ic-color-border-success-hover-light: var(--ic-green-1600);
  --ic-color-border-success-hover-dark: var(--ic-green-400);
  --ic-color-border-success-pressed-light: var(--ic-green-1700);
  --ic-color-border-success-pressed-dark: var(--ic-green-600);
  --ic-color-border-warning-light: var(--ic-yellow-900);
  --ic-color-border-warning-dark: var(--ic-yellow-300);
  --ic-color-border-warning-hover-light: var(--ic-yellow-1100);
  --ic-color-border-warning-hover-dark: var(--ic-yellow-400);
  --ic-color-border-warning-pressed-light: var(--ic-yellow-1300);
  --ic-color-border-warning-pressed-dark: var(--ic-yellow-500);
  --ic-color-border-error-light: var(--ic-red-800);
  --ic-color-border-error-dark: var(--ic-red-300);
  --ic-color-border-error-hover-light: var(--ic-red-1100);
  --ic-color-border-error-hover-dark: var(--ic-red-400);
  --ic-color-border-error-pressed-light: var(--ic-red-1300);
  --ic-color-border-error-pressed-dark: var(--ic-red-700);

  /* action borders */
  --ic-color-border-action-light: var(--ic-blue-800);
  --ic-color-border-action-dark: var(--ic-blue-300);
  --ic-color-border-action-hover-light: var(--ic-blue-1100);
  --ic-color-border-action-hover-dark: var(--ic-blue-100);
  --ic-color-border-action-pressed-light: var(--ic-blue-1300);
  --ic-color-border-action-pressed-dark: var(--ic-blue-400);

  /* ACTIONS */

  /* default */
  --ic-action-default-light: var(--ic-blue-800);
  --ic-action-default-dark: var(--ic-blue-300);
  --ic-action-default-hover-light: var(--ic-blue-1100);
  --ic-action-default-hover-dark: var(--ic-blue-100);
  --ic-action-default-pressed-light: var(--ic-blue-1300);
  --ic-action-default-pressed-dark: var(--ic-blue-400);
  --ic-action-default-disabled: var(--ic-blue-50); /* think this is wrong */
  --ic-action-default-active-alpha: var(--ic-blue-800-state-layer-50);
  --ic-action-default-bg-hover: var(--ic-blue-800-state-layer-10);
  --ic-action-default-bg-active: var(--ic-blue-800-state-layer-20);
  --ic-action-default-bg-hover-no-alpha: #e7eef8;
  --ic-action-default-bg-active-no-alpha: #d0def2;

  /* destructive */
  --ic-action-destructive-light: var(--ic-red-800);
  --ic-action-destructive-dark: var(--ic-red-300);
  --ic-action-destructive-hover-light: var(--ic-red-1100);
  --ic-action-destructive-hover-dark: var(--ic-red-400);
  --ic-action-destructive-pressed-light: var(--ic-red-1300);
  --ic-action-destructive-pressed-dark: var(--ic-red-700);

  /* light */
  --ic-action-light: var(--ic-architectural-white);
  --ic-action-light-hover: var(--ic-architectural-200);
  --ic-action-light-pressed: var(--ic-architectural-300);
  --ic-action-light-bg-hover: var(--ic-state-layer-lighten-10);
  --ic-action-light-bg-pressed: var(--ic-state-layer-lighten-20);

  /* dark */
  --ic-action-dark: var(--ic-architectural-900);
  --ic-action-dark-hover: var(--ic-architectural-800);
  --ic-action-dark-pressed: var(--ic-architectural-700);
  --ic-action-dark-bg-hover: var(--ic-architectural-700-state-layer-10);
  --ic-action-dark-bg-pressed: var(--ic-architectural-700-state-layer-20);
  --ic-action-dark-bg-hover-no-alpha: #ececed;
  --ic-action-dark-bg-active-no-alpha: #d9dadb;

  /* neutral */
  --ic-action-neutral-light: var(--ic-architectural-100);
  --ic-action-neutral-dark: var(--ic-architectural-800);

  /* theme */

  --ic-theme-blue-primary-r: 27;
  --ic-theme-blue-primary-g: 60;
  --ic-theme-blue-primary-b: 121;
  --ic-theme-blue-primary-a: 1;
  --ic-theme-lighten-20: rgb(255 255 255 / 20%);
  --ic-theme-lighten-40: rgb(255 255 255 / 40%);
  --ic-theme-primary-r: var(--ic-theme-blue-primary-r);
  --ic-theme-primary-g: var(--ic-theme-blue-primary-g);
  --ic-theme-primary-b: var(--ic-theme-blue-primary-b);
  --ic-theme-primary-a: var(--ic-theme-blue-primary-a);
  --ic-theme-primary: rgb(
    var(--ic-theme-primary-r) var(--ic-theme-primary-g)
      var(--ic-theme-primary-b) / var(--ic-theme-primary-a)
  );
  --ic-theme-secondary: rgb(
    calc(var(--ic-theme-primary-r) * 0.8) calc(var(--ic-theme-primary-g) * 0.8)
      calc(var(--ic-theme-primary-b) * 0.8) / var(--ic-theme-primary-a)
  );
  --ic-theme-tertiary: rgb(
    calc(var(--ic-theme-primary-r) * 0.6) calc(var(--ic-theme-primary-g) * 0.6)
      calc(var(--ic-theme-primary-b) * 0.6) / var(--ic-theme-primary-a)
  );
  --ic-theme-secondary-light: rgb(
    calc(var(--ic-theme-primary-r) + ((255 - var(--ic-theme-primary-r)) * 0.2))
      calc(
        var(--ic-theme-primary-g) + ((255 - var(--ic-theme-primary-g)) * 0.2)
      )
      calc(
        var(--ic-theme-primary-b) + ((255 - var(--ic-theme-primary-b)) * 0.2)
      ) / var(--ic-theme-primary-a)
  );
  --ic-theme-tertiary-light: rgb(
    calc(var(--ic-theme-primary-r) + ((255 - var(--ic-theme-primary-r)) * 0.4))
      calc(
        var(--ic-theme-primary-g) + ((255 - var(--ic-theme-primary-g)) * 0.4)
      )
      calc(
        var(--ic-theme-primary-b) + ((255 - var(--ic-theme-primary-b)) * 0.4)
      ) / var(--ic-theme-primary-a)
  );

  /* ic-theme-calc and ic-theme-text returns if black or white font colors should be used for color contrast reasons by:
    - Multiplying each RGB value by a set number: https://www.w3.org/TR/AERT/#color-contrast
    - Adding them together and dividing by 1000
    - Calculating this for the black and white text RGB values, adding them together and dividing by 2 gives the threshold for determining the font color
    - Due to no if statement in CSS, high RGB values are capped at 255 and low RGB capped at 0
    - Subtracting the dark mode threshold from the calculation and multiplying by -10000 returns a large positive or negative number
    - The RGB function caps negative numbers to RGB(0, 0, 0) or positive numbers to RGB(255, 255, 255)
    - The ICDS does not use pure black RGB(0, 0, 0) as it's font, it uses #0b0c0c/RGB(11, 12, 12)
    - The max() CSS function therefore ensures any negative numbers can be no less than 0
    - As any negative numbers are now 0, finally the numbers 11, 12 and 12 are added to the R, G, B values to make the ICDS shade of black
    - A similar adjustment is made to add 60, 70 and 77 to give hover & active colors
    - The min() CSS function is then used to ensure that none of the values exceeds 255
    - This is due to an issue found in Chromium v117 (sept 2023), where very large values would result the alpha value being ignored and everything appearing white
    - The result then returns the RGB values for the ICDS white or black font color, dependent on which is the most color contrast compliant
    This is a similar calculation to it's JS counterpart: "getThemeFontColor"
  */
  --ic-theme-dark-mode-threshold: 133.3505;
  --ic-theme-primary-r-calc: calc(var(--ic-theme-primary-r) * 299);
  --ic-theme-primary-g-calc: calc(var(--ic-theme-primary-g) * 587);
  --ic-theme-primary-b-calc: calc(var(--ic-theme-primary-b) * 114);
  --ic-theme-primary-sum-calc: calc(
    var(--ic-theme-primary-r-calc) + var(--ic-theme-primary-g-calc) +
      var(--ic-theme-primary-b-calc)
  );
  --ic-theme-primary-divide-calc: calc(var(--ic-theme-primary-sum-calc) / 1000);
  --ic-theme-primary-subtract-calc: calc(
    var(--ic-theme-primary-divide-calc) - var(--ic-theme-dark-mode-threshold)
  );
  --ic-theme-primary-calc: calc(var(--ic-theme-primary-subtract-calc) * -10000);
  --ic-theme-calc: max(0, var(--ic-theme-primary-calc));
  --ic-theme-text: rgb(
    min(255, calc(var(--ic-theme-calc) + 11))
      min(255, calc(var(--ic-theme-calc) + 12))
      min(255, calc(var(--ic-theme-calc) + 12)) / var(--ic-theme-primary-a)
  );
  --ic-theme-hover: rgb(
    min(255, calc(var(--ic-theme-calc) + 65))
      min(255, calc(var(--ic-theme-calc) + 70))
      min(255, calc(var(--ic-theme-calc) + 77)) / 10%
  );
  --ic-theme-active: rgb(
    min(255, calc(var(--ic-theme-calc) + 65))
      min(255, calc(var(--ic-theme-calc) + 70))
      min(255, calc(var(--ic-theme-calc) + 77)) / 20%
  );

  /* data tables */
  --ic-table-row-selected: #c7d7ef;

  /* ICONS */
  --ic-color-icon-brand: var(--ic-architectural-white);
  --ic-color-icon-neutral: var(--ic-architectural-black);
  --ic-color-icon-inverted: var(--ic-architectural-white);
  --ic-color-icon-hover-light: var(--ic-architectural-200);
  --ic-color-icon-hover-dark: var(--ic-architectural-800);
  --ic-color-icon-pressed-light: var(--ic-architectural-300);
  --ic-color-icon-pressed-dark: var(--ic-architectural-700);
  --ic-color-icon-disabled-light: var(--ic-architectural-300);
  --ic-color-icon-disabled-dark: var(--ic-architectural-500);
  --ic-color-icon-grey-default: var(--ic-architectural-400);
  --ic-color-icon-grey-lighter: var(--ic-architectural-100);
  --ic-color-icon-grey-light: var(--ic-architectural-200);
  --ic-color-icon-grey-dark: var(--ic-architectural-500);
  --ic-color-icon-grey-darker: var(--ic-architectural-700);
  --ic-color-icon-action-default-light: var(--ic-blue-800);
  --ic-color-icon-action-default-dark: var(--ic-blue-300);
  --ic-color-icon-action-hover: var(--ic-blue-1100);
  --ic-color-icon-action-pressed: var(--ic-blue-1300);
  --ic-color-icon-error-light: var(--ic-red-300);
  --ic-color-icon-error-dark: var(--ic-red-800);
  --ic-color-icon-action-dark: var(--ic-architectural-white);
  --ic-color-icon-chevron: var(--ic-architectural-400);

  /* state layers */
  --ic-state-layer-primary: var(--ic-brand-blue-primary);
  --ic-state-layer-secondary-default: var(--ic-blue-50);
  --ic-state-layer-secondary-light: var(--ic-blue-0);
  --ic-state-layer-secondary-dark: var(--ic-blue-100);
  --ic-state-layer-neutral-default: var(--ic-architectural-200);
  --ic-state-layer-neutral-light: var(--ic-architectural-100);
  --ic-state-layer-neutral-dark: var(--ic-architectural-400);
  --ic-state-layer-neutral-darker: var(--ic-architectural-600);
  --ic-state-layer-darken-20: var(--ic-architectural-black-state-layer-20);
  --ic-state-layer-darken-25: var(--ic-architectural-black-state-layer-25);
  --ic-state-layer-darken-30: var(--ic-architectural-black-state-layer-30);
  --ic-state-layer-darken-40: var(--ic-architectural-black-state-layer-40);
  --ic-state-layer-darken-50: var(--ic-architectural-black-state-layer-50);
  --ic-state-layer-lighten-10: var(--ic-architectural-white-state-layer-10);
  --ic-state-layer-lighten-20: var(--ic-architectural-white-state-layer-20);
  --ic-state-layer-lighten-25: var(--ic-architectural-white-state-layer-25);
  --ic-state-layer-lighten-40: var(--ic-architectural-white-state-layer-40);
  --ic-state-layer-lighten-50: var(--ic-architectural-white-state-layer-50);

  /* SURFACE */
  --ic-surface-brand: var(--ic-architectural-white);
  --ic-surface-primary: var(--ic-architectural-white);
  --ic-surface-secondary: var(--ic-architectural-white);
  --ic-surface-inverted: var(--ic-architectural-white);
  --ic-surface-disabled: var(--ic-architectural-white);

  /* ATOMS */
  --ic-atoms-input-field-label-light: var(--ic-color-text-primary-light);
  --ic-atoms-input-field-label-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-input-field-label-disabled-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-field-label-disabled-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-field-label-subtitle-light: var(
    --ic-color-text-secondary-light
  );
  --ic-atoms-input-field-label-subtitle-dark: var(
    --ic-color-text-secondary-dark
  );
  --ic-atoms-input-field-label-subtitle-disabled-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-field-label-subtitle-disabled-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-field-label-error-light: var(--ic-color-text-error-dark);
  --ic-atoms-input-field-label-error-dark: var(--ic-color-text-error-light);
  --ic-atoms-input-state-text-light: var(--ic-color-text-primary-light);
  --ic-atoms-input-state-text-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-input-state-icon-error-light: var(--ic-status-error-default);
  --ic-atoms-input-state-icon-error-dark: var(--ic-status-error-light);
  --ic-atoms-input-state-icon-warning-light: var(--ic-status-warning-default);
  --ic-atoms-input-state-icon-warning-dark: var(--ic-status-warning-light);
  --ic-atoms-input-state-icon-success-light: var(--ic-status-success-default);
  --ic-atoms-input-state-icon-success-dark: var(--ic-status-success-light);
  --ic-atoms-input-clear-button-light: var(--ic-color-icon-neutral);
  --ic-atoms-input-clear-button-dark: var(--ic-color-icon-inverted);
  --ic-atoms-input-clear-button-focus-light: var(--ic-color-icon-inverted);
  --ic-atoms-input-clear-button-focus-dark: var(--ic-color-icon-neutral);
  --ic-atoms-input-search-button-light: var(
    --ic-color-icon-action-default-light
  );
  --ic-atoms-input-search-button-dark: var(--ic-color-icon-action-default-dark);
  --ic-atoms-input-search-button-focus-light: var(--ic-color-icon-brand);
  --ic-atoms-input-search-button-focus-dark: var(--ic-color-icon-neutral);
  --ic-atoms-input-clear-button-focus-inner-light: var(--ic-color-focus-inner);
  --ic-atoms-input-clear-button-focus-inner-dark: var(--ic-color-focus-inner);
  --ic-atoms-input-clear-button-focus-outer-light: var(--ic-color-focus-outer);
  --ic-atoms-input-clear-button-focus-outer-dark: var(--ic-color-focus-outer);
  --ic-atoms-input-search-button-focus-inner-light: var(--ic-color-focus-inner);
  --ic-atoms-input-search-button-focus-inner-dark: var(--ic-color-focus-inner);
  --ic-atoms-input-search-button-focus-outer-light: var(--ic-color-focus-outer);
  --ic-atoms-input-search-button-focus-outer-dark: var(--ic-color-focus-outer);
  --ic-atoms-input-select-content-placeholder-text-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-select-content-placeholder-text-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-select-content-text-light: var(
    --ic-color-text-primary-light
  );
  --ic-atoms-input-select-content-text-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-input-select-content-text-disabled-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-select-content-text-disabled-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-select-content-icon-light: var(--ic-color-icon-neutral);
  --ic-atoms-input-select-content-icon-dark: var(--ic-color-icon-inverted);
  --ic-atoms-input-select-content-icon-disabled-light: var(
    --ic-color-icon-disabled-light
  );
  --ic-atoms-input-select-content-icon-disabled-dark: var(
    --ic-color-icon-disabled-light
  );
  --ic-atoms-input-select-content-divider-light: var(
    --ic-color-icon-grey-default
  );
  --ic-atoms-input-select-content-divider-dark: var(--ic-color-icon-grey-light);
  --ic-atoms-input-select-content-text-cursor-light: var(
    --ic-color-text-action
  );
  --ic-atoms-input-select-content-text-cursor-dark: var(
    --ic-color-text-action-dark
  );
  --ic-atoms-input-text-field-content-placeholder-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-text-field-content-placeholder-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-text-field-content-light: var(--ic-color-text-primary-light);
  --ic-atoms-input-text-field-content-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-input-text-field-content-disabled-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-text-field-content-disabled-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-text-field-content-icon-light: var(--ic-color-icon-neutral);
  --ic-atoms-input-text-field-content-icon-dark: var(--ic-color-icon-inverted);
  --ic-atoms-input-text-field-content-icon-disabled-light: var(
    --ic-color-icon-disabled-light
  );
  --ic-atoms-input-text-field-content-icon-disabled-dark: var(
    --ic-color-icon-disabled-light
  );
  --ic-atoms-input-text-area-content-placeholder-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-text-area-content-placeholder-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-text-area-content-light: var(--ic-color-text-primary-light);
  --ic-atoms-input-text-area-content-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-input-text-area-content-disabled-light: var(
    --ic-color-text-tertiary-light
  );
  --ic-atoms-input-text-area-content-disabled-dark: var(
    --ic-color-text-tertiary-dark
  );
  --ic-atoms-input-text-area-content-cursor-light: var(--ic-color-text-action);
  --ic-atoms-input-text-area-content-cursor-dark: var(
    --ic-color-text-action-dark
  );
  --ic-atoms-input-text-area-content-icon-light: var(--ic-color-icon-neutral);
  --ic-atoms-input-text-area-content-icon-dark: var(--ic-color-icon-inverted);
  --ic-atoms-input-text-area-content-icon-disabled-light: var(
    --ic-color-icon-disabled-light
  );
  --ic-atoms-input-text-area-content-icon-disabled-dark: var(
    --ic-color-icon-disabled-dark
  );
  --ic-atoms-list-option-background-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-list-option-background-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-list-option-background-hover-light: var(--ic-action-dark-bg-hover);
  --ic-atoms-list-option-background-hover-dark: var(--ic-action-light-bg-hover);
  --ic-atoms-list-option-background-pressed-light: var(
    --ic-action-dark-bg-pressed
  );
  --ic-atoms-list-option-background-pressed-dark: var(
    --ic-action-light-bg-pressed
  );
  --ic-atoms-list-option-background-disabled-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-list-option-background-disabled-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-list-option-background-focused-light: var(--ic-color-focus-inner);
  --ic-atoms-list-option-background-focused-dark: var(--ic-color-focus-inner);
  --ic-atoms-list-option-text-light: var(--ic-color-text-primary-light);
  --ic-atoms-list-option-text-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-list-option-text-disabled-light: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-list-option-text-disabled-dark: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-list-option-text-focused-light: var(--ic-color-brand-text);
  --ic-atoms-list-option-text-focused-dark: var(--ic-color-brand-text);
  --ic-atoms-list-option-icon-selected-light: var(--ic-color-icon-neutral);
  --ic-atoms-list-option-icon-selected-dark: var(--ic-color-icon-inverted);
  --ic-atoms-list-option-icon-disabled-light: var(--ic-color-icon-grey-light);
  --ic-atoms-list-option-icon-disabled-dark: var(--ic-color-icon-grey-light);
  --ic-atoms-list-option-icon-focused-light: var(--ic-color-icon-brand);
  --ic-atoms-list-option-icon-focused-dark: var(--ic-color-icon-brand);
  --ic-atoms-list-option-description-light: var(
    --ic-color-text-secondary-light
  );
  --ic-atoms-list-option-description-dark: var(--ic-color-text-secondary-dark);
  --ic-atoms-list-option-description-disabled-light: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-list-option-description-disabled-dark: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-list-option-description-focused-light: var(--ic-color-brand-text);
  --ic-atoms-list-option-description-focused-dark: var(--ic-color-brand-text);
  --ic-atoms-selectable-list-option-text-light: var(
    --ic-color-text-primary-light
  );
  --ic-atoms-selectable-list-option-text-dark: var(
    --ic-color-text-primary-dark
  );
  --ic-atoms-selectable-list-option-text-disabled-light: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-selectable-list-option-text-disabled-dark: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-selectable-list-option-text-focused-light: var(
    --ic-color-brand-text
  );
  --ic-atoms-selectable-list-option-text-focused-dark: var(
    --ic-color-brand-text
  );
  --ic-atoms-selectable-list-option-description-light: var(
    --ic-color-text-secondary-light
  );
  --ic-atoms-selectable-list-option-description-dark: var(
    --ic-color-text-secondary-dark
  );
  --ic-atoms-selectable-list-option-description-disabled-light: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-selectable-list-option-description-disabled-dark: var(
    --ic-color-text-disabled-light
  );
  --ic-atoms-selectable-list-option-description-focused-light: var(
    --ic-color-brand-text
  );
  --ic-atoms-selectable-list-option-description-focused-dark: var(
    --ic-color-brand-text
  );
  --ic-atoms-selectable-list-option-background-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-selectable-list-option-background-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-selectable-list-option-background-hover-light: var(
    --ic-action-dark-bg-hover
  );
  --ic-atoms-selectable-list-option-background-hover-dark: var(
    --ic-action-light-bg-hover
  );
  --ic-atoms-selectable-list-option-background-pressed-light: var(
    --ic-action-dark-bg-pressed
  );
  --ic-atoms-selectable-list-option-background-pressed-dark: var(
    --ic-action-light-bg-pressed
  );
  --ic-atoms-selectable-list-option-background-disabled-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-selectable-list-option-background-disabled-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-selectable-list-option-background-focused-light: var(
    --ic-color-focus-inner
  );
  --ic-atoms-selectable-list-option-background-focused-dark: var(
    --ic-color-focus-inner
  );
  --ic-atoms-selectable-list-option-checkbox-border-focused-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-selectable-list-option-checkbox-border-focused-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-text-expansion-button-light: var(--ic-color-text-primary-light);
  --ic-atoms-text-expansion-button-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-text-expansion-button-hover-light: var(
    --ic-color-text-primary-light
  );
  --ic-atoms-text-expansion-button-hover-dark: var(
    --ic-color-text-primary-dark
  );
  --ic-atoms-text-expansion-button-pressed-light: var(
    --ic-color-text-primary-light
  );
  --ic-atoms-text-expansion-button-pressed-dark: var(
    --ic-color-text-primary-dark
  );
  --ic-atoms-text-expansion-button-focused-light: var(
    --ic-color-text-primary-light
  );
  --ic-atoms-text-expansion-button-focused-dark: var(
    --ic-color-text-primary-dark
  );
  --ic-atoms-group-label-text-light: var(--ic-color-text-tertiary-light);
  --ic-atoms-group-label-text-dark: var(--ic-color-text-tertiary-dark);
  --ic-atoms-group-label-background-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-group-label-background-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-list-item-background-light: var(
    --ic-color-background-primary-light
  );
  --ic-atoms-list-item-background-dark: var(--ic-color-background-primary-dark);
  --ic-atoms-loading-text-light: var(--ic-color-text-secondary-light);
  --ic-atoms-loading-text-dark: var(--ic-color-text-secondary-dark);
  --ic-atoms-loading-error-text-light: var(--ic-color-text-primary-light);
  --ic-atoms-loading-error-text-dark: var(--ic-color-text-secondary-dark);
  --ic-atoms-loading-error-icon-light: var(--ic-status-error-default);
  --ic-atoms-loading-error-icon-dark: var(--ic-status-error-light);
  --ic-atoms-list-item-text-light: var(--ic-color-text-primary-light);
  --ic-atoms-list-item-text-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-list-item-divider-light: var(--ic-color-icon-grey-default);
  --ic-atoms-list-item-divider-dark: var(--ic-color-icon-grey-light);
  --ic-atoms-option-bar-text-light: var(--ic-color-text-primary-light);
  --ic-atoms-option-bar-text-dark: var(--ic-color-text-primary-dark);
  --ic-atoms-option-bar-background-light: var(
    --ic-color-background-secondary-40
  );
  --ic-atoms-option-bar-background-dark: var(
    --ic-color-background-primary-dark
  );
  --ic-atoms-option-bar-divider-light: var(--ic-color-icon-grey-default);
  --ic-atoms-option-bar-divider-dark: var(--ic-color-icon-grey-light);
  --ic-atoms-status-icon-success-light: var(--ic-status-success-default);
  --ic-atoms-status-icon-success-dark: var(--ic-status-success-light);
  --ic-atoms-status-icon-warning-light: var(--ic-status-warning-default);
  --ic-atoms-status-icon-warning-dark: var(--ic-status-warning-light);
  --ic-atoms-status-icon-error-light: var(--ic-status-error-default);
  --ic-atoms-status-icon-error-dark: var(--ic-status-error-light);
  --ic-atoms-status-icon-neutral-light: var(--ic-status-unknown-default);
  --ic-atoms-status-icon-neutral-dark: var(--ic-status-unknown-light);
  --ic-atoms-status-icon-info-light: var(--ic-status-info-default);
  --ic-atoms-status-icon-info-dark: var(--ic-status-info-light);
  --ic-atoms-dropdown-list-border-light: var(
    --ic-color-border-neutral-grey-dark
  );
  --ic-atoms-dropdown-list-border-dark: var(
    --ic-color-border-neutral-grey-light
  );
  --ic-atoms-input-divider-light: var(--ic-color-icon-pressed-light);
  --ic-atoms-input-divider-dark: var(--ic-color-icon-pressed-light);
  --ic-atoms-input-autocomplete-field-border-light: var(
    --ic-color-border-neutral-black
  );
  --ic-atoms-input-autocomplete-field-border-dark: var(
    --ic-color-border-neutral-white
  );
}
