/* colors for system light mode\light theme */
:root,
ic-theme,
.ic-theme-light {
  --ic-color-white-text: var(--ic-color-inverse-text);
  --ic-typography-color: var(--ic-color-primary-text);
  --ic-color-primary-text: var(--ic-color-primary-text-light);
  --ic-color-inverse-text: var(--ic-color-inverse-text-light);
  --ic-color-secondary-text: var(--ic-color-secondary-text-light);
  --ic-color-tertiary-text: var(--ic-color-tertiary-text-light);
}

/* colors for system dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --ic-color-primary-text: var(--ic-color-primary-text-dark);
    --ic-color-inverse-text: var(--ic-color-inverse-text-dark);
    --ic-color-secondary-text: var(--ic-color-secondary-text-dark);
    --ic-color-tertiary-text: var(--ic-color-tertiary-text-dark);
  }
}

/* colors for dark theme */
.ic-theme-dark {
  --ic-color-primary-text: var(--ic-color-primary-text-dark);
  --ic-color-inverse-text: var(--ic-color-inverse-text-dark);
  --ic-color-secondary-text: var(--ic-color-secondary-text-dark);
  --ic-color-tertiary-text: var(--ic-color-tertiary-text-dark);
}
