/* colors for system light mode\light theme */
:root,
ic-theme,
.ic-theme-light {
  --ic-typography-color: var(--ic-color-primary-text);
  --ic-color-primary-text: var(--ic-color-primary-text-light);
  --ic-color-secondary-text: var(--ic-color-secondary-text-light);
  --ic-color-tertiary-text: var(--ic-color-tertiary-text-light);
  --ic-color-inverse-text: var(--ic-color-inverse-text-light);

  /* Chips */
  --ic-chip-label: var(--ic-color-primary-text);
  --ic-chip-label-inactive: var(--ic-color-inactive-text);
  --ic-chip-icon: var(--ic-icon-neutral);
  --ic-chip-icon-inactive: var(--ic-icon-disabled-dark);
  --ic-chip-outline: var(--ic-color-primary-text);
  --ic-chip-outline-inactive: var(--ic-border-neutral-disabled);
  --ic-chip-outline-background: var(--ic-background-primary);
  --ic-chip-background-filled-default: var(--ic-state-layer-neutral);
  --ic-chip-background-filled-inactive: var(--ic-state-layer-neutral-light);
  --ic-chip-action-hover: var(--ic-action-dark-bg-hover);
  --ic-chip-action-pressed: var(--ic-action-dark-bg-active);

  /* Status tags */
  --ic-status-tag-text: var(--ic-color-inverse-text);
  --ic-status-tag-text-inverted: var(--ic-color-primary-text);
  --ic-status-tag-outlined-text: var(--ic-color-primary-text);
  --ic-status-tag-success: var(--ic-status-success);
  --ic-status-tag-outlined-background-success: var(--ic-status-success-light);
  --ic-status-tag-outlined-success: var(--ic-status-success);
  --ic-status-tag-error: var(--ic-status-error);
  --ic-status-tag-outlined-background-error: var(--ic-status-error-light);
  --ic-status-tag-outlined-error: var(--ic-status-error-dark);
  --ic-status-tag-warning: var(--ic-status-warning-contrast);
  --ic-status-tag-outlined-background-warning: var(--ic-status-warning-light);
  --ic-status-tag-outlined-warning: var(--ic-status-warning-dark);
  --ic-status-tag-neutral: var(--ic-status-unknown-mid);
  --ic-status-tag-outlined-background-neutral: var(
    --ic-status-unknown-outlined
  );
  --ic-status-tag-outlined-neutral: var(--ic-status-unknown-mid);

  /* Tabs */
  --ic-tab-label: var(--ic-color-primary-text);
  --ic-tab-label-monochrome: var(--ic-color-primary-text);
  --ic-tab-icon: var(--ic-icon-neutral);
  --ic-tab-icon-monochrome: var(--ic-icon-neutral);
  --ic-tab-bottom-border: var(--ic-border-neutral-grey);
  --ic-tab-bottom-border-monochrome: var(--ic-border-neutral-black);
  --ic-tab-item-pressed: var(--ic-action-default-bg-active);
  --ic-tab-item-pressed-monochrome: var(--ic-action-dark-bg-active);
  --ic-tab-item: var(--ic-action-default);
  --ic-tab-item-monochrome: var(--ic-action-dark);
  --ic-tab-item-hover: var(--ic-action-default-bg-hover);
  --ic-tab-item-hover-monochrome: var(--ic-action-dark-bg-hover);
}

/* colors for system dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --ic-color-primary-text: var(--ic-color-primary-text-dark);
    --ic-color-secondary-text: var(--ic-color-secondary-text-dark);
    --ic-color-tertiary-text: var(--ic-color-tertiary-text-dark);
    --ic-color-inverse-text: var(--ic-color-inverse-text-dark);

    /* Chips */
    --ic-chip-label: var(--ic-color-primary-text-dark);
    --ic-chip-label-inactive: var(--ic-color-inactive-text);
    --ic-chip-icon: var(--ic-icon-inverted);
    --ic-chip-icon-inactive: var(--ic-icon-chevron);
    --ic-chip-outline: var(--ic-color-primary-text-dark);
    --ic-chip-outline-inactive: var(--ic-border-neutral-inverted);
    --ic-chip-outline-background: var(--ic-background-primary-dark);
    --ic-chip-background-filled-default: var(--ic-state-layer-neutral-darker);
    --ic-chip-background-filled-inactive: var(--ic-state-layer-neutral-darker);
    --ic-chip-action-hover: var(--ic-action-light-bg-hover);
    --ic-chip-action-pressed: var(--ic-action-light-bg-active);

    /* Status tags */
    --ic-status-tag-text: var(--ic-color-inverse-text);
    --ic-status-tag-text-inverted: var(--ic-color-primary-text);
    --ic-status-tag-outlined-text: var(--ic-color-inverse-text);
    --ic-status-tag-success: var(--ic-status-success-contrast);
    --ic-status-tag-outlined-background-success: var(
      --ic-status-success-outlined
    );
    --ic-status-tag-outlined-success: var(--ic-status-success-contrast);
    --ic-status-tag-error: var(--ic-status-error-contrast);
    --ic-status-tag-outlined-background-error: var(--ic-status-error-outlined);
    --ic-status-tag-outlined-error: var(--ic-status-error-light);
    --ic-status-tag-warning: var(--ic-status-warning-light);
    --ic-status-tag-outlined-background-warning: var(
      --ic-status-warning-outlined
    );
    --ic-status-tag-outlined-warning: var(--ic-status-warning-light);
    --ic-status-tag-neutral: var(--ic-status-unknown-contrast);
    --ic-status-tag-outlined-background-neutral: var(--ic-status-unknown-light);
    --ic-status-tag-outlined-neutral: var(--ic-status-unknown);

    /* Tabs */
    --ic-tab-label: var(--ic-color-primary-text-dark);
    --ic-tab-label-monochrome: var(--ic-color-inverse-text-light);
    --ic-tab-icon: var(--ic-icon-inverted);
    --ic-tab-icon-monochrome: var(--ic-icon-inverted);
    --ic-tab-bottom-border: var(--ic-border-neutral-inverted);
    --ic-tab-bottom-border-monochrome: var(--ic-border-neutral-inverted);
    --ic-tab-item-pressed: var(--ic-action-light-bg-active);
    --ic-tab-item-pressed-monochrome: var(--ic-action-light-bg-active);
    --ic-tab-item: var(--ic-action-light);
    --ic-tab-item-monochrome: var(--ic-action-light);
    --ic-tab-item-hover: var(--ic-action-light-bg-hover);
    --ic-tab-item-hover-monochrome: var(--ic-action-dark-bg-hover);
  }
}

/* colors for dark theme */
.ic-theme-dark {
  --ic-color-primary-text: var(--ic-color-primary-text-dark);
  --ic-color-secondary-text: var(--ic-color-secondary-text-dark);
  --ic-color-tertiary-text: var(--ic-color-tertiary-text-dark);
  --ic-color-inverse-text: var(--ic-color-inverse-text-dark);

  /* Chips */
  --ic-chip-label: var(--ic-color-primary-text-dark);
  --ic-chip-label-inactive: var(--ic-color-inactive-text);
  --ic-chip-icon: var(--ic-icon-inverted);
  --ic-chip-icon-inactive: var(--ic-icon-chevron);
  --ic-chip-outline: var(--ic-color-primary-text-dark);
  --ic-chip-outline-inactive: var(--ic-border-neutral-inverted);
  --ic-chip-outline-background: var(--ic-background-primary-dark);
  --ic-chip-background-filled-default: var(--ic-state-layer-neutral-darker);
  --ic-chip-background-filled-inactive: var(--ic-state-layer-neutral-darker);
  --ic-chip-action-hover: var(--ic-action-light-bg-hover);
  --ic-chip-action-pressed: var(--ic-action-light-bg-active);

  /* Status tags */
  --ic-status-tag-text: var(--ic-color-inverse-text);
  --ic-status-tag-text-inverted: var(--ic-color-primary-text);
  --ic-status-tag-outlined-text: var(--ic-color-inverse-text);
  --ic-status-tag-success: var(--ic-status-success-contrast);
  --ic-status-tag-outlined-background-success: var(
    --ic-status-success-outlined
  );
  --ic-status-tag-outlined-success: var(--ic-status-success-contrast);
  --ic-status-tag-error: var(--ic-status-error-contrast);
  --ic-status-tag-outlined-background-error: var(--ic-status-error-outlined);
  --ic-status-tag-outlined-error: var(--ic-status-error-light);
  --ic-status-tag-warning: var(--ic-status-warning-light);
  --ic-status-tag-outlined-background-warning: var(
    --ic-status-warning-outlined
  );
  --ic-status-tag-outlined-warning: var(--ic-status-warning-light);
  --ic-status-tag-neutral: var(--ic-status-unknown-contrast);
  --ic-status-tag-outlined-background-neutral: var(--ic-status-unknown-light);
  --ic-status-tag-outlined-neutral: var(--ic-status-unknown);

  /* Tabs */
  --ic-tab-label: var(--ic-color-primary-text-dark);
  --ic-tab-label-monochrome: var(--ic-color-inverse-text-light);
  --ic-tab-icon: var(--ic-icon-inverted);
  --ic-tab-icon-monochrome: var(--ic-icon-inverted);
  --ic-tab-divider: var(--ic-state-layer-neutral-light);
  --ic-tab-divider-monochrome: var(--ic-icon-inverted);
  --ic-tab-bottom-border: var(--ic-border-neutral-inverted);
  --ic-tab-bottom-border-monochrome: var(--ic-border-neutral-inverted);
  --ic-tab-item-pressed: var(--ic-action-light-bg-active);
  --ic-tab-item-pressed-monochrome: var(--ic-action-light-bg-active);
  --ic-tab-item: var(--ic-action-light);
  --ic-tab-item-monochrome: var(--ic-action-light);
  --ic-tab-item-hover: var(--ic-action-light-bg-hover);
  --ic-tab-item-hover-monochrome: var(--ic-action-dark-bg-hover);
}
