/* fonts */
:root {
  --ic-font-body-family: "Open Sans", "Helvetica Neue", "Arial", "sans-serif";
  --ic-font-heading-family: "Nunito Sans", sans-serif;
  --ic-font-code-family: "Source Code Pro", monospace;

  /* font weight */
  --ic-font-weight-extrabold: 800;
  --ic-font-weight-bold: 700;
  --ic-font-weight-semibold: 600;
  --ic-font-weight-regular: 400;

  /* font size */
  --ic-font-size-h1: 2.625rem;
  --ic-font-size-h2: 2.125rem;
  --ic-font-size-h3: 1.5rem;
  --ic-font-size-h4: 1.25rem;
  --ic-font-size-regular: 1rem;
  --ic-font-size-label: 0.875rem;
  --ic-font-size-caption: 0.75rem;
  --ic-font-size-badge-small: 0.563rem;

  /* line height */
  --ic-font-line-height-h1: 3.5rem;
  --ic-font-line-height-h2: 3.5rem;
  --ic-font-line-height-h3: 2.5rem;
  --ic-font-line-height-h4: 2rem;
  --ic-font-line-height-subtitle-large: 1.5rem;
  --ic-font-line-height-subtitle-small: 1.5rem;
  --ic-font-line-height-body: 1.5rem;
  --ic-font-line-height-caption: 1.25rem;
  --ic-font-line-height-code: 1.5rem;
  --ic-font-line-height-badge: 0.875rem;
  --ic-font-line-height-badge-small: 0.75rem;

  /* letter spacing */
  --ic-font-letter-spacing-0pt025: 0.025rem;
  --ic-font-letter-spacing-0pt005: 0.005rem;
  --ic-font-letter-spacing-0pt0025: 0.0025rem;
  --ic-font-letter-spacing-0pt0015: 0.0015rem;

  /* fonts */
  --ic-font-h1: var(--ic-font-weight-extrabold) var(--ic-font-size-h1) /
    var(--ic-font-line-height-h1) var(--ic-font-heading-family);
  --ic-font-h2: var(--ic-font-weight-bold) var(--ic-font-size-h2) /
    var(--ic-font-line-height-h2) var(--ic-font-heading-family);
  --ic-font-h3: var(--ic-font-weight-regular) var(--ic-font-size-h3) /
    var(--ic-font-line-height-h3) var(--ic-font-body-family);
  --ic-font-h4: var(--ic-font-weight-semibold) var(--ic-font-size-h4) /
    var(--ic-font-line-height-h4) var(--ic-font-body-family);
  --ic-font-subtitle-large: var(--ic-font-weight-bold)
    var(--ic-font-size-regular) / var(--ic-font-line-height-subtitle-large)
    var(--ic-font-body-family);
  --ic-font-subtitle-small: var(--ic-font-weight-semibold)
    var(--ic-font-size-label) / var(--ic-font-line-height-subtitle-small)
    var(--ic-font-body-family);
  --ic-font-body: var(--ic-font-weight-regular) var(--ic-font-size-regular) /
    var(--ic-font-line-height-body) var(--ic-font-body-family);
  --ic-font-caption: var(--ic-font-weight-semibold) var(--ic-font-size-caption) /
    var(--ic-font-line-height-caption) var(--ic-font-body-family);
  --ic-font-label: var(--ic-font-weight-semibold) var(--ic-font-size-label) /
    var(--ic-font-line-height-body) var(--ic-font-body-family);
  --ic-font-code-large: var(--ic-font-weight-regular)
    var(--ic-font-size-regular) / var(--ic-font-line-height-code)
    var(--ic-font-code-family);
  --ic-font-code-small: var(--ic-font-weight-semibold) var(--ic-font-size-label) /
    var(--ic-font-line-height-code) var(--ic-font-code-family);
  --ic-font-code-extra-small: var(--ic-font-weight-regular)
    var(--ic-font-size-caption) / var(--ic-font-line-height-code)
    var(--ic-font-code-family);
  --ic-font-badge: var(--ic-font-weight-semibold) var(--ic-font-size-caption) /
    var(--ic-font-line-height-badge) var(--ic-font-body-family);
  --ic-font-badge-small: var(--ic-font-weight-semibold)
    var(--ic-font-size-badge-small) / var(--ic-font-line-height-badge-small)
    var(--ic-font-body-family);
}
