/**
 * @prop --ic-z-index-navigation-menu: z-index of navigation menu
 */

:host {
  display: block;
}

.popout-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.popout-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 16rem;
  bottom: 0;
  background-color: var(--ic-architectural-20);
  color: var(--ic-color-primary-text);
  box-shadow: var(--ic-elevation-overlay);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: var(--ic-z-index-navigation-menu);
}

:host(.inline) .popout-menu {
  position: absolute;
}

.menu-close-button-container {
  position: relative;
  left: 11.875rem;
  padding: var(--ic-space-md) 0;
}

.nav-group-first {
  padding-bottom: 0;
}

.menu-buttons-container {
  padding: var(--ic-space-sm) 0;
  border-bottom: var(--ic-space-1px) solid var(--ic-architectural-200);
}

.menu-buttons-container-nav-item-above {
  margin-top: var(--ic-space-md);
  border-top: var(--ic-space-1px) solid var(--ic-architectural-200);
}

.menu-status-version-container {
  display: inline-flex;
  margin: var(--ic-space-md) var(--ic-space-md) var(--ic-space-xl);
}

.menu-status {
  background-color: var(--ic-architectural-500);
  color: var(--ic-color-white-text);
  border-radius: 5rem;
  width: fit-content;
  padding: var(--ic-space-xxs) var(--ic-space-sm);
  margin-right: var(--ic-space-xs);
}

.menu-version {
  border-radius: 1rem;
  background-color: var(--ic-architectural-100);
  padding: var(--ic-space-xxs) var(--ic-space-sm);
}

.menu-status-text,
.menu-version-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 5.625rem;
}

.navigation-landmark-text {
  position: absolute;
  width: var(--ic-space-1px);
  height: var(--ic-space-1px);
  padding: 0;
  margin: calc(-1 * var(--ic-space-1px));
  overflow: hidden;
}
