@import "../../global/normalize.css";

:host {
  display: block;

  --footer-compliance-padding: 1rem 0;
}

:host(.footer-sparse) {
  --footer-links-padding: 1.5rem 0;
  --footer-logo-margin-bottom: var(--ic-space-lg);
  --footer-link-inner-flex-direction: row;
}

:host(.footer-small) {
  --footer-links-padding: 0 0;
  --footer-logo-margin-bottom: var(--ic-space-md);
  --footer-link-inner-flex-direction: column;
}

:host(.footer-light) {
  --footer-theme-secondary: var(--ic-theme-secondary);
  --footer-theme-tertiary: var(--ic-theme-tertiary);
  --footer-keyline: var(--ic-keyline-lighten);
}

:host(.footer-dark) {
  --footer-theme-secondary: var(--ic-theme-secondary-light);
  --footer-theme-tertiary: var(--ic-theme-tertiary-light);
  --footer-keyline: var(--ic-keyline-darken);
}

:host(.footer-small.footer-ungrouped) {
  --footer-links-padding: var(--ic-space-md) 0 0 0;
}

/* Main inner footer element */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Description */

.footer-description {
  background-color: var(--footer-theme-secondary);
  color: var(--ic-theme-text);
  border-bottom: var(--footer-keyline);
}

.footer-description-inner {
  padding: 1rem 0;
}

/* Links */

.footer-links {
  padding: var(--footer-links-padding);
  background-color: var(--footer-theme-secondary);
  color: var(--ic-theme-text);
}

.footer-links-inner {
  display: flex;
  flex-direction: var(--footer-link-inner-flex-direction);
}

/* Compliance */

.footer-compliance {
  background-color: var(--footer-theme-tertiary);
  color: var(--ic-theme-text);
}

.footer-compliance-inner {
  padding: var(--footer-compliance-padding);
}

.footer-logo {
  margin-bottom: var(--footer-logo-margin-bottom);
  display: flex;
  gap: var(--ic-space-xxl);
}

.footer-logo > ::slotted() {
  margin-right: var(--ic-space-md);
}

.footer-caption {
  margin-bottom: var(--ic-space-md);
}

.classification-spacing {
  margin-bottom: var(--ic-space-lg);
}

@media (forced-colors: active) {
  footer {
    border-top: var(--ic-hc-border);
  }
}
