@import "../../global/normalise.css";

:host {
  position: relative;
  display: block;
}

.data {
  display: flex;
  align-items: center;
}

.text-cells {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}

.label {
  width: 200px;
  min-width: 200px;
  margin-right: var(--ic-space-md);
  color: var(--ic-color-tertiary-text);
}

.value {
  flex-grow: 1;
}

.end-component {
  width: fit-content;
  margin-left: 56px;
}

.divider {
  margin-top: var(--ic-space-md);
  height: 1px;
  background-color: var(--ic-architectural-300);
}

:host(.small) .divider {
  margin-top: var(--ic-space-xs);
}

:host(.breakpoint-medium) .label {
  width: 160px;
  min-width: 160px;
}

:host(.breakpoint-xs) .text-cells {
  flex-direction: column;
}

:host(.breakpoint-xs) .label {
  width: 128px;
  margin-bottom: var(--ic-space-xs);
}

:host(.breakpoint-xs) .value {
  max-width: 95%;
}

:host(.breakpoint-xs) .end-component {
  margin-left: 0;
}