:host {
  position: relative;
  display: block;
  height: 100%;
  max-height: 100%;
}

.table-container {
  position: relative;
  height: calc(100% - var(--ic-space-xxxs));
}

.table-row-container {
  position: relative;
  height: 100%;
  overflow: auto;
  transition: var(--ic-easing-transition-fast);
  overflow-anchor: none;
}

:host([show-pagination="true"]) .table-row-container {
  height: calc(100% - 3.5625rem);
}

table {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.table-row-container:focus {
  outline: none;
  box-shadow: var(--ic-border-focus);
  border-radius: var(--ic-border-radius);
  transition: var(--ic-easing-transition-fast);
  z-index: 1;
}

:host([embedded="true"]) .table-container {
  border: var(--ic-border-light);
}

.column-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.column-header-overlay {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0.375rem var(--ic-space-xs) calc(var(--ic-space-xxs * -1))
    rgb(0 0 0 / 20%);
}

.row-header-sticky {
  position: sticky;
  left: 0;
}

.column-header,
.table-row {
  box-sizing: border-box;
}

.table-row-selected {
  background-color: var(--ic-table-row-selected) !important;
}

.sort-button {
  margin-left: auto;
}

.sort-button:hover {
  background-color: var(--ic-action-dark-bg-hover);
}

.sort-button:active {
  background-color: var(--ic-action-dark-bg-active);
}

.sort-button svg {
  color: var(--ic-architectural-black);
}

.sort-button-unsorted svg {
  color: var(--ic-color-tertiary-text);
}

.table-density-dense {
  padding: var(--ic-space-xxs) var(--ic-space-xs) !important;
}

.text-dense {
  font-size: var(--ic-font-size-label);
}

.table-density-spacious {
  padding: 0.625rem var(--ic-space-xs) !important;
}

.text-spacious {
  font-size: 1.125rem;
}

.column-header-text {
  font-weight: var(--ic-font-weight-bold);
}

.column-header,
.row-header {
  text-align: left;
  padding: var(--ic-space-xs);
  background-color: var(--ic-architectural-40);
  border-right: var(--ic-border-light);
  border-bottom: var(--ic-border-light);
}

.column-header:last-child {
  border-right: none;
}

.scrollable .column-header:last-child {
  border-right: var(--ic-border-light) !important;
}

:host([embedded="true"]) tr:last-child .table-cell,
:host([embedded="true"]) tr:last-child .row-header {
  border-bottom: none;
}

.column-header-alignment-left,
.row-header-alignment-left,
.cell-alignment-left {
  text-align: left !important;
}

.column-header-alignment-right,
.row-header-alignment-right,
.cell-alignment-right {
  text-align: right !important;
}

.column-header-alignment-center,
.row-header-alignment-center,
.cell-alignment-center {
  text-align: center !important;
}

.table-row:nth-child(even) {
  background-color: var(--ic-architectural-20);
}

.table-cell {
  padding: var(--ic-space-xs);
  border-bottom: solid var(--ic-architectural-100) var(--ic-space-1px);
}

.data-type-string {
  text-align: left;
  vertical-align: top;
}

.data-type-number,
.data-type-date {
  text-align: right;
  vertical-align: top;
}

.cell-alignment-top {
  vertical-align: top;
}

.cell-alignment-middle {
  vertical-align: middle;
}

.cell-alignment-bottom {
  vertical-align: bottom;
}

.cell-emphasis-low {
  color: var(--ic-color-secondary-text);
}

.cell-emphasis-high {
  font-weight: var(--ic-font-weight-bold);
}

.pagination-container {
  background-color: var(--ic-architectural-40);
  border-top: var(--ic-border-light);
}

.screen-reader-sort-text,
.table-caption {
  position: absolute;
  left: -100rem;
}

.table-cell,
.column-header,
.row-header {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.below-table {
  padding: var(--ic-space-xl) var(--ic-space-xxl);
}

.updating-state {
  padding: 0;
}

.updating-state-headers {
  border-bottom: none;
}

@media screen and (min-width: 576px) {
  .column-header-inner-container {
    display: flex;
    align-items: center;
  }
}
