:host {
  position: relative;
  display: inline-flex;
  max-height: 100%;
  width: var(--table-width, 100%);
  height: 100%;
  min-width: var(--table-min-width);
  max-width: var(--table-max-width);
}

tbody {
  vertical-align: top;
}

.table-container {
  position: relative;
  height: calc(100% - var(--ic-space-xxxs));
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cell-container {
  display: flex;
  min-height: 1.5rem;
  overflow-y: hidden;
  height: var(--row-height);
}

.truncation-show-hide {
  overflow: visible;
  display: block;
}

.cell-icon.truncation-show-hide {
  display: flex;
}

.cell-container:not(.data-type-element, .truncation-show-hide) {
  overflow-x: hidden;
}

ic-loading-indicator {
  position: sticky;
  top: 20px;
}

.table-row-container {
  position: relative;
  height: 100%;
  overflow: auto;
  transition: var(--ic-easing-transition-fast);
  overflow-anchor: none;
}

:host([show-pagination="true"]) .table-row-container {
  height: calc(100% - 3.5625rem);
}

table {
  table-layout: var(--table-layout, "fixed");
  border-spacing: 0;
  width: 100%;
  height: var(--table-height, auto);
}

.table-row-container:focus {
  outline: none;
  box-shadow: var(--ic-border-focus);
  border-radius: var(--ic-border-radius);
  transition: var(--ic-easing-transition-fast);
  z-index: 1;
}

:host([embedded="true"]) .table-row-container {
  border: var(--ic-border-light);
}

.column-header-inner-container {
  padding: var(--ic-space-xs);
  box-sizing: border-box;
}

.column-header-inner-container ic-tooltip {
  pointer-events: none;
}

.column-header-inner-container ic-tooltip.show-trunc-tooltip {
  pointer-events: auto;
}

.column-header-inner-container ic-tooltip .column-header-text {
  --ic-line-clamp: 1;
}

.column-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.column-header-overlay {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0.375rem var(--ic-space-xs) calc(var(--ic-space-xxs * -1))
    rgb(0 0 0 / 20%);
}

.row-header-sticky {
  position: sticky;
  left: 0;
}

.column-header,
.table-row {
  box-sizing: border-box;
}

.table-row-selected {
  background-color: var(--ic-table-row-selected) !important;
}

.sort-button {
  margin-left: auto;
}

.sort-button:hover {
  background-color: var(--ic-action-dark-bg-hover);
}

.sort-button:active {
  background-color: var(--ic-action-dark-bg-active);
}

.sort-button svg {
  color: var(--ic-architectural-black);
}

.sort-button-unsorted svg {
  color: var(--ic-color-tertiary-text);
}

.table-density-dense .column-header-inner-container,
td.table-density-dense {
  padding: var(--ic-space-xxs) var(--ic-space-xs) !important;
}

.text-dense {
  font-size: var(--ic-font-size-label);
}

.table-density-spacious .column-header-inner-container,
td.table-density-spacious {
  padding: 0.625rem var(--ic-space-xs) !important;
}

.text-spacious {
  font-size: 1.125rem;
}

.column-header-text {
  font-weight: var(--ic-font-weight-bold);
}

.dummy-column-header-text {
  white-space: nowrap;
  overflow: hidden;
  height: 0;
  width: fit-content;
}

.row-header,
.column-header {
  text-align: left;
  padding: var(--ic-space-xs);
  background-color: var(--ic-architectural-40);
  border-right: var(--ic-border-light);
  border-bottom: var(--ic-border-light);
}

.column-header {
  padding: 0;
  width: var(--column-width);
  min-width: var(--column-min-width, 4rem);
  max-width: var(--column-max-width);
}

.column-header:last-child {
  border-right: none;
}

.scrollable .column-header:last-child {
  border-right: var(--ic-border-light) !important;
}

:host([embedded="true"]) tr:last-child .table-cell,
:host([embedded="true"]) tr:last-child .row-header {
  border-bottom: none;
}

.column-header-alignment-left,
.row-header-alignment-left,
.cell-alignment-left {
  text-align: left !important;
  justify-content: start !important;
}

.column-header-alignment-right,
.row-header-alignment-right,
.cell-alignment-right {
  text-align: right !important;
  justify-content: end !important;
}

.cell-alignment-right.truncation-tooltip ic-tooltip ic-typography {
  padding-right: calc(var(--ic-space-xxs) + var(--ic-space-xs));
}

.cell-alignment-right.truncation-show-hide ic-typography {
  --ellipsis-padding-right: calc(var(--ic-space-xxs) + var(--ic-space-xs));
}

.column-header-alignment-center,
.row-header-alignment-center,
.cell-alignment-center {
  text-align: center !important;
  justify-content: center !important;
}

.table-row:nth-child(even) {
  background-color: var(--ic-architectural-20);
}

.table-cell {
  padding: var(--ic-space-xs);
  border-bottom: solid var(--ic-architectural-100) var(--ic-space-1px);
  overflow: hidden;
  box-sizing: border-box;
  max-width: var(--column-max-width);
  min-width: var(--column-min-width);
}

.table-cell.with-overflow {
  overflow: visible;
}

.data-type-string,
.data-type-address {
  text-align: left;
  vertical-align: top;
}

.data-type-number,
.data-type-date {
  text-align: right;
  justify-content: end;
  vertical-align: top;
}

.cell-alignment-top {
  vertical-align: top;
  align-items: flex-start;
}

.cell-alignment-middle {
  vertical-align: middle;
  align-items: center;
}

.cell-alignment-bottom {
  vertical-align: bottom;
  align-items: flex-end;
}

.cell-emphasis-low {
  color: var(--ic-color-secondary-text);
}

.cell-emphasis-high {
  font-weight: var(--ic-font-weight-bold);
}

.pagination-container {
  background-color: var(--ic-architectural-40);
  border-top: var(--ic-border-light);
}

.screen-reader-sort-text,
.table-caption {
  position: absolute;
  left: -100rem;
}

.table-cell,
.column-header,
.row-header {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.loading-empty {
  padding: var(--ic-space-xl) var(--ic-space-xxl);
  margin-top: var(--ic-space-xl);
}

.updating-state {
  padding: 0;
  border-bottom: var(--ic-border-light);
}

.updating-state-headers {
  border-bottom: none;
}

.loading {
  position: absolute;
  left: calc(50% - 5.9741rem);
  opacity: 0;
  transition: opacity var(--ic-transition-duration-slow);
}

.loading.show-background {
  background-color: var(--ic-architectural-white);
  border: var(--ic-border-light);
}

.loading.show {
  opacity: 1;
}

.icon,
::slotted(svg) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  margin-right: var(--ic-space-xxs);
}

.column-header-alignment-right > .icon,
.row-header-alignment-right > .icon,
.cell-alignment-right > .icon,
.column-header-alignment-right > ::slotted(svg),
.row-header-alignment-right > ::slotted(svg),
.cell-alignment-right > ::slotted(svg) {
  margin-right: auto;
}

.column-header-alignment-center > ic-typography,
.row-header-alignment-right > ic-typography,
.cell-alignment-center > ic-typography {
  flex: 1;
}

.icon > svg {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  display: inline-block;
}

.truncation-tooltip ic-typography {
  display: -webkit-box;
  -webkit-line-clamp: var(--ic-line-clamp, 0);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncation-tooltip ic-typography,
.truncation-show-hide ic-typography {
  white-space: normal;
}

.ic-tooltip-overflow {
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 577px) {
  .column-header-inner-container {
    display: flex;
    align-items: center;
  }
}
