:host {
  position: relative;
  display: inline-flex;
  max-height: 100%;
  width: var(--table-width, 100%);
  height: 100%;
  min-width: var(--table-min-width);
  max-width: var(--table-max-width);
}

tbody {
  vertical-align: top;
}

.table-container {
  position: relative;
  height: calc(100% - var(--ic-space-xxxs));
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cell-container {
  display: flex;
  min-height: 1.5rem;
  overflow-y: hidden;
  height: var(--row-height);

  --ic-typography-color: var(--ic-data-table-text-default-emphasis);
}

.truncation-show-hide {
  display: block;
}

.cell-icon.truncation-show-hide {
  display: flex;
}

.cell-container:not(.data-type-element, .truncation-show-hide) {
  overflow-x: hidden;
}

ic-loading-indicator {
  position: sticky;
  top: 20px;
}

.table-row-container {
  position: relative;
  height: 100%;
  overflow: auto;
  transition: var(--ic-easing-transition-fast);
  overflow-anchor: none;
}

:host([show-pagination="true"]) .table-row-container {
  height: calc(100% - 3.5625rem);
}

table {
  table-layout: var(--table-layout, "fixed");
  border-spacing: 0;
  width: 100%;
  height: var(--table-height, auto);
}

.table-row-container:focus {
  outline: none;
  box-shadow: var(--ic-border-focus);
  border-radius: var(--ic-border-radius);
  transition: var(--ic-easing-transition-fast);
  z-index: 1;
}

:host([embedded="true"]) .table-row-container {
  border: var(--ic-space-1px) solid var(--ic-data-table-border);
}

.column-header-inner-container {
  padding: var(--ic-space-xs);
  box-sizing: border-box;
}

.column-header-inner-container ic-tooltip {
  pointer-events: none;
}

.column-header-inner-container ic-tooltip.show-trunc-tooltip {
  pointer-events: auto;
}

.column-header-inner-container ic-tooltip .column-header-text {
  --ic-line-clamp: 1;
}

.column-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.column-header-overlay {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0.375rem var(--ic-space-xs) calc(var(--ic-space-xxs * -1))
    rgb(0 0 0 / 20%);
}

.row-header-sticky {
  position: sticky;
  left: 0;
}

.column-header,
.table-row {
  box-sizing: border-box;
}

.table-row-selected {
  background-color: var(--ic-data-table-cell-background-selected) !important;
}

.table-row:hover {
  background-color: var(--ic-data-table-cell-background-hover) !important;
}

.table-row-selected:hover {
  background-color: var(
    --ic-data-table-cell-background-selected-hover
  ) !important;
}

.sort-button {
  margin-left: auto;
}

.sort-button:hover {
  background-color: var(--ic-data-table-icon-button-background-hover);
}

.sort-button:active {
  background-color: var(--ic-data-table-icon-button-background-pressed);
}

.sort-button svg {
  color: var(--ic-data-table-sort-toggle-icon);
}

.sort-button-unsorted svg {
  color: var(--ic-data-table-sort-toggle-icon-default);
}

.table-density-dense .column-header-inner-container,
td.table-density-dense {
  padding: var(--ic-space-xxs) var(--ic-space-xs) !important;
}

.text-dense {
  font-size: var(--ic-font-size-label);
}

.table-density-spacious .column-header-inner-container,
td.table-density-spacious {
  padding: 0.625rem var(--ic-space-xs) !important;
}

.text-spacious {
  font-size: 1.125rem;
}

.column-header-text {
  font-weight: var(--ic-font-weight-bold);
}

.dummy-column-header-text {
  white-space: nowrap;
  overflow: hidden;
  height: 0;
  width: fit-content;
}

.row-header,
.column-header {
  text-align: left;
  padding: var(--ic-space-xs);
  background-color: var(--ic-data-table-header-background);
  border-right: var(--ic-space-1px) solid var(--ic-data-table-header-keyline);
  border-bottom: var(--ic-space-1px) solid var(--ic-data-table-header-keyline);
  color: var(--ic-data-table-header-text);
}

.column-header {
  padding: 0;
  width: var(--column-width);
  min-width: var(--column-min-width, 4rem);
  max-width: var(--column-max-width);
}

.column-header:last-child {
  border-right: none;
}

.scrollable .column-header:last-child {
  border-right: var(--ic-space-1px) solid var(--ic-data-table-header-keyline) !important;
}

:host([embedded="true"]) tr:last-child .table-cell,
:host([embedded="true"]) tr:last-child .row-header {
  border-bottom: none;
}

.column-header-alignment-left,
.row-header-alignment-left,
.cell-alignment-left {
  text-align: left !important;
  justify-content: start !important;
}

.column-header-alignment-right,
.row-header-alignment-right,
.cell-alignment-right {
  text-align: right !important;
  justify-content: end !important;
}

.cell-alignment-right.truncation-tooltip ic-tooltip ic-typography {
  padding-right: calc(var(--ic-space-xxs) + var(--ic-space-xs));
}

.cell-alignment-right.truncation-show-hide ic-typography {
  --ellipsis-padding-right: calc(var(--ic-space-xxs) + var(--ic-space-xs));
}

.column-header-alignment-center,
.row-header-alignment-center,
.cell-alignment-center {
  text-align: center !important;
  justify-content: center !important;
}

.table-row {
  background-color: var(--ic-data-table-cell-background);
}

.table-row:nth-child(even) {
  background-color: var(--ic-data-table-cell-background-stripe);
}

.table-cell {
  padding: var(--ic-space-xs);
  border-bottom: solid var(--ic-data-table-cell-keyline) var(--ic-space-1px);
  overflow: hidden;
  box-sizing: border-box;
  max-width: var(--column-max-width);
  min-width: var(--column-min-width);
}

.table-cell.with-overflow {
  overflow: visible;
}

.data-type-string,
.data-type-address {
  text-align: left;
}

.data-type-number,
.data-type-date {
  text-align: right;
  justify-content: end;
}

.cell-vertical-align-top {
  vertical-align: top;
  align-items: flex-start;
}

.cell-vertical-align-middle {
  vertical-align: middle;
  align-items: center;
}

.cell-vertical-align-bottom {
  vertical-align: bottom;
  align-items: flex-end;
}

.cell-emphasis-low ic-typography {
  --ic-typography-color: var(--ic-data-table-text-low-emphasis);
}

.cell-emphasis-high ic-typography {
  --ic-typography-color: var(--ic-data-table-text-high-emphasis);

  font-weight: var(--ic-font-weight-bold);
}

.pagination-container {
  background-color: var(--ic-data-table-pagination-bar-background-color);
  border-top: var(--ic-space-1px) solid
    var(--ic-data-table-pagination-bar-keyline);
}

.screen-reader-sort-text,
.table-caption {
  position: absolute;
  left: -100rem;
}

.table-cell,
.column-header,
.row-header {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.loading-empty {
  padding: var(--ic-space-xl) var(--ic-space-xxl);
  margin-top: var(--ic-space-xl);
}

.updating-state {
  padding: 0;
  border-bottom: var(--ic-space-1px) solid var(--ic-data-table-header-keyline);
}

.updating-state-headers {
  border-bottom: none;
}

.loading {
  position: absolute;
  left: calc(50% - 5.9741rem);
  opacity: 0;
  transition: opacity var(--ic-transition-duration-slow);
  z-index: calc(var(--ic-z-index-dialog) - 1);
  background-color: var(--ic-data-table-overlay-background);
  border: var(--ic-space-1px) solid var(--ic-data-table-overlay-border);
}

.loading.show {
  opacity: 1;
}

.icon,
::slotted(svg) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  margin-right: var(--ic-space-xxs);
}

.column-header .icon > svg,
.column-header ::slotted(svg) {
  fill: var(--ic-data-table-icon);
}

.table-cell .icon > svg,
.table-cell ::slotted(svg),
.cell-description-icon > svg {
  fill: var(--ic-data-table-icon-default-emphasis);
}

.cell-emphasis-high .icon > svg,
.cell-emphasis-high ::slotted(svg) {
  fill: var(--ic-data-table-icon-high-emphasis);
}

.cell-emphasis-low .icon > svg,
.cell-emphasis-low ::slotted(svg) {
  fill: var(--ic-data-table-icon-low-emphasis);
}

.column-header-alignment-right > .icon,
.row-header-alignment-right > .icon,
.cell-alignment-right > .icon,
.column-header-alignment-right > ::slotted(svg),
.row-header-alignment-right > ::slotted(svg),
.cell-alignment-right > ::slotted(svg) {
  margin-right: auto;
}

.column-header-alignment-center > ic-typography,
.column-header-alignment-center > .cell-text-wrapper,
.row-header-alignment-right > ic-typography,
.row-header-alignment-right > .cell-text-wrapper,
.cell-alignment-center > ic-typography,
.cell-alignment-center > .cell-text-wrapper {
  flex: 1;
}

.checkbox-cell {
  --column-width: var(--ic-space-xxl);

  align-content: center;
  border-right: none;
}

.table-density-dense.checkbox-cell {
  --column-width: 2.5rem;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
}

.icon > svg {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  display: inline-block;
}

.truncation-tooltip ic-typography {
  display: -webkit-box;
  -webkit-line-clamp: var(--ic-line-clamp, 0);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncation-tooltip ic-typography,
.truncation-show-hide ic-typography {
  white-space: normal;
}

.ic-tooltip-overflow {
  overflow: hidden;
  width: 100%;
}

.action-element {
  display: flex;
  justify-content: right;
}

.cell-grid-wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.loading-overlay {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--ic-data-table-loading-indicator-overlay-background);
  z-index: calc(var(--ic-z-index-dialog) - 2);
  opacity: 0;
  transition: opacity var(--ic-transition-duration-slow);
}

.loading-overlay.show {
  visibility: visible;
  opacity: 0.6;
}

.sr-only {
  position: absolute;
  left: -9999px;
}

@media (prefers-reduced-motion: reduce) {
  .loading-overlay {
    transition: none;
  }
}

.cell-text-wrapper {
  overflow: hidden;
}

.cell-text-wrapper > ic-typography {
  margin-left: 2px;
}

.cell-text-no-wrap {
  word-wrap: initial;
}

.cell-container-with-description {
  display: flex;
  flex-direction: row;
}

.cell-description {
  display: flex;
  flex-direction: row;
  margin-top: var(--ic-space-xxs);
  word-break: break-all;
}

.cell-description-text {
  color: var(--ic-data-table-cell-description-text);
}

.cell-description-icon {
  padding-right: var(--ic-space-xs);
}

.cell-description-icon > svg {
  height: calc(var(--ic-space-lg) - var(--ic-space-xxs));
  width: calc(var(--ic-space-lg) - var(--ic-space-xxs));
  display: flex;
}

@media (min-width: 577px) {
  .column-header-inner-container {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 577px) {
  .cell-icon {
    flex-wrap: wrap;
  }

  .cell-description-icon {
    padding-right: 0;
  }
}

/** High Contrast **/
@media (forced-colors: active) {
  .icon,
  ::slotted(svg),
  .cell-description-icon > svg {
    fill: currentcolor;
  }

  .sort-button svg {
    color: currentcolor;
  }

  .table-row-selected {
    background-color: Highlight !important;
  }
}
