@import '../../global/normalize.css';

/**
 * @prop --input-width: Width of the input field
 * @prop --ic-z-index-menu: z-index of select menu
 */

:host {
  position: relative;
}

:host(.full-width) {
  width: 100%;
}

ic-input-component-container:hover {
  --border-color: var(--ic-action-dark-hover);
}

ic-input-component-container:active {
  --border-color: var(--ic-action-dark-active);

  color: var(--ic-action-dark-active);
}

ic-input-component-container.menu-open {
  --border-color: var(--ic-architectural-400);

  color: var(--ic-action-dark);
}

ic-input-validation .status-icon,
ic-input-validation .statustext {
  visibility: visible;
}

ic-input-validation.menu-open .status-icon,
ic-input-validation.menu-open .statustext {
  visibility: hidden;
  transition: visibility 0s;
}

ic-input-label {
  margin-bottom: var(--ic-space-xs) !important;
}

select {
  border: 0;
  border-radius: var(--ic-border-radius);
  background-color: var(--ic-architectural-white);
  color: var(--ic-color-primary-text);
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
  width: 100%;
  height: 100%;
  padding-left: 0.375rem;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

select option,
.select-option-selected {
  color: var(--ic-color-primary-text);
}

select:disabled {
  color: var(--ic-architectural-200);
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

select:focus {
  border: 0;
  outline: 0;
}

select:not([disabled]) {
  cursor: pointer;
}

.select-container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.select-input {
  width: 100%;
  height: 100%;
  padding: 0 0.375rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
}

.select-input:focus {
  outline: var(--ic-hc-focus-outline);
}

:host(:not(.disabled)) ic-input-component-container:hover .select-input {
  background-color: var(--ic-architectural-white);
}

.select-input[disabled] {
  pointer-events: none;
}

:host(.searchable) .select-input {
  cursor: auto;
}

.searchable-select-container {
  align-items: center;
  display: flex;
  width: 100%;
  position: relative;
}

.expand-icon {
  height: var(--ic-space-lg);
  padding-left: var(--ic-space-xs);
  color: var(--ic-action-dark);
}

.expand-icon > svg {
  display: inline-block;
  width: var(--ic-space-lg);
  height: var(--ic-space-lg);
}

:host(.disabled) .expand-icon,
:host(.disabled) .expand-icon > svg > path {
  color: var(--ic-architectural-200);
}

:host(.searchable) .expand-icon {
  padding-left: var(--ic-space-xxs);
  height: 2.25rem;
}

:host(.searchable) .expand-icon > svg {
  height: 2.25rem;
  padding: 0 0.375rem;
}

:host(.searchable:not(.disabled)) .expand-icon > svg {
  cursor: pointer;
}

.expand-icon-open {
  color: var(--ic-action-dark);
}

.expand-icon-filled {
  color: var(--ic-action-dark);
}

.expand-icon-open,
:host(.searchable) .expand-icon-open {
  transform: rotateX(180deg);
}

:host(.disabled) .value-text,
.placeholder {
  color: var(--ic-color-tertiary-text);
}

.select-input-end {
  display: flex;
  align-items: center;
}

.clear-button-container {
  display: flex;
  gap: var(--ic-space-xxs);
  padding-left: 2.375rem;
}

:host(.small) .clear-button-container {
  padding-left: 1.875rem;
}

.divider {
  width: 0.063rem;
  background-color: var(--ic-architectural-400);
  margin: var(--ic-space-xxs) 0;
  border-radius: 0.063rem;
  height: var(--ic-space-lg);
}

:host(.small) .divider {
  height: var(--ic-space-md);
}

.clear-button {
  position: absolute;
  right: 2.75rem;
  border-radius: var(--ic-border-radius);
  transition: box-shadow var(--ic-easing-transition), border-radius var(--ic-easing-transition);
}

.clear-button:focus {
  background-color: var(--ic-focus-blue);
  box-shadow: inset 0 0 0 0.125rem var(--ic-focus-glow);
  border-radius: 0.25rem;
}

.clear-button:focus * {
  fill: white;
}

.searchable-select-results-status {
  border: 0;
  clip: rect(0, 0, 0, 0, 0);
  height: 0.063rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.063rem;
}

<<<<<<< HEAD
input[type='search']::-ms-clear,
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
=======
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {  
  display: none; 
  width : 0; 
  height: 0; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
>>>>>>> 0e433488c0b559988af5ab2490b753999be11248
