@import "../../global/normalize.css";

/**
 * @prop --ic-z-index-back-to-top: z-index of back to top
 */

:host {
  display: block;
  position: absolute;
  right: 0;
}

ic-button {
  height: 2.5rem;
  align-items: center;
  background-color: var(--ic-architectural-white);
  border-radius: 5rem;
  box-shadow: var(--ic-elevation-overlay);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: var(--ic-space-md);
  bottom: var(--ic-space-md);
  transition: visibility 0s linear var(--ic-transition-duration-slow),
    opacity var(--ic-transition-duration-slow);
  z-index: var(--ic-z-index-back-to-top);
}

ic-button::part(button) {
  border-radius: 5rem;
  border: var(--ic-border-width) solid var(--ic-action-default);
}

ic-button.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s,
    opacity var(--ic-transition-duration-slow),
    box-shadow var(--ic-easing-transition-fast);
}

ic-button.by-footer {
  position: relative;
  right: var(--ic-space-md);
  bottom: 3.5rem;
}

ic-button.offset-banner {
  margin-bottom: var(--ic-space-lg);
}

.ic-back-to-top-icon {
  padding-top: var(--ic-space-xxs);
  padding-right: var(--ic-space-xs);
}

.ic-back-to-top-icon > svg {
  height: var(--ic-space-md);
  width: var(--ic-space-md);
}

.icon-only {
  width: 2.5rem;
}

.icon-only .ic-back-to-top-icon > svg {
  padding-left: calc(var(--ic-space-xs) - var(--ic-space-1px));
}

@media (forced-colors: active) {
  .icon-only .ic-back-to-top-icon > svg {
    padding-left: calc(var(--ic-space-xs) - var(--ic-space-xxxs));
  }
}
