@import "../../global/normalize.css";

:host(.ic-checkbox-disabled) {
  color: var(--ic-architectural-200);

  --ic-typography-color: var(--ic-architectural-200);

  pointer-events: none;
}

.container {
  display: flex;
  width: fit-content;
  padding: var(--ic-space-xxs) 0 var(--ic-space-xxs) var(--ic-space-xxs);
  margin-bottom: var(--ic-space-xxs);
  align-items: center;
}

:host(.ic-checkbox-small) .container {
  margin-bottom: var(--ic-space-xxxs);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  background-color: var(--ic-architectural-white);
  border: var(--ic-border-width) solid var(--ic-architectural-400);
  border-radius: var(--ic-border-radius);
  outline: none;
  cursor: pointer;
  transition: var(--ic-easing-transition-fast);
  flex-shrink: 0;
}

:host(.ic-checkbox-small) .checkbox,
:host(.ic-checkbox-small) .container svg {
  width: var(--ic-space-md);
  height: var(--ic-space-md);
}

:host(.ic-checkbox-large) .checkbox,
:host(.ic-checkbox-large) .container svg {
  width: var(--ic-space-xl);
  height: var(--ic-space-xl);
}

.checkbox:checked {
  background-color: var(--ic-action-default);
  border: var(--ic-border-width) solid var(--ic-action-default);
  transition: var(--ic-easing-transition-slow);
}

.checkbox:checked:disabled {
  background-color: var(--ic-architectural-200);
}

.checkbox:indeterminate,
.checkbox.indeterminate:checked {
  background-color: var(--ic-architectural-white);
  border: 0.125rem solid var(--ic-action-default);
}

.checkbox:checked:hover {
  background-color: var(--ic-action-default-hover);
}

.checkbox:indeterminate:hover,
.checkbox.indeterminate:checked:hover {
  background-color: var(--ic-action-default-bg-hover-no-alpha);
  border: 0.125rem solid var(--ic-action-default-hover);
}

.checkbox:checked:active {
  background-color: var(--ic-action-default-pressed);
}

.checkbox:indeterminate:active,
.checkbox.indeterminate:checked:active {
  background-color: var(--ic-action-default-bg-active-no-alpha);
  border: 0.125rem solid var(--ic-action-default-pressed);
}

.checkbox:hover {
  background-color: var(--ic-action-default-bg-hover-no-alpha);
  box-shadow: 0 0 0 0.25rem var(--ic-action-default-bg-hover);
  border: var(--ic-border-width) solid var(--ic-action-default-hover);
}

.checkbox:active {
  background-color: var(--ic-action-default-bg-active-no-alpha);
  box-shadow: 0 0 0 0.25rem var(--ic-action-default-bg-active);
  border: var(--ic-border-width) solid var(--ic-action-default-pressed);
}

.checkbox:focus {
  box-shadow: var(--ic-border-focus);
}

.checkbox:disabled {
  border: var(--ic-border-width) dashed var(--ic-architectural-200);
}

.checkbox-label {
  padding-left: var(--ic-space-sm);
}

.checkbox-label:hover {
  cursor: pointer;
}

.checkmark {
  position: relative;
  right: calc(-1 * var(--ic-space-lg));
  margin-left: calc(-1 * var(--ic-space-lg));
  fill: white;
  z-index: 1;
  background-color: transparent;
  pointer-events: none;
  flex-shrink: 0;
}

:host(.ic-checkbox-small) .checkmark {
  margin-left: calc(-1 * var(--ic-space-md));
  right: calc(-1 * var(--ic-space-md));
}

:host(.ic-checkbox-large) .checkmark {
  margin-left: calc(-1 * var(--ic-space-xl));
  right: calc(-1 * var(--ic-space-xl));
}

.indeterminate-symbol {
  position: relative;
  width: 0.875rem;
  height: var(--ic-space-xxxs);
  right: -1.188rem;
  margin-left: -0.875rem;
  z-index: 1;
  background-color: var(--ic-action-default);
  pointer-events: none;
  flex-shrink: 0;
}

:host(.ic-checkbox-small) .indeterminate-symbol {
  width: 0.6rem;
  right: -0.8rem;
  margin-left: -0.6rem;
}

:host(.ic-checkbox-large) .indeterminate-symbol {
  width: 1.25rem;
  right: -1.625rem;
  margin-left: -1.25rem;
}

.container:hover .indeterminate-symbol {
  background-color: var(--ic-action-default-hover);
}

.container:active .indeterminate-symbol {
  background-color: var(--ic-action-default-pressed);
}

.additional-field-wrapper {
  margin-left: calc(var(--ic-space-md) + var(--ic-space-lg));
  margin-top: calc(var(--ic-space-sm) / 2);
}

.branch-corner {
  color: var(--ic-action-default);
  height: var(--ic-space-md);
  width: var(--ic-space-xl);
  border-radius: 0 0 0 0.188rem;
  border-bottom: 0.125rem solid var(--ic-action-default);
  border-left: 0.125rem solid var(--ic-action-default);
}

.dynamic-container {
  display: flex;
  position: relative;
  margin: var(--ic-space-xxxs) 0 var(--ic-space-xxs) var(--ic-space-md);
  gap: var(--ic-space-xs);
}

.dynamic-text {
  color: var(--ic-action-default);

  --ic-typography-color: var(--ic-action-default);

  margin-top: calc(var(--ic-space-sm) / 2);
  margin-bottom: var(--ic-space-xs);
  border-radius: 2%;
}

@media (max-width: 576px) {
  ::slotted(ic-text-field) {
    --input-width: 100%;
  }
}

@media (forced-colors: active) {
  /* Styles here only apply to Forced Colors Mode */
  .checkbox {
    appearance: revert;
    transition: none;
  }

  .checkbox:checked {
    transition: none;
  }

  .checkbox:focus-visible {
    outline: 0.125rem solid highlight;
  }

  .checkbox:disabled:not(:checked) {
    appearance: none;
    border-color: GrayText;
  }

  .checkmark {
    fill: none;
  }

  .indeterminate-symbol {
    display: none;
  }
}
