@import "../../global/normalize.css";

/* VARIABLES FOR IC-TOGGLE-BUTTON-GROUP */
:host {
  --button-border: var(
    --toggle-button-border,
    var(--ic-border-width) solid var(--ic-action-default)
  );
}

:host(.ic-toggle-button-dark) {
  --button-border: var(
    --toggle-button-border,
    var(--ic-border-width) solid var(--ic-action-dark)
  );
}

:host(.ic-toggle-button-light) {
  --button-border: var(
    --toggle-button-border,
    var(--ic-border-width) solid var(--ic-action-light)
  );
}

:host(.ic-toggle-button-disabled) {
  --button-border: var(--toggle-button-border, var(--ic-border-disabled));
}

:host(.expand-toggle-group-child) ::part(button) {
  width: 100%;
  min-height: inherit;
  white-space: inherit;
  height: inherit;
}

:host ic-button {
  --icon-width: var(--ic-space-lg);
  --icon-height: var(--ic-space-lg);
}

:host(.expand-toggle-group-child) ic-button {
  min-width: 100%;
  min-height: 100%;
  white-space: normal;
  height: 100%;
}

:host(.expand-toggle-group-child) ::part(button):focus,
:host(.expand-toggle-group-child.ic-toggle-button-checked)
  ::part(button):focus {
  box-shadow: inset 0 0 0 var(--ic-space-xxxs) var(--ic-action-default),
    var(--ic-border-focus);
}

:host(.expand-toggle-group-child.ic-toggle-button-light) ::part(button):focus,
:host(.expand-toggle-group-child.ic-toggle-button-dark) ::part(button):focus {
  box-shadow: inset 0 0 0 var(--ic-space-xxxs) var(--ic-action-dark),
    var(--ic-border-focus);
}

:host(:focus) {
  z-index: 1;
}

:host ::part(button) {
  border: var(--button-border);
}

:host(.ic-toggle-button-checked) ::part(button) {
  background-color: var(--ic-action-default);
  color: var(--ic-architectural-white);
  box-shadow: inset 0 0 0 var(--ic-space-xxxs) var(--ic-architectural-white);
}

:host(.ic-toggle-button-checked) ::part(button):focus {
  box-shadow: inset 0 0 0 var(--ic-space-xxxs) var(--ic-architectural-white),
    var(--ic-border-focus);
}

:host(.ic-toggle-button-checked) ::part(button):hover {
  background-color: var(--button-default-hover);
}

:host(.ic-toggle-button-checked) ::part(button):active,
:host(.ic-toggle-button-icon.ic-toggle-button-checked) ::part(button):active {
  background-color: var(--ic-action-default-active);
}

:host(.ic-toggle-button-dark.ic-toggle-button-checked) ::part(button) {
  background-color: var(--ic-action-dark);
}

:host(.ic-toggle-button-dark.ic-toggle-button-checked) ::part(button):hover {
  background-color: var(--ic-action-dark-hover);
}

:host(.ic-toggle-button-dark.ic-toggle-button-checked) ::part(button):active,
:host(.ic-toggle-button-icon.ic-toggle-button-dark.ic-toggle-button-checked)
  ::part(button):active {
  background-color: var(--ic-action-dark-active);
}

:host(.ic-toggle-button-light.ic-toggle-button-checked) ::part(button) {
  background-color: var(--ic-action-light);
  color: var(--ic-color-primary-text);
  box-shadow: inset 0 0 0 var(--ic-space-xxxs) var(--ic-architectural-black);
}

:host(.ic-toggle-button-light.ic-toggle-button-checked) ::part(button):hover {
  background-color: var(--ic-action-light-hover);
}

:host(.ic-toggle-button-light.ic-toggle-button-checked) ::part(button):active,
:host(.ic-toggle-button-icon.ic-toggle-button-light.ic-toggle-button-checked)
  ::part(button):active {
  background-color: var(--ic-action-light-active);
}

:host(.ic-toggle-button-light.ic-toggle-button-checked) ::part(button):focus {
  box-shadow: inset 0 0 0 var(--ic-space-xxxs) var(--ic-architectural-black),
    var(--ic-border-focus);
}

:host(.ic-toggle-button-disabled) ::part(button),
:host(.ic-toggle-button-icon.ic-toggle-button-disabled) ::part(button) {
  border: var(--button-border);
}

:host(.ic-toggle-button-disabled.ic-toggle-button-checked) ::part(button),
:host(.ic-toggle-button-icon.ic-toggle-button-disabled.ic-toggle-button-checked)
  ::part(button) {
  background-color: transparent;
}

:host(.ic-toggle-button-disabled.ic-toggle-button-checked) ::part(button),
:host(.ic-toggle-button-icon.ic-toggle-button-disabled.ic-toggle-button-checked)
  ::part(button)::before {
  background-image: radial-gradient(var(--ic-architectural-400) 95%, white 20%);
  background-repeat: no-repeat;
}

:host(.ic-toggle-button-icon) ::part(button) {
  border: var(--button-border);
  height: calc(var(--ic-space-xl) + var(--ic-space-xs));
  width: calc(var(--ic-space-xl) + var(--ic-space-xs));
}

:host(.ic-toggle-button-icon) ::part(button):active {
  background-color: var(--ic-action-default-bg-active);
}

:host(.ic-toggle-button-icon.ic-toggle-button-dark) ::part(button):active {
  background-color: var(--ic-action-dark-bg-active);
}

:host(.ic-toggle-button-icon.ic-toggle-button-light) ::part(button):active {
  background-color: var(--ic-action-light-bg-active);
}

:host(.ic-toggle-button-icon.ic-toggle-button-small) ::part(button) {
  height: var(--ic-space-xl);
  width: var(--ic-space-xl);
}

:host(.ic-toggle-button-icon.ic-toggle-button-large) ::part(button) {
  height: var(--ic-space-xxl);
  width: var(--ic-space-xxl);
}

:host(.ic-toggle-button-checked.ic-toggle-button-loading) ::part(button) {
  background-color: var(--button-default-active);
}

:host(.ic-toggle-button-loading) ::part(ic-loading-container) {
  --inner-color: var(--ic-architectural-white);
}

:host(.ic-toggle-button-checked.ic-toggle-button-loading.ic-toggle-button-light)
  ::part(button) {
  background-color: var(--ic-action-light-active);
}

:host(.ic-toggle-button-checked.ic-toggle-button-loading.ic-toggle-button-dark)
  ::part(button) {
  background-color: var(--ic-action-dark-active);
}

@media (forced-colors: active) {
  :host(.ic-toggle-button-checked) ::part(button),
  :host(.ic-toggle-button-checked) ::part(button):hover {
    background-color: Highlight;
  }

  :host(.ic-toggle-button-checked.ic-toggle-button-light) ::part(button),
  :host(.ic-toggle-button-checked.ic-toggle-button-light) ::part(button):hover {
    background-color: Highlight;
  }

  :host(.ic-toggle-button-checked.ic-toggle-button-dark) ::part(button),
  :host(.ic-toggle-button-checked.ic-toggle-button-dark) ::part(button):hover {
    background-color: Highlight;
  }

  :host(.ic-toggle-button-checked.ic-toggle-button-disabled) ::part(button) {
    background-color: GrayText;
  }
}
