@import "../../global/normalize.css";

/**
  @prop --ic-z-index-drawer: z-index of drawer.
  @prop --ic-drawer-width: the width of the expanded left or right drawer.
  @prop --ic-drawer-height: the height of the expanded top or bottom drawer.
*/

:host {
  position: fixed;
  z-index: var(--ic-z-index-drawer);

  --drawer-size-small: 18.75rem;
  --drawer-size-medium: 28.125rem;
  --drawer-size-large: 37.5rem;
}

:host,
.drawer-panel {
  display: flex;
}

.overlay {
  background-color: var(--ic-drawer-overlay);
}

:host(.ic-drawer-right) .overlay {
  margin-right: calc(
    var(--ic-space-xxs) * -1
  ); /* Needed so overlay is visible in space left by drawer-panel's border-radius */
}

:host(.ic-drawer-left) .overlay {
  margin-left: calc(var(--ic-space-xxs) * -1);
}

:host(.ic-drawer-top) .overlay {
  margin-top: calc(var(--ic-space-xxs) * -1);
}

:host(.ic-drawer-bottom) .overlay {
  margin-bottom: calc(var(--ic-space-xxs) * -1);
}

.drawer-panel {
  background-color: var(--ic-drawer-background);
  box-shadow: var(--ic-drawer-drop-shadow);
  /* max-width: 100%; */
  z-index: calc(var(--ic-z-index-drawer) + 1);
}

.drawer-panel:focus {
  outline: none;
}

:host(.ic-drawer-boundary-parent),
:host(.ic-drawer-boundary-parent) .drawer-panel {
  position: absolute;
}

:host(.ic-drawer-right) .drawer-panel,
:host(.ic-drawer-left) .drawer-panel {
  height: 100%;
}

:host(.ic-drawer-top) .drawer-panel,
:host(.ic-drawer-bottom) .drawer-panel {
  justify-content: center;
  width: 100%;
}

:host(.ic-drawer-right) .drawer-panel {
  border-radius: var(--ic-border-radius) 0 0 var(--ic-border-radius);
  justify-content: flex-start;
}

:host(.ic-drawer-left) .drawer-panel {
  border-radius: 0 var(--ic-border-radius) var(--ic-border-radius) 0;
  justify-content: flex-end;
}

:host(.ic-drawer-top) .drawer-panel {
  align-items: flex-end;
  border-radius: 0 0 var(--ic-border-radius) var(--ic-border-radius);
}

:host(.ic-drawer-bottom) .drawer-panel {
  align-items: flex-start;
  border-radius: var(--ic-border-radius) var(--ic-border-radius) 0 0;
}

/* :host(.ic-drawer-right.ic-drawer-boundary-parent) .drawer-panel {
  max-width: 100%;
} */

.inner-drawer-panel {
  flex-flow: column;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .inner-drawer-panel,
  .overlay {
    transition: opacity 300ms;
  }

  :host(.ic-drawer-right) .drawer-panel,
  :host(.ic-drawer-left) .drawer-panel {
    transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1); /* USE TOKEN */
  }

  :host(.ic-drawer-top) .drawer-panel,
  :host(.ic-drawer-bottom) .drawer-panel {
    transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1); /* USE TOKEN */
  }
}

/* Collapsed state */

:host(.ic-drawer-collapsed) .overlay,
:host(.ic-drawer-collapsed) .inner-drawer-panel {
  opacity: 0;
}

:host(.ic-drawer-collapsed:not(.ic-drawer-collapsing)) .overlay,
:host(.ic-drawer-collapsed:not(.ic-drawer-collapsing)) .inner-drawer-panel {
  visibility: hidden;
}

:host(.ic-drawer-right.ic-drawer-collapsed) .drawer-panel,
:host(.ic-drawer-left.ic-drawer-collapsed) .drawer-panel {
  width: calc(var(--ic-space-xxl) + var(--ic-space-xxxs));
}

:host(.ic-drawer-top.ic-drawer-collapsed) .drawer-panel,
:host(.ic-drawer-bottom.ic-drawer-collapsed) .drawer-panel {
  height: calc(var(--ic-space-xxl) + var(--ic-space-xxxs));
}

:host(.ic-drawer-right.ic-drawer-collapsed) .drawer-panel.controlled,
:host(.ic-drawer-left.ic-drawer-collapsed) .drawer-panel.controlled {
  width: 0;
}

:host(.ic-drawer-top.ic-drawer-collapsed) .drawer-panel.controlled,
:host(.ic-drawer-bottom.ic-drawer-collapsed) .drawer-panel.controlled {
  height: 0;
}

/* Expanded state */

:host(.ic-drawer-expanded),
:host(.ic-drawer-collapsing) {
  width: 100vw;
  height: 100vh;
}

:host(.ic-drawer-boundary-parent.ic-drawer-expanded),
:host(.ic-drawer-boundary-parent.ic-drawer-collapsing) {
  height: 100%;
  width: 100%;
}

:host(.ic-drawer-right.ic-drawer-expanded) .drawer-panel,
:host(.ic-drawer-left.ic-drawer-expanded) .drawer-panel {
  flex-direction: row;
}

:host(.ic-drawer-expanded) .overlay,
:host(.ic-drawer-expanded) .inner-drawer-panel {
  opacity: 1;
}

:host(.ic-drawer-expanded) .overlay,
:host(.ic-drawer-collapsing) .overlay,
:host(.ic-drawer-expanded) .inner-drawer-panel,
:host(.ic-drawer-collapsing) .inner-drawer-panel {
  display: flex;
  visibility: visible;
  width: 100%;
  height: 100%;
}

/* Sizing */

:host(.ic-drawer-small) {
  --ic-drawer-width: var(--drawer-size-small);
  --ic-drawer-height: var(--drawer-size-small);
}

:host(.ic-drawer-medium) {
  --ic-drawer-width: var(--drawer-size-medium);
  --ic-drawer-height: var(--drawer-size-medium);
}

:host(.ic-drawer-large) {
  --ic-drawer-width: var(--drawer-size-large);
  --ic-drawer-height: var(--drawer-size-large);
}

:host(.ic-drawer-right.ic-drawer-expanded) .drawer-panel,
:host(.ic-drawer-left.ic-drawer-expanded) .drawer-panel {
  width: var(--ic-drawer-width);
}

:host(.ic-drawer-top.ic-drawer-expanded) .drawer-panel,
:host(.ic-drawer-bottom.ic-drawer-expanded) .drawer-panel {
  height: var(--ic-drawer-height);
}

:host(.ic-drawer-expanded) .drawer-panel,
:host(.ic-drawer-collapsing) .drawer-panel {
  max-width: 100%;
  max-height: 100%;
}

:host(.ic-drawer-right) .drawer-panel .inner-drawer-panel,
:host(.ic-drawer-left) .drawer-panel .inner-drawer-panel {
  min-width: var(--ic-drawer-width);
}

:host(.ic-drawer-top) .drawer-panel .inner-drawer-panel,
:host(.ic-drawer-bottom) .drawer-panel .inner-drawer-panel {
  min-height: var(--ic-drawer-height);
}

@media (max-width: 300px /* --drawer-size-small */) {
  :host(.ic-drawer-right) .drawer-panel.small .inner-drawer-panel,
  :host(.ic-drawer-left) .drawer-panel.small .inner-drawer-panel {
    min-width: 100vw;
  }
}

@media (max-height: 300px /* --drawer-size-small */) {
  :host(.ic-drawer-top) .drawer-panel.small .inner-drawer-panel,
  :host(.ic-drawer-bottom) .drawer-panel.small .inner-drawer-panel {
    min-height: 100vh;
  }
}

@media (max-width: 450px /* --drawer-size-medium */) {
  :host(.ic-drawer-right) .drawer-panel.medium .inner-drawer-panel,
  :host(.ic-drawer-left) .drawer-panel.medium .inner-drawer-panel {
    min-width: 100vw;
  }
}

@media (max-height: 450px /* --drawer-size-medium */) {
  :host(.ic-drawer-top) .drawer-panel.medium .inner-drawer-panel,
  :host(.ic-drawer-bottom) .drawer-panel.medium .inner-drawer-panel {
    min-height: 100vh;
  }
}

@media (max-width: 600px /* --drawer-size-large */) {
  :host(.ic-drawer-right) .drawer-panel.large .inner-drawer-panel,
  :host(.ic-drawer-left) .drawer-panel.large .inner-drawer-panel {
    min-width: 100vw;
  }
}

@media (max-height: 600px /* --drawer-size-large */) {
  :host(.ic-drawer-top) .drawer-panel.large .inner-drawer-panel,
  :host(.ic-drawer-bottom) .drawer-panel.large .inner-drawer-panel {
    min-height: 100vh;
  }
}

/* Positioning */

:host(.ic-drawer-right),
:host(.ic-drawer-left) {
  top: 0;
  bottom: 0;
}

:host(.ic-drawer-top),
:host(.ic-drawer-bottom) {
  left: 0;
  right: 0;
}

:host(.ic-drawer-left),
:host(.ic-drawer-left) .drawer-panel {
  left: 0;
}

:host(.ic-drawer-right),
:host(.ic-drawer-right) .drawer-panel {
  right: 0;
}

:host(.ic-drawer-top),
:host(.ic-drawer-top) .drawer-panel {
  top: 0;
}

:host(.ic-drawer-bottom),
:host(.ic-drawer-bottom) .drawer-panel {
  bottom: 0;
}

:host(.ic-drawer-left) {
  flex-direction: row-reverse;
}

:host(.ic-drawer-top) {
  flex-direction: column-reverse;
}

:host(.ic-drawer-bottom) {
  flex-direction: column;
}

/* Header */

.drawer-header {
  border-bottom: var(--ic-space-1px) solid var(--ic-drawer-divider-color);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: var(--ic-space-xs) var(--ic-space-md);
}

:host(.ic-drawer-right) .drawer-panel:not(.controlled) .drawer-header {
  padding-right: calc(var(--ic-space-xxl) + var(--ic-space-xs));
}

:host(.ic-drawer-left) .drawer-panel:not(.controlled) .drawer-header {
  padding-left: calc(var(--ic-space-xxl) + var(--ic-space-xs));
}

:host(.ic-drawer-right) .controlled .drawer-header,
:host(.ic-drawer-right) .controlled .heading-area {
  padding-left: var(--ic-space-xs);
}

:host(.ic-drawer-left) .controlled .drawer-header,
:host(.ic-drawer-left) .controlled .heading-area {
  padding-right: var(--ic-space-xs);
}

:host(.ic-drawer-right) .controlled .drawer-header {
  flex-direction: row-reverse;
}

.drawer-header ic-typography,
.drawer-header ::slotted(ic-typography) {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  --ic-typography-color: var(--ic-drawer-text);
}

.heading-area {
  display: flex;
  gap: var(--ic-space-xs);
}

:host(.ic-drawer-right) .controlled .heading-area {
  margin-right: auto;
}

::slotted([slot="heading-adornment"]) {
  fill: var(--ic-drawer-text);
  height: var(--ic-space-lg);
  min-width: var(--ic-space-lg);
  padding: var(--ic-space-xxs) var(--ic-space-xxs) 0 0;
  width: var(--ic-space-lg);
}

/* Body */

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: var(--ic-space-md);
}

.content-area {
  flex: 1 1 0;
  margin: 0 calc(var(--ic-space-xs) * -1);
  overflow-y: auto;
  padding: 0 var(--ic-space-xs);
  transition: border-radius var(--ic-easing-transition-fast),
    box-shadow var(--ic-easing-transition-fast);
}

.content-area.scrollable:focus {
  border-radius: var(--ic-border-radius);
  box-shadow: var(--ic-border-focus);
  outline: none;
}

.content-area ic-typography,
.content-area ::slotted(ic-typography) {
  --ic-typography-color: var(--ic-drawer-text);
}

.content-area-shadow-top,
.content-area-shadow-bottom {
  box-shadow: none;
  height: var(--ic-space-xs);
  position: sticky;
  transition: var(--ic-easing-transition-slow);
  width: 100%;
}

.content-area-shadow-top {
  margin-bottom: calc(var(--ic-space-xs) * -1);
  top: 0;
}

.content-area-shadow-bottom {
  bottom: 0;
  margin-top: calc(var(--ic-space-xs) * -1);
}

.content-area-shadow-bottom.show {
  box-shadow: inset 0 calc(var(--ic-space-xs) * -1) var(--ic-space-xs)
    calc(var(--ic-space-xs) * -1) var(--ic-state-layer-darken-20);
}

.content-area-shadow-top.show {
  box-shadow: inset 0 var(--ic-space-xs) var(--ic-space-xs)
    calc(var(--ic-space-xs) * -1) var(--ic-state-layer-darken-20);
}

/* Actions */

:host .action-area {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: var(--ic-space-md);
  justify-content: flex-end;
  margin-top: var(--ic-space-md);
  width: fit-content;
}

:host .action-area.with-margin {
  margin-bottom: calc(
    var(--ic-space-xl) + var(--ic-space-xs) + var(--ic-space-xxxs)
  );
}

:host(.ic-drawer-bottom) .action-area,
:host(.ic-drawer-top) .action-area {
  min-height: var(--ic-space-lg);
}

/* Chevron button */

:host .chevron-btn {
  background-color: var(--ic-drawer-background);
  box-sizing: border-box;
  position: absolute;
  z-index: calc(var(--ic-z-index-drawer) + 2);
}

:host .chevron-btn::part(button) {
  padding: var(--ic-space-xxs);
}

:host(.ic-drawer-left) .chevron-btn,
:host(.ic-drawer-right) .chevron-btn {
  padding: var(--ic-space-xs) calc(var(--ic-space-xs) + var(--ic-space-1px));
}

:host(.ic-drawer-top) .chevron-btn,
:host(.ic-drawer-bottom) .chevron-btn {
  padding: calc(var(--ic-space-xs) + var(--ic-space-1px)) var(--ic-space-xs);
}

:host(.ic-drawer-right) .chevron-btn {
  border-top-left-radius: var(--ic-border-radius);
  right: 0;
}

:host(.ic-drawer-left) .chevron-btn {
  border-top-right-radius: var(--ic-border-radius);
  left: 0;
}

:host(.ic-drawer-bottom) .chevron-btn {
  align-self: flex-end;
}

:host(.ic-drawer-top.ic-drawer-collapsed) .chevron-btn,
:host(.ic-drawer-bottom.ic-drawer-collapsed) .chevron-btn {
  display: flex;
  justify-content: center;
}

:host .chevron-btn svg {
  height: var(--ic-space-lg) !important;
  width: var(--ic-space-lg) !important;
}

:host(.ic-drawer-right.ic-drawer-collapsed) .chevron-btn svg,
:host(.ic-drawer-left.ic-drawer-expanded) .chevron-btn svg {
  transform: rotate(180deg);
}

:host(.ic-drawer-top.ic-drawer-expanded) .chevron-btn svg,
:host(.ic-drawer-bottom.ic-drawer-collapsed) .chevron-btn svg {
  transform: rotate(270deg);
}

:host(.ic-drawer-top.ic-drawer-collapsed) .chevron-btn svg,
:host(.ic-drawer-bottom.ic-drawer-expanded) .chevron-btn svg {
  transform: rotate(90deg);
}

/* High contrast mode */
@media (forced-colors: active) {
  :host(.ic-drawer-right) .drawer-panel {
    border-left: solid var(--ic-space-1px) transparent;
  }

  :host(.ic-drawer-left) .drawer-panel {
    border-right: solid var(--ic-space-1px) transparent;
  }

  :host(.ic-drawer-top) .drawer-panel {
    border-bottom: solid var(--ic-space-1px) transparent;
  }

  :host(.ic-drawer-bottom) .drawer-panel {
    border-top: solid var(--ic-space-1px) transparent;
  }
}
