@import "../../global/normalize.css";

/**
  @prop --ic-z-index-drawer: z-index of drawer.
  @prop --ic-drawer-width: the width of the expanded left or right drawer.
  @prop --ic-drawer-height: the width of the expanded top or bottom drawer.
*/

:host {
  position: fixed;
  display: flex;
  z-index: var(--ic-z-index-drawer);
}

:host .ic-drawer-overlay {
  background-color: rgb(0 0 0 / 20%);
}

:host .ic-drawer-panel {
  position: fixed;
  display: flex;
  background-color: var(--ic-drawer-background);
  box-shadow: var(--ic-drawer-drop-shadow);
}

:host .inner-drawer-panel,
:host .ic-drawer-overlay {
  transition: opacity 300ms;
}

:host(.ic-boundary-parent),
:host(.ic-boundary-parent) .ic-drawer-panel {
  position: absolute;
}

:host(.ic-right-position) .ic-drawer-panel,
:host(.ic-left-position) .ic-drawer-panel {
  height: 100%;
}

:host(.ic-right-position) .ic-drawer-panel,
:host(.ic-left-position) .ic-drawer-panel {
  transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

:host(.ic-top-position) .ic-drawer-panel,
:host(.ic-bottom-position) .ic-drawer-panel {
  transition: height 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

:host(.expanded) .inner-drawer-panel,
:host(.expanded) .ic-drawer-overlay {
  opacity: 1;
}

:host(.expanded) .inner-drawer-panel,
:host(.ic-drawer-collapsing) .inner-drawer-panel,
:host(.expanded) .ic-drawer-overlay,
:host(.ic-drawer-collapsing) .ic-drawer-overlay {
  display: flex;
  width: 100%;
  height: 100%;
}

:host(.collapsed) .inner-drawer-panel,
:host(.ic-drawer-expanding) .inner-drawer-panel,
:host(.collapsed) .ic-drawer-overlay,
:host(.ic-drawer-expanding) .ic-drawer-overlay {
  opacity: 0;
}

:host(.collapsed:not(.ic-drawer-collapsing)) .inner-drawer-panel,
:host(.collapsed:not(.ic-drawer-collapsing)) .ic-drawer-overlay {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  :host(.collapsed) .inner-drawer-panel {
    display: none;
  }
}

:host(.ic-top-position) .ic-drawer-panel,
:host(.ic-bottom-position) .ic-drawer-panel {
  width: 100%;
  justify-content: center;
}

:host(.ic-left-position) .ic-drawer-panel {
  justify-content: flex-end;
}

:host(.ic-right-position) .ic-drawer-panel {
  justify-content: flex-start;
}

:host(.ic-top-position) .ic-drawer-panel {
  align-items: flex-end;
}

:host(.ic-bottom-position) .ic-drawer-panel {
  align-items: flex-start;
}

/* Collapsed state */

/* CHECK IF THIS IS ACTUALLY NEEDED */
/* :host(.collapsed:not(.ic-drawer-collapsing).ic-left-position),
:host(.collapsed:not(.ic-drawer-collapsing).ic-right-position) {
  width: calc(var(--ic-space-xs) * 7 + var(--ic-space-xxxs));
} */

/* :host(.collapsed:not(.ic-drawer-collapsing).ic-top-position),
:host(.collapsed:not(.ic-drawer-collapsing).ic-bottom-position) {
  height: calc(var(--ic-space-xs) * 7 + var(--ic-space-xxxs));
} */

:host(.ic-left-position) .ic-drawer-panel.collapsed-drawer.manual-control,
:host(.ic-right-position) .ic-drawer-panel.collapsed-drawer.manual-control {
  width: 0;
}

:host(.ic-top-position) .ic-drawer-panel.collapsed-drawer.manual-control,
:host(.ic-bottom-position) .ic-drawer-panel.collapsed-drawer.manual-control {
  width: 0;
}

/* :host .ic-drawer-overlay {
  visibility: hidden;
  opacity: 0;
} */

/* @media (prefers-reduced-motion: no-preference) {
  :host .ic-drawer-overlay {
    transition: opacity 10s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
} */

:host(.collapsed.ic-left-position) .ic-drawer-panel,
:host(.collapsed.ic-right-position) .ic-drawer-panel {
  width: calc(var(--ic-space-xxl) + var(--ic-space-xxxs));
}

:host(.collapsed.ic-top-position) .ic-drawer-panel,
:host(.collapsed.ic-bottom-position) .ic-drawer-panel {
  height: calc(var(--ic-space-xxl) + var(--ic-space-xxxs));
}

/* Expanded state */
:host(.expanded),
:host(.ic-drawer-collapsing) {
  width: 100vw;
  height: 100vh;
}

:host(.ic-boundary-parent.expanded),
:host(.ic-boundary-parent.ic-drawer-collapsing) {
  width: 100%;
  height: 100%;
}

:host(.ic-right-position.expanded) .ic-drawer-panel,
:host(.ic-left-position.expanded) .ic-drawer-panel {
  flex-direction: row;
}

/* Sizing */
:host(.ic-left-position) .ic-drawer-panel.medium .inner-drawer-panel,
:host(.ic-right-position) .ic-drawer-panel.medium .inner-drawer-panel {
  min-width: var(--ic-drawer-width, calc(var(--ic-space-xs) * 56.25));
}

:host(.ic-top-position) .ic-drawer-panel.medium .inner-drawer-panel,
:host(.ic-bottom-position) .ic-drawer-panel.medium .inner-drawer-panel {
  min-height: var(--ic-drawer-height, calc(var(--ic-space-xs) * 56.25));
}

:host(.ic-right-position.expanded) .ic-drawer-panel.small,
:host(.ic-left-position.expanded) .ic-drawer-panel.small {
  width: var(--ic-drawer-width, calc(var(--ic-space-sm) * 25));
}

:host(.ic-right-position.expanded) .ic-drawer-panel.medium,
:host(.ic-left-position.expanded) .ic-drawer-panel.medium {
  width: var(--ic-drawer-width, calc(var(--ic-space-xs) * 56.25));
}

:host(.ic-right-position.expanded) .ic-drawer-panel.large,
:host(.ic-left-position.expanded) .ic-drawer-panel.large {
  width: var(--ic-drawer-width, calc(var(--ic-space-sm) * 50));
}

:host(.ic-top-position.expanded) .ic-drawer-panel.small,
:host(.ic-bottom-position.expanded) .ic-drawer-panel.small {
  height: var(--ic-drawer-height, calc(var(--ic-space-sm) * 25));
}

:host(.ic-top-position.expanded) .ic-drawer-panel.medium,
:host(.ic-bottom-position.expanded) .ic-drawer-panel.medium {
  height: var(--ic-drawer-height, calc(var(--ic-space-xs) * 56.25));
}

:host(.ic-top-position.expanded) .ic-drawer-panel.large,
:host(.ic-bottom-position.expanded) .ic-drawer-panel.large {
  height: var(--ic-drawer-height, calc(var(--ic-space-sm) * 50));
}

/* Border radius */
:host(.ic-top-position) .ic-drawer-panel {
  border-radius: 0 0 var(--ic-border-radius) var(--ic-border-radius);
}

:host(.ic-right-position) .ic-drawer-panel {
  border-radius: var(--ic-border-radius) 0 0 var(--ic-border-radius);
}

:host(.ic-bottom-position) .ic-drawer-panel {
  border-radius: var(--ic-border-radius) var(--ic-border-radius) 0 0;
}

:host(.ic-left-position) .ic-drawer-panel {
  border-radius: 0 var(--ic-border-radius) var(--ic-border-radius) 0;
}

/* Positioning */
:host(.ic-right-position),
:host(.ic-left-position) {
  top: 0;
  bottom: 0;
}

:host(.ic-top-position),
:host(.ic-bottom-position) {
  left: 0;
  right: 0;
}

:host(.ic-left-position) .ic-drawer-panel,
:host(.ic-left-position) {
  left: 0;
}

:host(.ic-right-position) .ic-drawer-panel,
:host(.ic-right-position) {
  right: 0;
}

:host(.ic-top-position) .ic-drawer-panel,
:host(.ic-top-position) {
  top: 0;
}

:host(.ic-bottom-position) .ic-drawer-panel,
:host(.ic-bottom-position) {
  bottom: 0;
}

:host .inner-drawer-panel {
  flex-flow: column;
  height: 100%;
}

/* Drawer panel styling */
:host .drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ic-space-xs) var(--ic-space-md);
  border-bottom: var(--ic-space-1px) solid var(--ic-drawer-divider-color);
}

:host(.ic-left-position) .drawer-header {
  padding-left: calc(var(--ic-space-xxl) + var(--ic-space-xs));
}

:host(.ic-right-position) .ic-drawer-panel:not(.manual-control) .drawer-header {
  padding-right: calc(var(--ic-space-xxl) + var(--ic-space-xs));
}

:host .heading-area {
  display: flex;
  gap: var(--ic-space-xs);
  width: 100%;
}

:host ::slotted([slot="heading-adornment"]) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  min-width: var(--ic-space-lg);
  padding: var(--ic-space-xxs) var(--ic-space-xxs) 0 0;
}

/* :host .heading-area.no-arrow {
  padding-left: var(--ic-space-xs);
} */

/* Drawer body */
:host .main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  height: 100%;
  padding: var(--ic-space-md);
  /* height: calc(100% - var(--ic-space-xl)); */
  /* margin-bottom: var(--ic-space-xs); */

  /* --section-container-margin: 0; */
}

:host .message-area {
  overflow-y: auto;
  flex: 1 1 0;
  /* padding-top: var(--ic-space-md); */
}

/* :host .message-area.message-area-padding {
  margin: var(--ic-space-md) var(--ic-space-md) 0;
} */

/* :host .body-text.message-area-padding {
  padding: 0 var(--ic-space-md);
} */

/* :host .message-area .body-text { */ /* COMMENTED OUT TEMPORARILY */
/* height: 100%; */

/* overflow-y: auto; */

/* box-shadow: 0 4px 16px rgb(0 0 0 / 25%) */
/* background: */
/* Shadow Cover TOP */
/* linear-gradient( */
/* white 30%,
        rgb(255 255 255 / 0%)
      )
      center top, */
/* Shadow Cover BOTTOM */
/* linear-gradient(rgb(255 255 255 / 0%), white 70%) */
/* center bottom, */
/* Shadow TOP */
/* linear-gradient(
        to bottom,
        rgb(0 0 0 / 10%) 0%,
        rgb(0 0 0 / 5%) 50%,
        rgb(0 0 0 / 0%)
      )
      center top, */
/* Shadow BOTTOM */
/* linear-gradient(
        to top,
        rgb(0 0 0 / 10%) 0%,
        rgb(0 0 0 / 5%) 40%,
        rgb(0 0 0 / 5%) 70%,
        rgb(0 0 0 / 0%)
      )
      center bottom;
  background-repeat: no-repeat;
  background-size: 100% 12px, 100% 12px, 100% 12px, 100% 12px;
  background-attachment: local, local, scroll, scroll;
  white-space: break-spaces;
} */

:host ::slotted(*) {
  fill: currentcolor;
}

/* Drawer actions */
:host .action-area {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--ic-space-md);
  /* padding: 0 var(--ic-space-md); */
  gap: var(--ic-space-md);
  flex-wrap: wrap;
}

/* Chevron styling */
:host .chevron-btn {
  background-color: var(--ic-drawer-background);
  box-sizing: border-box;
  position: absolute;
  z-index: calc(var(--ic-z-index-drawer) + 1);
}

:host .chevron-btn::part(button) {
  padding: var(--ic-space-xxs);
}

:host .chevron-btn svg {
  height: 24px !important;
  width: 24px !important;
}

:host(.ic-left-position) .chevron-btn {
  left: 0;
}

:host(.ic-right-position) .chevron-btn {
  right: 0;
}

:host(.ic-bottom-position) .chevron-btn {
  align-self: flex-end;
}

:host(.ic-left-position) .chevron-btn,
:host(.ic-right-position) .chevron-btn {
  padding: var(--ic-space-xs) calc(var(--ic-space-xs) + var(--ic-space-1px));
}

:host(.ic-top-position) .chevron-btn,
:host(.ic-bottom-position) .chevron-btn {
  padding: calc(var(--ic-space-xs) + var(--ic-space-1px)) var(--ic-space-xs);
}

:host(.collapsed.ic-top-position) .chevron-btn,
:host(.collapsed.ic-bottom-position) .chevron-btn {
  display: flex;
  /* flex: 1 1 0; NOT SURE IF THIS IS NEEDED */
  justify-content: center;
}

:host(.ic-left-position.expanded) .chevron-btn svg,
:host(.ic-right-position.collapsed) .chevron-btn svg {
  transform: rotate(180deg);
}

:host(.ic-top-position.expanded) .chevron-btn svg,
:host(.ic-bottom-position.collapsed) .chevron-btn svg {
  transform: rotate(270deg);
}

:host(.ic-top-position.collapsed) .chevron-btn svg,
:host(.ic-bottom-position.expanded) .chevron-btn svg {
  transform: rotate(90deg);
}

/* High contrast mode */
@media (forced-colors: active) {
  :host(.ic-left-position) .ic-drawer-panel {
    border-right: solid var(--ic-space-1px) transparent;
  }

  :host(.ic-right-position) .ic-drawer-panel {
    border-left: solid var(--ic-space-1px) transparent;
  }

  :host(.ic-top-position) .ic-drawer-panel {
    border-bottom: solid var(--ic-space-1px) transparent;
  }

  :host(.ic-bottom-position) .ic-drawer-panel {
    border-top: solid var(--ic-space-1px) transparent;
  }
}
