@import "../../global/normalize.css";

:host {
  display: flex;
}

a {
  text-decoration: none !important;
  color: var(--ic-architechtural-black) !important;
}

button {
  border: none;
  background-color: transparent;
  outline: var(--ic-hc-focus-outline);
}

.card,
.card.clickable {
  display: flex;
  flex-direction: column;
  border: var(--ic-border-default);
  border-radius: var(--ic-border-radius);
  box-sizing: border-box;
  padding: var(--ic-space-md);
  text-align: left;
  color: var(--ic-architechtural-black);
  transition: var(--ic-easing-transition-fast);
  position: relative;
  width: inherit;
  min-width: fit-content;
  height: fit-content;
  min-height: 100%;
}

.dark.card,
.dark.card.clickable {
  border: var(--ic-border-width) solid var(--ic-architectural-700);
}

.card.clickable:hover {
  background-color: var(--ic-action-default-bg-hover);
  border: var(--ic-border-hover);
  cursor: pointer;
}

.card.clickable:focus,
.card.clickable.focussed {
  background-color: var(--ic-action-default-bg-hover);
  box-shadow: var(--ic-border-focus);
  outline: var(--ic-hc-focus-outline);
  border: var(--ic-border-pressed);
}

.card.clickable:active {
  background-color: var(--ic-action-default-bg-active);
  box-shadow: var(--ic-border-focus);
}

.card.disabled {
  border: var(--ic-border-disabled);
}

.card.fullwidth {
  width: 100%;
}

.card-header {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  padding-right: var(--ic-space-xs);
}

.card.disabled ::slotted(svg) {
  fill: var(--ic-color-tertiary-text);
}

.card.clickable .card-title {
  --ic-typography-color: var(--ic-hyperlink);

  color: var(--ic-hyperlink);
  text-decoration: underline;
  text-decoration-thickness: var(--ic-space-1px);
}

.card.clickable:hover .card-title,
.card.clickable:focus .card-title,
.card.clickable.focussed .card-title {
  display: inline-block;
  border-bottom: 0.25rem solid !important;
  margin-bottom: -0.25rem !important;
  text-decoration: none;
}

@supports (text-underline-offset: 25%) {
  .card.clickable:hover .card-title,
  .card.clickable:focus .card-title,
  .card.clickable.focussed .card-title {
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
    text-underline-offset: 25%;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

.card.clickable:active .card-title {
  text-decoration: none;
}

.card.disabled .card-title {
  text-decoration: underline;
  text-decoration-thickness: var(--ic-space-1px);
  text-decoration-color: var(--ic-color-tertiary-text);
  color: var(--ic-color-tertiary-text);

  --ic-typography-color: var(--ic-color-tertiary-text);
}

.subheading {
  margin-top: var(--ic-space-xxs);
}

.adornment {
  margin-top: var(--ic-space-xxs);
}

.card-message {
  margin-top: var(--ic-space-md);
  align-items: left;
}

.card.disabled .card-message,
.card.disabled .subheading {
  --ic-typography-color: var(--ic-color-tertiary-text);
}

.interaction-button {
  margin-left: auto;
}

.image-top {
  margin-bottom: var(--ic-space-md);
  display: flex;
  justify-content: center;
}

.image-mid {
  margin-top: var(--ic-space-md);
  display: flex;
  justify-content: center;
}

.interaction-area {
  display: flex;
  flex-grow: 1;
  gap: var(--ic-space-md);
  margin-top: var(--ic-space-md);
  align-items: flex-end;
}

.interaction-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ic-space-sm);
}

.toggle-button {
  color: var(--ic-action-default);
  width: 2.5rem;
  height: 2.5rem;
  padding: var(--ic-space-xs);
  margin: var(--ic-space-1px) 0;
  min-width: 0;
  cursor: pointer;
  transition: var(--ic-easing-transition-fast);
  border-radius: var(--ic-border-radius);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle;
}

#ic-tooltip-expand-button {
  margin-left: auto;
  position: relative;
}

.toggle-button:hover,
.toggle-button:hover:focus {
  background-color: var(--ic-action-default-bg-hover);
  color: var(--ic-action-default-hover);
}

.toggle-button:focus {
  box-shadow: var(--ic-border-focus);
}

.toggle-button:active:not(:focus) {
  background-color: var(--ic-action-default-bg-active);
  color: var(--ic-action-default-active);
}

.toggle-button svg {
  pointer-events: none;
  width: 100% !important;
  height: 100% !important;
  fill: currentcolor !important;
}

.toggle-button-closed svg {
  transform: rotate(90deg);
}

.toggle-button-expanded svg {
  transform: rotate(-90deg);
}

.expanded-content {
  margin-top: var(--ic-space-md);
}

/** High Contrast **/
@media (forced-colors: active) {
  .card ::slotted(svg) {
    fill: currentcolor;
  }

  .card.disabled ::slotted(svg) {
    fill: GrayText !important;
  }

  .card.disabled {
    border-color: GrayText !important;
  }

  .card.disabled .card-message,
  .card.disabled .subheading,
  .card.disabled .card-title {
    color: GrayText;

    --ic-typography-color: GrayText;
  }
}

/* Add back in after storybook has the `color-scheme: light dark` code */

/* @media (prefers-color-scheme: dark) and (not (forced-colors: active)) {
  ::slotted([slot="icon"]) {
    fill: var(--ic-architectural-white);
  }
} */
