ic-input-validation {
  width: var(--input-width, 20rem);
  margin-top: var(--ic-space-xs);
  display: flex;
}

ic-input-validation.fullwidth {
  width: 100%;
}

ic-input-validation span.status-icon {
  padding-right: var(--ic-space-xxs);
}

ic-input-validation span.status-icon > svg {
  height: 1.25rem;
  width: 1.25rem;
}

ic-input-validation span.icon-success > svg {
  fill: var(--ic-status-success);
}

ic-input-validation span.icon-error > svg {
  fill: var(--ic-status-error);
}

ic-input-validation span.icon-warning > svg {
  fill: var(--ic-status-warning);
}

ic-input-validation .statustext {
  flex-grow: 1;
}
