/**
  * @prop --height: height of the table row container
  */

:host {
  position: relative;
  display: block;
  height: 100%;
  max-height: 100%;
}

.table-container {
  position: relative;
  height: calc(100% - 2px);
}

.table-row-container {
  position: relative;
  height: 100%;
  overflow: auto;
  transition: var(--ic-easing-transition-fast);
  overflow-anchor: none;
}

:host([show-pagination="true"]) .table-row-container {
  height: calc(100% - 57px);
}

table {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.table-row-container:focus {
  outline: none;
  box-shadow: var(--ic-border-focus);
  border-radius: var(--ic-border-radius);
  transition: var(--ic-easing-transition-fast);
  z-index: 1;
}

:host([embedded="true"]) .table-container {
  border: solid var(--ic-architectural-200) 1px;
}

.column-header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.column-header-overlay {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 6px 8px -4px rgb(0 0 0 / 20%);
}

.row-header-sticky {
  position: sticky;
  left: 0;
}

.column-header,
.table-row {
  box-sizing: border-box;
}

.column-header-inner-container {
  display: flex;
  align-items: center;
}

.sort-button {
  margin-left: auto;
}

.sort-button:hover {
  background-color: var(--ic-action-dark-bg-hover);
}

.sort-button:active {
  background-color: var(--ic-action-dark-bg-active);
}

.sort-button svg {
  color: black;
}

.sort-button-unsorted svg {
  color: var(--ic-color-tertiary-text);
}

.table-density-default {
  height: 40px;
}

.table-density-dense {
  height: 32px;
}

.table-density-spacious {
  height: 48px;
}

.column-header,
.row-header {
  text-align: left;
  padding: 8px;
  background-color: var(--ic-architectural-40);
  border-right: solid var(--ic-architectural-200) 1px;
  border-bottom: solid var(--ic-architectural-200) 1px;
}

.column-header:last-child {
  border-right: none;
}

.scrollable .column-header:last-child {
  border-right: solid var(--ic-architectural-200) 1px !important;
}

:host([embedded="true"]) tr:last-child .table-cell,
:host([embedded="true"]) tr:last-child .row-header {
  border-bottom: none;
}

.column-header-alignment-left,
.row-header-alignment-left {
  text-align: left;
}

.column-header-alignment-right,
.row-header-alignment-right {
  text-align: right;
}

.column-header-alignment-center,
.row-header-alignment-center {
  text-align: center;
}

.table-row:nth-child(even) {
  background-color: var(--ic-architectural-20);
}

.table-cell {
  padding: 8px;
  border-bottom: solid var(--ic-architectural-100) 1px;
}

.data-type-string {
  text-align: left;
  vertical-align: top;
}

.data-type-number {
  text-align: right;
  vertical-align: top;
}

.cell-alignment-left {
  text-align: left;
}

.cell-alignment-right {
  text-align: right;
}

.cell-alignment-center {
  text-align: center;
}

.cell-alignment-top {
  vertical-align: top;
}

.cell-alignment-middle {
  vertical-align: middle;
}

.cell-alignment-bottom {
  vertical-align: bottom;
}

.cell-emphasis-low {
  color: var(--ic-color-secondary-text);
}

.cell-emphasis-high {
  font-weight: 700;
}

.pagination-container {
  background-color: var(--ic-architectural-40);
  border-top: solid var(--ic-architectural-200) 1px;
}

.screen-reader-sort-text,
.table-caption {
  position: absolute;
  left: -100rem;
}

.table-cell,
.column-header,
.row-header {
  word-wrap: break-word;
  white-space: pre-wrap;
}
