@import "../../global/normalise.css";

:host {
  display: block;
}

:host(.sticky) {
  position: sticky;
  top: 0;
  box-shadow: var(--ic-elevation-overlay);
}

header {
  background-color: var(--ic-architectural-40);
}

header.border-bottom {
  border-bottom: 1px solid var(--ic-architectural-300);
}

header.tabs {
  padding-top: var(--ic-space-md);
}

.breadcrumb-area {
  margin-bottom: var(--ic-space-md);
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "title-area action-area"
    "input-area action-area";
  column-gap: var(--ic-space-md);
  justify-content: space-between;
  width: 100%;
}

.title-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 304px;
  grid-area: title-area;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  row-gap: var(--ic-space-xs);
  column-gap: var(--ic-space-md);
}

.heading {
  display: inline-block;
  overflow-wrap: break-word;
  hyphens: auto;
}

.subheading.small {
  margin-top: var(--ic-space-xs);
}

.action-area {
  display: flex;
  gap: var(--ic-space-md);
  flex-flow: row wrap;
  justify-self: end;
  justify-content: flex-end;
  height: fit-content;
  grid-area: action-area;
}

.input-area,
.navigation-area {
  margin-top: var(--ic-space-md);
  width: 100%;
}

.tabs-slot {
  display: flex;
  overflow-x: auto;
  padding: 8px;
  margin: -8px;
}

.input-area {
  grid-area: input-area;
}

@media screen and (max-width: 576px) {
  ::slotted(ic-text-field) {
    --input-width: 100%;

    max-width: 320px;
  }

  .main-content {
    grid-template-areas:
      "title-area"
      "action-area"
      "input-area";
    justify-content: flex-start;
  }

  .title-area {
    min-width: 0;
  }

  .action-area {
    min-width: 100%;
    margin-top: var(--ic-space-md);
    justify-content: start;
  }
}

@media screen and (min-width: 992px) {
  :host(.sticky-desktop) {
    position: sticky;
    top: 0;
    box-shadow: var(--ic-elevation-overlay);
  }
}
