@import "../../global/normalize.css";

:host {
  --bottom-position: var(--ic-space-xl);

  position: fixed;
  bottom: var(--bottom-position);
  left: 50%;
  transform: translate(-50%);
  animation: fadein var(--ic-transition-duration-slow) ease-in-out;
}

:host(.hidden) {
  display: none;
  animation: fadeout var(--ic-transition-duration-slow) ease-in-out;
}

.container {
  max-width: 32.5rem;
  min-width: 18rem;
  box-shadow: var(--ic-elevation-overlay);
  min-height: 3.5rem;
  background-color: var(--ic-architectural-800);
  color: var(--ic-color-white-text);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: var(--ic-border-radius);
}

.toast-icon-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.divider {
  height: 100%;
  width: var(--ic-space-xs);
  position: absolute;
  border-radius: var(--ic-space-xxxs) 0 0 var(--ic-space-xxxs);
}

.divider-neutral {
  background-color: var(--ic-architectural-500);
}

.divider-info {
  background-color: var(--ic-status-info-contrast);
}

.divider-warning {
  background-color: var(--ic-status-warning-contrast);
}

.divider-error {
  background-color: var(--ic-status-error-contrast);
}

.divider-success {
  background-color: var(--ic-status-success-contrast);
}

.toast-icon,
::slotted(svg) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  margin-left: var(--ic-space-md);
}

:host([variant="neutral"]) .toast-icon svg,
::slotted(svg) {
  fill: var(--ic-architectural-500);
}

:host([variant="info"]) .toast-icon svg {
  fill: var(--ic-status-info-contrast);
}

:host([variant="warning"]) .toast-icon svg {
  fill: var(--ic-status-warning-contrast);
}

:host([variant="error"]) .toast-icon svg {
  fill: var(--ic-status-error-contrast);
}

:host([variant="success"]) .toast-icon svg {
  fill: var(--ic-status-success-contrast);
}

.toast-content {
  margin-left: var(--ic-space-xs);
  width: 100%;
}

.no-icon {
  margin-left: var(--ic-space-md);
}

.toast-message {
  padding: var(--ic-space-xs) var(--ic-space-xs) var(--ic-space-xs) 0;
}

.toast-action-container {
  padding-bottom: var(--ic-space-md);
}

ic-button,
.toast-dismiss-timer {
  padding: var(--ic-space-xs);
}

@media (max-width: 576px) {
  :host {
    --bottom-position: var(--ic-space-lg);

    width: calc(100% - 2 * var(--ic-space-md));
  }
}

@media (min-width: 993px) {
  :host {
    --bottom-position: calc(var(--ic-space-xl) + var(--ic-space-xs));
  }
}

@media (forced-colors: active) {
  .container {
    border: var(--ic-hc-border);
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: var(--bottom-position);
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: var(--bottom-position);
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
