@import "../../global/normalize.css";

/**
 * @prop --ic-z-index-classification-banner: z-index of classification banner
 */

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--ic-space-lg);
  z-index: var(--ic-z-index-classification-banner);
}

:host(.inline) {
  position: static;
  left: auto;
  bottom: auto;
}

.classification-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--ic-space-xxxs) var(--ic-space-md);
}

.default {
  background-color: var(--ic-classification-not-set);
  color: var(--ic-classification-not-set-foreground);
}

.official,
.official-sensitive {
  background-color: var(--ic-classification-official);
  color: var(--ic-classification-official-foreground);
}

.secret {
  background-color: var(--ic-classification-secret);
  color: var(--ic-classification-secret-foreground);
}

.top-secret {
  background-color: var(--ic-classification-top-secret);
  color: var(--ic-classification-top-secret-foreground);
}

.offscreen {
  position: absolute;
  left: -9999px;
  background-color: #fff;
  color: #000;
  text-transform: none;
}

@media (forced-colors: active) {
  .classification-banner {
    border: var(--ic-hc-border);
  }
}
