@import "../../global/normalize.css";

/**
 * @prop --ic-z-index-classification-banner: z-index of classification banner
 */

:host {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--ic-space-lg);
  z-index: var(--ic-z-index-classification-banner);

  --ic-typography-color: currentcolor;

  /* classification official */
  --ic-color-classification-official: var(--ic-color-classification-blue);
  --ic-color-classification-official-foreground: #fff;

  /* classification secret */
  --ic-color-classification-secret: var(--ic-color-classification-yellow);
  --ic-color-classification-secret-foreground: #000;

  /* classification top secret */
  --ic-color-classification-top-secret: var(--ic-color-classification-red);
  --ic-color-classification-top-secret-foreground: #fff;

  /* classification not set */
  --ic-color-classification-not-set: var(--ic-color-classification-grey);
  --ic-color-classification-not-set-foreground: #fff;
}

:host(.ic-classification-banner-inline) {
  position: static;
  left: auto;
  bottom: auto;
}

.classification-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--ic-space-xxxs) var(--ic-space-md);
}

.default {
  background-color: var(--ic-color-classification-not-set);
  color: var(--ic-color-classification-not-set-foreground);
}

.official,
.official-sensitive {
  background-color: var(--ic-color-classification-official);
  color: var(--ic-color-classification-official-foreground);
}

.secret {
  background-color: var(--ic-color-classification-secret);
  color: var(--ic-color-classification-secret-foreground);
}

.top-secret {
  background-color: var(--ic-color-classification-top-secret);
  color: var(--ic-color-classification-top-secret-foreground);
}

.offscreen {
  position: absolute;
  left: -9999px;
  background-color: #fff;
  color: #000;
  text-transform: none;
}

@media (forced-colors: active) {
  .classification-banner {
    border: var(--ic-border-hc);
  }
}
