@import "../../global/normalize.css";

.label-container {
  padding: var(--ic-space-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host(.ic-accordion-group-small) .label-container {
  padding: var(--ic-space-xxs) var(--ic-space-xs);
}

:host(.ic-accordion-group-large) .label-container {
  padding: var(--ic-space-sm) var(--ic-space-xs);
}

:host(.ic-accordion-group-light) {
  color: var(--ic-color-white-text);

  --ic-typography-color: var(--ic-color-white-text);
}

:host(.ic-accordion-group.ic-accordion-group-dark) ::slotted(ic-accordion) {
  color: var(--ic-color-white-text);

  --ic-typography-color: var(--ic-color-white-text);
}
