.ic-mode-dark {
  /* currently use same tokens as light mode */
  --ic-color-primary-text: var(--ic-color-primary-text-light);
  --ic-color-inverse-text: var(--ic-color-inverse-text-light);
  --ic-color-secondary-text: var(--ic-color-secondary-text-light);
  --ic-color-tertiary-text: var(--ic-color-tertiary-text-light);

  /* --ic-color-primary-text: var(--ic-color-primary-text-dark);
  --ic-color-inverse-text: var(--ic-color-inverse-text-dark);
  --ic-color-secondary-text: var(--ic-color-secondary-text-dark);
  --ic-color-tertiary-text: var(--ic-color-tertiary-text-dark); */

  --ic-color-white-text: var(--ic-color-inverse-text);
}
