@import "../../global/normalize.css";

:host {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

ic-button {
  cursor: pointer;
}

ic-button.next-previous {
  --icon-width: var(--ic-space-xs);
  --icon-height: calc(var(--ic-space-xs) + var(--ic-space-xxxs));
}

ic-button.first-last {
  --icon-width: calc(var(--ic-space-sm) + var(--ic-space-xxxs));
  --icon-height: calc(var(--ic-space-xs) + var(--ic-space-xxxs));
}

.disabled {
  color: var(--ic-architectural-200);
  pointer-events: none;
  cursor: none;
  user-select: none;
}

ic-button.flip {
  transform: scaleX(-1);
}

.hide-current-page {
  display: none;
}