@import "../../global/normalize.css";

/**
 * @prop --ic-z-index-menu: z-index of menu
 */

@media (prefers-reduced-motion: no-preference) {
  :host(.open) .menu {
    transition: max-height var(--ic-transition-duration-slow);
  }
}

:host {
  border-radius: var(--ic-border-radius);
  max-height: 0;
  width: var(--input-width, 20rem);
  color: var(--ic-color-primary-text);
  background-color: var(--ic-architectural-white);
  position: relative;
  z-index: var(--ic-z-index-menu);
  box-sizing: border-box;
  box-shadow: var(--ic-elevation-overlay);
}

:host(:not(.no-focus):focus-within) {
  box-shadow: var(--ic-border-focus);
}

#retry-button::part(button) {
  height: var(--ic-space-lg);
}

.small #retry-button::part(button) {
  height: var(--ic-space-md);
}

:host(.on-dialog) {
  inset: auto !important;
}

:host(.on-dialog-fix-translate) {
  transform: translate(0, 80px) !important;
}

.menu {
  text-decoration: none;
  list-style-type: none;
  border: var(--ic-space-1px) solid var(--ic-architectural-400);
  border-radius: var(--ic-border-radius);
  background-color: var(--ic-architectural-white);
  visibility: hidden;
  max-height: 0;
  overflow-y: hidden;
}

.menu-scroll {
  overflow-y: auto;
}

.menu:focus-visible {
  outline: none;
}

:host(.open) {
  max-height: none;
  display: block;
}

:host(.open) .menu {
  visibility: visible;
  max-height: 20.125rem;
}

:host(.full-width) {
  width: 100%;
}

.option {
  padding: 0.5rem 0.438rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option:not(.loading-option) {
  justify-content: space-between;
}

:host(.small) .option {
  padding: 0.25rem 0.438rem;
}

.option:last-child {
  border-radius: 0 0 var(--ic-space-1px) var(--ic-space-1px);
}

.option:first-child {
  border-radius: var(--ic-space-1px) var(--ic-space-1px) 0 0;
}

.option:not(.disabled-option):hover {
  background-color: var(--ic-action-dark-bg-hover);
}

.option:not(.disabled-option):active {
  background-color: var(--ic-action-dark-bg-active);
}

.option:focus-visible {
  outline: var(--ic-hc-focus-outline);
}

.option:not(.disabled-option) .option-description {
  color: var(--ic-color-secondary-text);
}

.option-text-container {
  pointer-events: none;
}

.option.loading-option .option-text-container {
  margin-left: 0.625rem;
  color: var(--ic-color-secondary-text);
}

.error-icon-svg {
  height: var(--ic-space-md);
  width: var(--ic-space-md);
  fill: var(--ic-status-error);
  align-self: center;
  display: flex;
  margin-right: calc(var(--ic-space-xxs) * 1.2);
}

.loading-error-info {
  display: flex;
}

.check-icon {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
  margin-left: 0.5rem;
  pointer-events: none;
}

.focused-option .check-icon * {
  fill: currentcolor;
}

.option-group-title {
  padding: 1.5rem 0.438rem 0.5rem;
  color: var(--ic-color-tertiary-text);
}

:host(.small) .option-group-title {
  padding: 0.75rem 0.438rem 0.25rem;
}

.last-recommended-option {
  border-bottom: var(--ic-space-1px) solid var(--ic-architectural-400);
}

.disabled-option {
  color: var(--ic-architectural-200);
  cursor: default;
  pointer-events: none;
}

.focused-option,
.focused-option .option-description {
  background-color: var(--ic-focus-blue) !important;
  color: var(--ic-color-white-text) !important;
}

:host(.no-results) li {
  cursor: no-drop;
}

:host(.no-results) li:hover {
  background-color: transparent;
}

@media (forced-colors: active) {
  .focused-option:focus {
    outline: none;
    border: 0.125rem solid transparent;
  }
}
