@import "../../global/normalise.css";

@media (prefers-reduced-motion: no-preference) {
  :host([open]) .menu {
    transition: max-height var(--ic-transition-duration-slow);
  }
}

:host {
  border-radius: var(--ic-border-radius);
  max-height: 0;
  width: var(--input-width, 320px);
  color: var(--ic-color-primary-text);
  background-color: var(--ic-architectural-white);
  position: relative;
  z-index: var(--ic-z-index-popup-menu);
  box-sizing: border-box;
  box-shadow: var(--ic-elevation-overlay);
}

:host(:not(.no-focus):focus-within) {
  box-shadow: var(--ic-border-focus);
}

.menu {
  text-decoration: none;
  list-style-type: none;
  border: 1px solid var(--ic-architectural-400);
  border-radius: var(--ic-border-radius);
  background-color: var(--ic-architectural-white);
  visibility: hidden;
  max-height: 0;
  overflow-y: hidden;
}

.menu-scroll {
  overflow-y: auto;
}

.menu:focus-visible {
  outline: none;
}

:host([open]) {
  max-height: none;
  display: block;
}

:host([open]) .menu {
  visibility: visible;
  max-height: 322px;
}

:host(.full-width) {
  width: 100%;
}

.option {
  padding: 8px 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host([small]) .option {
  padding: 4px 7px;
}

.option:last-child {
  border-radius: 0 0 1px 1px;
}

.option:first-child {
  border-radius: 1px 1px 0 0;
}

.option:not(.disabled-option):hover {
  background-color: var(--ic-action-dark-bg-hover);
}

.option:not(.disabled-option):active {
  background-color: var(--ic-action-dark-bg-active);
}

.option:focus-visible {
  outline: var(--ic-hc-focus-outline);
}

.option:not(.disabled-option) .option-description {
  color: var(--ic-color-secondary-text);
}

.option-text-container {
  pointer-events: none;
}

.check-icon {
  height: 24px;
  margin-left: 8px;
  pointer-events: none;
}

.focused-option .check-icon * {
  fill: white;
}

.option-group-title {
  padding: 24px 7px 8px;
  color: var(--ic-color-tertiary-text);
}

:host([small]) .option-group-title {
  padding: 12px 7px 4px;
}

.last-recommended-option {
  border-bottom: 1px solid var(--ic-architectural-400);
}

.disabled-option {
  color: var(--ic-architectural-200);
  cursor: default;
  pointer-events: none;
}

.focused-option,
.focused-option .option-description {
  background-color: var(--ic-focus-blue) !important;
  color: var(--ic-color-white-text) !important;
}

:host(.no-results) li {
  cursor: no-drop;
}

:host(.no-results) li:hover {
  background-color: transparent;
}
