@import "../../global/normalize.css";

/**
 * @prop --ic-z-index-menu: z-index of menu
 */

@media (prefers-reduced-motion: no-preference) {
  :host(.ic-menu-open) .menu {
    transition: max-height var(--ic-transition-duration-slow);
  }
}

:host {
  max-height: 0;
  width: var(--menu-width, var(--input-width, 20rem));
  color: var(--menu-item-text-color, var(--ic-color-text-primary));

  --ic-typography-color: var(
    --menu-item-text-color,
    var(--ic-color-text-primary)
  );

  background-color: var(--menu-bg-color, var(--ic-architectural-white));
  position: relative;
  z-index: var(--ic-z-index-menu);
  box-sizing: border-box;
  box-shadow: var(--ic-elevation-overlay);
  border-radius: var(--ic-border-radius);
}

:host(.ic-menu-open:not(.ic-menu-no-focus):focus-within) {
  box-shadow: var(--ic-border-focus);
  outline: var(--ic-hc-focus-outline);
}

:host(.ic-select-select-all-focused) {
  box-shadow: var(--ic-elevation-overlay) !important;
}

#retry-button::part(button) {
  height: var(--ic-space-lg);
}

.small #retry-button::part(button) {
  height: var(--ic-space-md);
}

:host(.on-dialog) {
  inset: auto !important;
}

.menu {
  text-decoration: none;
  list-style-type: none;
  border-radius: 1px;
  background-color: var(--menu-bg-color, var(--ic-architectural-white));
  visibility: hidden;
  max-height: 0;
  overflow-y: hidden;
}

.menu:has(+ .option-bar) {
  border-radius: 0 0 1px 1px;
}

.menu-scroll {
  overflow-y: auto;
}

.menu:focus-visible {
  outline: none;
}

:host(.ic-menu-open) {
  max-height: none;
  display: flex;
  flex-direction: column-reverse;
  border: var(--ic-border-width) solid
    var(--menu-border-color, var(--ic-architectural-400));
  transition: box-shadow var(--ic-easing-transition-fast);
}

:host(.ic-menu-open) .menu {
  visibility: visible;
  max-height: calc(var(--ic-space-xl) * 10 + var(--ic-space-xxxs));
}

:host(.ic-menu-open) .option-bar {
  visibility: visible;
}

:host(.ic-menu-open) .select-all-button {
  display: block;
}

:host(.ic-menu-full-width) {
  width: 100%;
}

.option {
  padding: var(--ic-space-xs) calc(var(--ic-space-xs) - var(--ic-space-1px));
  cursor: pointer;
  display: flex;
  align-items: center;
}

.loading-option p {
  margin-bottom: 0 !important;
}

.option:not(.loading-option) {
  justify-content: space-between;
}

:host(.ic-menu-small) .option {
  padding: var(--ic-space-xxs) calc(var(--ic-space-xs) - var(--ic-space-1px));
}

:host(.ic-menu-large) .option {
  padding: var(--ic-space-sm) calc(var(--ic-space-xs) - var(--ic-space-1px));
}

.option:last-child {
  border-radius: 0 0 1px 1px;
}

:not(.menu:has(+ .option-bar)) .option:first-child {
  border-radius: 1px 1px 0 0;
}

.option:not(.disabled-option):hover {
  background-color: var(--ic-action-dark-bg-hover);
}

.option:not(.disabled-option):active {
  background-color: var(--ic-action-dark-bg-pressed);
}

.option:focus-visible {
  outline: var(--ic-hc-focus-outline);
}

.option:not(.disabled-option) .option-description {
  --ic-typography-color: var(--ic-color-text-secondary);
}

.option .option-label {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.option .option-label ic-typography {
  max-width: 100%;
  word-wrap: break-word;
}

.option .option-element {
  margin-top: var(--ic-space-xxs);
}

.option .option-icon {
  height: var(--ic-space-md);
  width: var(--ic-space-md);
  margin-top: var(--ic-space-xxs);
  margin-right: var(--ic-space-xxxs);
}

.option-text-container {
  pointer-events: none;
  width: 100%;
}

.option-text-container.show-check-icon {
  width: calc(var(--ic-space-lg) * 10 + var(--ic-space-xl));
}

.option.loading-option .option-text-container {
  margin-left: calc(var(--ic-space-xs) + var(--ic-space-xxxs));
  color: var(--ic-color-text-secondary);

  --ic-typography-color: var(--ic-color-text-secondary);
}

.error-icon-svg {
  height: var(--ic-space-md);
  width: var(--ic-space-md);
  fill: var(--ic-status-error-default);
  align-self: center;
  display: flex;
  margin-right: calc(var(--ic-space-xxs) * 1.2);
}

.loading-error-info {
  display: flex;
}

.check-icon {
  height: var(--ic-space-lg);
  min-width: var(--ic-space-lg);
  width: var(--ic-space-lg);
  margin-left: var(--ic-space-xs);
  pointer-events: none;
}

.focused-option .check-icon * {
  fill: currentcolor;
}

.option-group-title {
  padding: var(--ic-space-lg) calc(var(--ic-space-xs) - var(--ic-space-1px))
    var(--ic-space-xs);

  --ic-typography-color: var(--ic-color-text-tertiary);
}

:host(.ic-menu-small) .option-group-title {
  padding: var(--ic-space-sm) calc(var(--ic-space-xs) - var(--ic-space-1px))
    var(--ic-space-xxs);
}

.last-recommended-option {
  border-bottom: var(--ic-border-default);
}

.disabled-option {
  color: var(--ic-architectural-200);

  --ic-typography-color: var(--ic-architectural-200);

  cursor: default;
  pointer-events: none;
}

.focused-option,
.focused-option .option-description {
  background-color: var(--ic-color-focus-inner) !important;
  color: var(--ic-architectural-white) !important;

  --ic-typography-color: var(--ic-architectural-white) !important;
}

:host(.no-results) li {
  cursor: no-drop;
}

:host(.no-results) li:hover {
  background-color: transparent;
}

.option-bar {
  padding: var(--ic-space-xxs) var(--ic-space-xs);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ic-architectural-40);
  visibility: hidden;
  border-bottom: var(--ic-border-width) solid var(--ic-architectural-400);
  border-radius: 1px 1px 0 0;
}

.option-bar p {
  margin-bottom: 0 !important;
}

:host(.ic-menu-large) .option-bar {
  padding: var(--ic-space-xs);
}

.select-all-button {
  display: none;
}

.select-all-button:focus {
  z-index: calc(var(--ic-z-index-menu) + 1);
}

@media (forced-colors: active) {
  .focused-option:focus {
    outline: none;
    border: 0.125rem solid transparent;
  }
}
