@media (prefers-reduced-motion: no-preference) {
  :host(.show) {
    animation: expand var(--ic-transition-duration-slow);
  }

  :host(.hide) {
    animation: shrink var(--ic-transition-duration-slow);
  }
}

:host {
  display: flex;
  height: var(--ic-space-md);
  min-width: var(--ic-space-md);
  width: fit-content;
  border-radius: calc(2 * var(--ic-space-xxl));
  position: absolute;
}

:host(.neutral) {
  background-color: var(--ic-architectural-500);
}

:host(.light) {
  background-color: var(--ic-architectural-40);
}

:host(.info) {
  background-color: var(--ic-status-info);
}

:host(.warning) {
  background-color: var(--ic-status-warning-mid);
}

:host(.error) {
  background-color: var(--ic-status-error);
}

:host(.success) {
  background-color: var(--ic-status-success);
}

:host(.small) {
  height: var(--ic-space-sm);
  min-width: var(--ic-space-sm);
}

:host(.large) {
  height: calc(var(--ic-space-md) + var(--ic-space-xxs));
  min-width: calc(var(--ic-space-md) + var(--ic-space-xxs));
}

:host(.dot.default) {
  height: var(--ic-space-xs);
  width: var(--ic-space-xs);
  min-width: var(--ic-space-xs);
}

:host(.dot.small) {
  height: calc(var(--ic-space-xxs) + var(--ic-space-xxxs));
  width: calc(var(--ic-space-xxs) + var(--ic-space-xxxs));
  min-width: calc(var(--ic-space-xxs) + var(--ic-space-xxxs));
}

:host(.dot.large) {
  height: var(--ic-space-sm);
  width: var(--ic-space-sm);
  min-width: var(--ic-space-sm);
}

:host(.foreground-dark) ::slotted(*) {
  fill: var(--ic-color-primary-text);
}

:host(.foreground-light) ::slotted(*) {
  fill: white;
}

:host(.foreground-dark) ic-typography {
  color: var(--ic-color-primary-text);
}

:host(.foreground-light) ic-typography {
  color: white;
}

:host(.text) ic-typography {
  align-self: center;
  padding: 0 calc((var(--ic-space-xs) + var(--ic-space-1px)) / 2)
    var(--ic-space-1px);
}

:host(.text.small) ic-typography {
  padding: 0 0.2132rem;
}

:host(.text.large) ic-typography {
  padding: 0 calc((var(--ic-space-sm) + var(--ic-space-1px)) / 2)
    var(--ic-space-1px);
}

:host(.icon) ::slotted(svg) {
  width: var(--ic-space-sm);
  height: var(--ic-space-sm);
  padding: var(--ic-space-xxxs);
}

:host(.icon.small) ::slotted(svg) {
  width: var(--ic-space-xs);
  height: var(--ic-space-xs);
}

:host(.icon.large) ::slotted(svg) {
  width: calc(var(--ic-space-sm) + var(--ic-space-xxxs));
  height: calc(var(--ic-space-sm) + var(--ic-space-xxxs));
  padding: calc(var(--ic-space-xxxs) + var(--ic-space-1px));
}

:host(.far) {
  top: calc(-1 * var(--ic-space-xs));
  right: calc(-1 * var(--ic-space-xs));
}

:host(.far.small),
:host(.dot.far.large) {
  top: calc(-1 * var(--ic-space-xxs));
  right: calc(-1 * var(--ic-space-xxs));
}

:host(.dot.far),
:host(.dot.far.small) {
  top: calc(-1 * var(--ic-space-xxxs));
  right: calc(-1 * var(--ic-space-xxxs));
}

:host(.near) {
  top: calc(-1 * calc(var(--ic-space-xxs) + var(--ic-space-1px)));
  right: calc(-1 * calc(var(--ic-space-xxs) + var(--ic-space-1px)));
}

:host(.dot.near) {
  top: calc(-1 * var(--ic-space-1px));
  right: calc(-1 * var(--ic-space-1px));
}

:host(.inline) {
  position: static;
}

:host(.hide) {
  visibility: hidden !important;
  transition: visibility var(--ic-transition-duration-slow);
}

@keyframes expand {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shrink {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0);
  }
}
