@import "../../global/normalise.css";

:host {
  display: block;
  color: var(--ic-theme-text);
  width: 100%;
  position: relative;
}

@media (forced-colors: active) {
  :host{
    border-bottom: 1px solid transparent;
  }
}

:host .top-navigation {
  background-color: var(--ic-theme-primary);
  height: max-content;
}

:host(.fullwidth-searchbar) slot[name="search"]::slotted(form) {
  width: 100%;
}

:host .title-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: var(--ic-space-xxs);
  margin-left: calc(-1 * var(--ic-space-xxs));
  transition: var(--ic-easing-transition-fast);
}

:host .title-link,
:host .title-link:visited,
:host .title-link:active {
  color: var(--ic-theme-text);
}

:host .title-link:hover:not(:focus) {
  background-color: var(--ic-theme-hover);
}

:host .title-link:active:not(:focus) {
  background-color: var(--ic-theme-active);
}

:host .title-link:hover {
  border-radius: var(--ic-border-radius);
}

:host .title-link:focus {
  border-radius: var(--ic-border-radius);
  box-shadow: var(--ic-border-focus);
  outline: var(--ic-hc-focus-outline);
}

:host .title-link ic-typography {
  font-weight: 600;
}

:host .nav-panel-container {
  border-top: var(--ic-keyline-lighten);
  padding-left: var(--ic-space-lg);
  margin-left: calc(-1 * var(--section-container-margin));
  margin-right: calc(-1 * var(--section-container-margin));
  display: flex;
}

:host(.dark) .nav-panel-container {
  border-top: var(--ic-keyline-darken);
}

.top-panel-container {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
}

.navigation-tabs {
  margin-top: -1px;
}

.app-details-container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  margin-right: var(--ic-space-md);
}

.app-icon-container {
  display: flex;
  padding-right: var(--ic-space-xs);
}

.icon-buttons-container {
  display: flex;
  margin-left: var(--ic-space-md);
}

.icon-buttons-container ::slotted(nav) {
  display: flex;
}

.app-title {
  padding-right: var(--ic-space-lg);
}

:host .app-status {
  border-radius: 80px;
  background-color: var(--ic-architectural-white);
  color: var(--ic-color-primary-text);
  padding: var(--ic-space-xxs) var(--ic-space-lg);
  margin-left: var(--ic-space-md);
}

:host(.dark) .app-status {
  background-color: var(--ic-theme-text);
  color: var(--ic-color-white-text);
}

:host .app-version {
  border-radius: 16px;
  background-color: var(--ic-theme-active);
  padding: var(--ic-space-xxs) var(--ic-space-sm);
  margin-left: var(--ic-space-xs);
}

.app-status-text,
.app-version-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 96px;
}

slot[name="app-icon"]::slotted(svg) {
  fill: var(--ic-theme-text);
  width: 2em;
  height: 2em;
}

slot[name="toggle-icon"] svg {
  fill: var(--ic-theme-text);
}

.search-menu-container {
  justify-content: right;
  display: flex;
  align-items: center;
  flex: 1 auto;
}

.menu-button-container {
  margin-left: var(--ic-space-md);
}

.search-actions-container {
  display: flex;
}

.menu-buttons-slot {
  display: flex;
  flex-direction: column;
}

.navigation-landmark-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

.navigation-item-list {
  display: flex;
  list-style: none;
  height: 44px;
}

:host([content-aligned="left"]) .app-details-container {
  flex-basis: 1;
}

:host([content-aligned="left"]) .app-details-container,
:host([content-aligned="left"]) .nav-panel-container,
:host([content-aligned="center"]) .nav-panel-container,
:host([content-aligned="left"]) .search-menu-container,
:host([content-aligned="center"]) .search-menu-container {
  justify-content: flex-start;
}

:host([content-aligned="center"]) .app-details-container {
  justify-content: flex-end;
}

@media screen and (min-width: 993px) {
  .app-details-container {
    margin-right: var(--ic-space-lg);
  }

  :host([content-aligned="center"]) .top-navigation {
    display: flex;
    justify-content: center;
  }

  :host([content-aligned="left"]) .top-navigation {
    display: flex;
  }
}

/* large */
@media screen and (max-width: 1200px) {
  :host .nav-panel-container {
    padding-left: var(--ic-space-md);
  }

  /* medium */
  @media screen and (max-width: 992px) {
    :host .nav-panel-container,
    :host .app-status,
    :host .app-version {
      display: none;
    }

    :host .title-link {
      margin-right: var(--ic-space-xs);
    }

    .search-menu-container {
      max-width: 160px;
    }

    .search-bar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: var(--ic-keyline-darken);
      height: 64px;
      padding-left: var(--ic-space-md);
      padding-right: var(--ic-space-md);
      margin-left: calc(-1 * var(--section-container-margin));
      margin-right: calc(-1 * var(--section-container-margin));
    }

    :host([content-aligned="left"]) .app-details-container,
    :host([content-aligned="left"]) .search-menu-container,
    :host([content-aligned="center"]) .search-menu-container,
    :host([content-aligned="center"]) .app-details-container {
      justify-content: flex-start;
    }
  }

  /* x small */
  @media screen and (max-width: 576px) {
    :host .title-link {
      margin-right: var(--ic-space-xxxs);
      word-break: break-word;
      hyphens: auto;
    }

    .top-panel-container {
      min-height: 40px;
    }

    .searchbox-inline {
      display: none;
    }

    .search-bar-container {
      margin-top: 0;
      height: 56px;
      padding-left: var(--ic-space-xs);
      padding-right: var(--ic-space-xs);
    }

    .menu-button-container {
      margin-left: var(--ic-space-sm);
    }

    slot[name="app-icon"]::slotted(svg) {
      width: 1.5em;
      height: 1.5em;
    }

    slot[name="toggle-icon"] svg {
      width: 1.5em;
      height: 1.5em;
    }

    :host([content-aligned="left"]) .app-details-container,
    :host([content-aligned="left"]) .search-menu-container,
    :host([content-aligned="center"]) .app-details-container,
    :host([content-aligned="center"]) .search-menu-container {
      justify-content: flex-start;
    }
  }
}

@media (forced-colors: active) {
  .app-status,
  .app-version {
    border: var(--ic-hc-border);
  }

  slot[name="app-icon"]::slotted(svg) {
    fill: currentColor;
  }
}
