@import "../../global/normalize.css";

:host(.search) {
  --divider-height: 1.5rem;
}

:host(.search.small) {
  --divider-height: 1rem;
}

:host(.fullwidth) {
  width: 100%;
}

:host(.search) .disabled:hover {
  border-color: var(--ic-architectural-200);
}

:host(.search.disabled) .disabled svg {
  color: var(--ic-architectural-200);
}

:host(.search) .disabled svg {
  color: var(--ic-architectural-400);
}

/* CLEAR */

.clear-button-container {
  align-items: center;
  display: flex;
}

.clear-button {
  border-radius: var(--ic-border-radius);
  transition: box-shadow var(--ic-easing-transition),
    border-radius var(--ic-easing-transition);
}

.clear-button:focus {
  background-color: var(--ic-focus-blue);
  box-shadow: inset 0 0 0 0.125rem var(--ic-focus-glow);
  border-radius: 0.25rem;
}

.clear-button:focus * {
  fill: white;
}

.search-submit-button-container {
  display: flex;
  align-items: center;
}

.search-submit-button-disabled .ic-tooltip-container {
  display: none !important;
}

.search-submit-button:focus {
  background-color: var(--ic-focus-blue) !important;
  box-shadow: inset 0 0 0 0.125rem var(--ic-focus-glow) !important;
  border-radius: var(--ic-space-xxs);
}

.search-submit-button:focus * {
  fill: white;
}

.divider {
  width: 0.063rem;
  background-color: var(--ic-action-dark-active);
  height: var(--divider-height);
}

:host(.dark) .divider {
  background-color: var(--ic-architectural-200);
}

.menu-container {
  width: var(--input-width, 20rem);
  position: relative;
  top: var(--ic-space-xxxs);
}

.menu-container.fullwidth {
  width: 100%;
}

ic-menu {
  transition: var(--ic-easing-transition-slow);
}

.no-results {
  cursor: not-allowed;
}

.search-results-status {
  border: 0;
  clip: rect(0, 0, 0, 0, 0);
  height: 0.063rem;
  margin-bottom: -0.063rem;
  margin-right: -0.063rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0.063rem;
}
