@import "../../global/normalise.css";

:host(.footer-link-group-sparse) {
  --footer-link-group-margin-right: 95px;
  --footer-link-group-border-bottom: 0 solid transparent;
  --footer-link-group-title-margin-top: 0;
  --footer-link-group-title-margin-bottom: var(--ic-space-md);
}

:host(.footer-link-group-small) {
  --footer-link-group-margin-right: 0;
  --footer-link-group-title-margin-top: var(--ic-space-md);
  --footer-link-group-title-margin-bottom: var(--ic-space-md);
  --footer-link-group-links-padding-left: var(--ic-space-md);
  --footer-link-group-links-padding-bottom: var(--ic-space-md);
}

:host(.footer-link-group-light.footer-link-group-small) {
  --footer-link-group-border-bottom: var(--ic-keyline-lighten);
}

:host(.footer-link-group-dark.footer-link-group-small) {
  --footer-link-group-border-bottom: var(--ic-keyline-darken);
}

:host(.footer-link-group) {
  margin-right: var(--footer-link-group-margin-right);
  border-bottom: var(--footer-link-group-border-bottom);
}

:host(.footer-link-group-small.footer-link-group-light:hover) {
  background-color: var(--ic-action-light-bg-hover);
  cursor: pointer;
}

:host(.footer-link-group-small.footer-link-group-dark:hover) {
  background-color: var(--ic-action-dark-bg-hover);
  cursor: pointer;
}

:host(.footer-link-group-sparse:focus) {
  box-shadow: var(--ic-border-focus-inset);
  border-radius: var(--ic-border-radius-inset);
  outline: var(--ic-hc-focus-outline);
  z-index: 1;
}

:host(.footer-link-group-small:focus) {
  box-shadow: var(--ic-border-focus-inset);
  border-radius: var(--ic-border-radius-inset);
  outline: var(--ic-hc-focus-outline);
  z-index: 1;
}

:host(.footer-link-group-small.footer-link-group-light:active) {
  background-color: var(--ic-action-light-bg-active);
}

:host(.footer-link-group-small.footer-link-group-dark:active) {
  background-color: var(--ic-action-dark-bg-active);
}

.footer-link-group-title {
  margin-top: var(--footer-link-group-title-margin-top);
  margin-bottom: var(--footer-link-group-title-margin-bottom);
  flex-grow: 1;
}

.footer-link-group-toggle {
  fill: white !important;
}

.footer-link-group-links {
  display: flex;
  flex-direction: column;
}

.footer-link-group-header {
  display: flex;
  align-items: center;
}
