@import "../../global/normalize.css";

:host {
  display: inline-block;
}

.chip {
  display: flex;
  padding: var(--ic-space-xxs);
  font-size: 0.875rem;
  border-radius: 5rem;
  text-align: center;
  align-items: center;
  text-decoration: none;
  transition: var(--ic-easing-transition-fast);
  position: relative;
}

.chip.small {
  padding: var(--ic-space-xxxs);
}

.chip.large {
  padding: var(--ic-space-xs);
}

.label {
  padding: 0 var(--ic-space-xs);
}

.chip.hovered:not(:focus-within) {
  background-color: var(--ic-architectural-300);
}

.chip:focus-within {
  box-shadow: var(--ic-border-focus);
  outline: var(--ic-hc-focus-outline);
  z-index: 1;
}

.chip.outline.hovered:not(:focus-within) {
  background-color: var(--ic-action-dark-bg-hover);
}

ic-tooltip:focus-within {
  z-index: 1;
}

.filled {
  background-color: var(--ic-architectural-200);
  color: black;
  border: none;
}

.filled.disabled {
  background-color: var(--ic-architectural-100);
}

.outline {
  color: var(--ic-architectural-900);
  border: 0.063rem solid var(--ic-architectural-900);
  padding: calc(var(--ic-space-xxs) - 0.063rem);
}

.outline.small {
  padding: calc(var(--ic-space-xxxs) - 0.063rem);
}

.outline.large {
  padding: calc(var(--ic-space-xs) - 0.063rem);
}

.outline.disabled {
  border: var(--ic-border-disabled);
  background: none;
}

.chip.disabled ic-typography {
  color: var(--ic-architectural-200);
}

.dismiss-icon {
  border: none;
  border-radius: 50%;
  padding: 0;
  background: none;
  cursor: pointer;
  margin: var(--ic-space-xxxs);
  height: 1.25rem;
}

.dismiss-icon:focus {
  outline: var(--ic-hc-focus-outline);
}

.dismiss-icon[disabled] {
  pointer-events: none;
  color: var(--ic-architectural-200);
}

.icon {
  padding: var(--ic-space-xxxs);
  box-sizing: border-box;
}

.icon,
ic-tooltip {
  width: var(--ic-space-lg);
  height: var(--ic-space-lg);
}

.chip.disabled path,
.chip.disabled ::slotted(svg) {
  fill: var(--ic-architectural-200);
}

@media (forced-colors: active) {
  .chip {
    border: var(--ic-hc-border);
  }

  .filled.small {
    padding: calc(var(--ic-space-xxxs) - 0.063rem);
  }

  .filled {
    padding: calc(var(--ic-space-xxxs) + 0.063rem);
  }

  .filled.large {
    padding: calc(var(--ic-space-xs) - 0.063rem);
  }

  .chip.disabled {
    appearance: none;
    border-color: GrayText;
  }

  .chip.disabled ic-typography {
    color: GrayText;
  }

  .chip.disabled path,
  .chip.disabled ::slotted(svg) {
    fill: GrayText;
  }

  .chip:focus-within {
    outline: none;
    border-color: Highlight;
  }
}
