ic-input-component-container {
  /**
   * @prop --border-color: Border colour of the input component container
   */

  display: flex;
  border: 1px solid var(--border-color, var(--ic-architectural-400));
  border-radius: var(--ic-border-radius);
  transition: var(--ic-easing-transition-slow);
  height: 40px;
  width: var(--input-width, 320px);
  padding: 1px;
  background-color: var(--ic-architectural-white);
  box-sizing: border-box;
  fill: var(--ic-architectural-400);
  outline: none;
}

ic-input-component-container.fullwidth {
  width: 100%;
}

ic-input-component-container.disabled,
ic-input-component-container.disabled:hover {
  border: 1px dashed var(--ic-architectural-200);
}

ic-input-component-container.readonly,
ic-input-component-container.readonly:hover {
  border: none;
  padding: 0;
}

ic-input-component-container.error {
  border: var(--ic-space-xxxs) solid var(--ic-status-error);
  padding: 0;
}

ic-input-component-container.warning {
  border: var(--ic-space-xxxs) solid var(--ic-status-warning-mid);
  padding: 0;
}

ic-input-component-container.success {
  border: var(--ic-space-xxxs) solid var(--ic-status-success);
  padding: 0;
}

ic-input-component-container.small {
  height: var(--ic-space-xl);
}

ic-input-component-container.multiline {
  height: auto;
}

ic-input-component-container .icon-container {
  margin-top: var(--ic-space-xxs);
  margin-left: 7px;
  display: flex;
  align-items: center;
}

ic-input-component-container.multiline .icon-container,
ic-input-component-container.multiline.small .icon-container {
  margin-top: 6px;
  display: block;
}

ic-input-component-container.readonly .icon-container {
  margin-left: -5px;
}

ic-input-component-container.disabled ::placeholder {
  display: none;
}

ic-input-component-container .inline-success {
  margin: var(--ic-space-xs) 6px;
  display: flex;
  align-items: center;
}

ic-input-component-container.dark:hover {
  --border-color: var(--ic-architectural-400);
}

ic-input-component-container .inline-success > svg {
  fill: var(--ic-status-success);
}

ic-input-component-container:hover {
  border-color: var(--ic-action-dark-hover);
  color: var(--ic-action-dark-hover);
}

.focus-indicator {
  display: flex;
  width: 100%;
  margin: -2px;
  padding: 2px;
  border-radius: var(--ic-border-radius);
  transition: var(--ic-easing-transition-fast);
}

.focus-indicator:focus-within,
.focus-indicator-enabled {
  box-shadow: var(--ic-border-focus);
}

.focus-indicator.dark:focus-within {
  box-shadow: var(--ic-border-focus);
}

@media (forced-colors: active) {
  /* Styles here only apply to Forced Colors Mode */
  ic-input-component-container,
  .focus-indicator {
    transition: none;
  }

  ic-input-component-container:focus-within {
    border: 1px solid Highlight;
    outline: 2px solid Highlight;
  }

  ic-input-component-container.disabled,
  ic-input-component-container.disabled:hover {
    border: 1px dashed GrayText;
  }
}
