@import "../../global/normalize.css";

:host {
  /**
   * @prop --input-width: Width of the input field
   */
  display: block;
  --ic-input-label-helpertext-padding: var(--ic-space-xxs);
}

:host(.ic-text-field-full-width) {
  width: 100%;
}

::placeholder {
  color: var(--text-field-placeholder-color, var(--ic-color-text-tertiary));
  opacity: 1;
}

input,
textarea {
  border: 0;
  border-radius: var(--ic-border-radius);
  color: var(--text-field-text-color, var(--ic-color-text-primary));
  background-color: var(--input-bg-color, var(--ic-architectural-white));
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
  width: 100%;
  padding-right: var(--ic-space-xs);
  padding-left: var(--ic-space-xs);
}

textarea {
  min-height: var(--ic-space-lg);
  resize: vertical;
  padding-top: 0.375rem;
}

input:focus,
textarea:focus {
  border: 0;
  outline: 0;
}

input:disabled,
textarea:disabled {
  color: var(--text-field-disabled-text-color, var(--ic-architectural-200));
}

input.readonly,
textarea.readonly {
  color: var(--ic-color-text-primary);
}

/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea.no-resize {
  resize: none;
}

.char-count-text {
  --ic-typography-color: var(--ic-color-text-secondary);

  padding-right: var(--ic-space-xxxs);
}

.no-left-pad {
  padding-left: 0;
}

::slotted([slot="icon"]) {
  fill: var(--ic-color-text-tertiary);
}

.has-value ::slotted([slot="icon"]) {
  fill: var(--ic-color-text-primary);
}

.char-count {
  margin-right: calc(-1 * var(--ic-space-xxxs));
}

.remaining-char-count-desc {
  position: absolute;
  left: -9999px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"].truncate-value {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (forced-colors: active) {
  input.readonly,
  textarea.readonly {
    color: canvastext;
  }

  .has-value ::slotted([slot="icon"]) {
    fill: currentcolor;
  }
}
