@import "../../global/normalise.css";

:host {
  /**
   * @prop --input-width: Width of the input field 
   */
  display: block;
}

::placeholder {
  color: var(--ic-color-tertiary-text);
  opacity: 1;
}

input,
textarea {
  border: 0;
  border-radius: var(--ic-border-radius);
  background-color: var(--ic-architectural-white);
  line-height: 1.5rem;
  letter-spacing: 0.005rem;
  width: 100%;
  padding-right: var(--ic-space-xs);
  padding-left: var(--ic-space-xs);
}

textarea {
  min-height: var(--ic-space-lg);
  resize: vertical;
  padding-top: 6px;
}

input:focus,
textarea:focus {
  border: 0;
  outline: 0;
}

input:disabled,
textarea:disabled {
  color: var(--ic-architectural-200);
}

input.readonly,
textarea.readonly {
  color: var(--ic-color-primary-text);
}

.fullwidth {
  position: relative;
  width: 100%;
}

/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

textarea.no-resize {
  resize: none;
}

.maxlengthtext {
  color: var(--ic-color-secondary-text);
}

.exceeded {
  color: var(--ic-status-error);
}

.disabled {
  color: var(--ic-architectural-200);
}

.no-left-pad {
  padding-left: 0;
}

::slotted([slot="icon"]) {
  fill: var(--ic-color-tertiary-text);
}

.has-value ::slotted([slot="icon"]) {
  fill: var(--ic-color-primary-text);
}

.charcount {
  margin-right: calc(-1 * var(--ic-space-xxxs));
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"].truncate-value {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (forced-colors: active) {
  input.readonly,
  textarea.readonly {
    color: canvastext;
  }

  .has-value ::slotted([slot="icon"]) {
    fill: currentcolor;
  }
}
