@import "../../global/normalize.css";

.tag {
  padding: var(--ic-space-xxs) var(--ic-space-sm);
  font-size: 0.875rem;
  border-radius: var(--ic-space-md);
  display: inline-block;
  min-width: 2.5rem;
  text-align: center;
  color: var(--ic-color-primary-text);
}

.small {
  padding: var(--ic-space-xxxs) var(--ic-space-sm);
  border-radius: calc(var(--ic-space-md) - var(--ic-space-xxxs));
}

.filled-neutral {
  background-color: var(--ic-architectural-700);
  color: var(--ic-architectural-white);
}

.filled-success {
  background-color: var(--ic-status-success);
  color: var(--ic-architectural-white);
}

.filled-warning {
  background-color: var(--ic-status-warning-contrast);
}

.filled-danger {
  background-color: var(--ic-status-error);
  color: var(--ic-architectural-white);
}

.outlined-neutral {
  background-color: var(--ic-architectural-200);
  border: var(--ic-space-1px) solid var(--ic-architectural-400);
}

.outlined-success {
  background-color: var(--ic-status-success-light);
  border: var(--ic-space-1px) solid var(--ic-status-success);
}

.outlined-warning {
  background-color: var(--ic-status-warning-light);
  border: var(--ic-space-1px) solid var(--ic-status-warning-dark);
}

.outlined-danger {
  background-color: var(--ic-status-error-light);
  border: var(--ic-space-1px) solid var(--ic-status-error);
}

@media (forced-colors: active) {
  .tag {
    border: var(--ic-hc-border);
    -ms-high-contrast-adjust: none;
    forced-color-adjust: none;
  }
}
