@import "../../global/normalise.css";

.tag {
  padding: var(--ic-space-xs) var(--ic-space-sm);
  font-size: 14px;
  border-radius: 80px;
  display: inline-block;
  min-width: 40px;
  text-align: center;
}

.small {
  padding: var(--ic-space-xxs) var(--ic-space-sm);
}

.filled-neutral {
  background-color: var(--ic-architectural-600);
  color: var(--ic-architectural-white);
}

.filled-success {
  background-color: var(--ic-status-success);
  color: var(--ic-architectural-white);
}

.filled-warning {
  background-color: var(--ic-status-warning);
  color: var(--ic-color-primary-text);
}

.filled-danger {
  background-color: var(--ic-status-error);
  color: var(--ic-architectural-white);
}

.outlined-neutral {
  background-color: var(--ic-architectural-200);
  color: var(--ic-color-secondary-text);
  border: 1px solid var(--ic-architectural-400);
}

.outlined-success {
  background-color: var(--ic-status-success-background);
  color: var(--ic-status-success);
  border: 1px solid var(--ic-status-success);
}

.outlined-warning {
  background-color: var(--ic-status-warning-background);
  color: var(--ic-status-warning-dark);
  border: 1px solid var(--ic-status-warning-dark);
}

.outlined-danger {
  background-color: var(--ic-status-error-background);
  color: var(--ic-status-error);
  border: 1px solid var(--ic-status-error);
}
