@import "../../global/normalize.css";

:host {
  display: block;
}

ic-input-label.error {
  --ic-typography-color: var(--ic-status-error-default);
}

ic-input-validation {
  margin-top: var(--ic-space-sm);
}

:host(.ic-radio-group-small) ic-input-validation {
  margin-top: calc(var(--ic-space-sm) / 2);
}

ic-input-label ic-typography {
  margin-bottom: var(--ic-space-sm);
}

:host(.ic-radio-group-small) ic-input-label ic-typography {
  margin-bottom: calc(var(--ic-space-sm) / 2);
}

:host .radio-buttons-container {
  display: flex;
  flex-direction: column;
  gap: var(--ic-space-xxs);
}

:host(.ic-radio-group-small) .radio-buttons-container {
  gap: var(--ic-space-xxxs);
}

:host .radio-buttons-container.horizontal {
  display: flex;
  flex-direction: row;
  gap: calc(var(--ic-space-xl) + var(--ic-space-xs));
}

:host(.ic-radio-group-small) .radio-buttons-container.horizontal {
  gap: var(--ic-space-xl);
}
