@import "../../global/normalize.css";

:host {
  display: block;
}

ic-input-label.error {
  color: var(--ic-status-error);
}

ic-input-validation {
  margin-top: var(--ic-space-sm);
}

:host([small]) ic-input-validation {
  margin-top: calc(var(--ic-space-sm) / 2);
}

ic-input-label ic-typography {
  margin-bottom: var(--ic-space-sm);
}

:host([small]) ic-input-label ic-typography {
  margin-bottom: calc(var(--ic-space-sm) / 2);
}

.radio-buttons-container {
  display: flex;
  flex-direction: column;
  gap: var(--ic-space-xxs);
}

:host([small]) .radio-buttons-container {
  gap: var(--ic-space-xxxs);
}

:host([orientation="horizontal"]) .radio-buttons-container {
  display: flex;
  flex-direction: row;
  gap: calc(var(--ic-space-xl) + var(--ic-space-xs));
}

:host([small][orientation="horizontal"]) .radio-buttons-container {
  gap: var(--ic-space-xl);
}
