@import "../../global/normalise.css";

:host {
  --indicator-initial-color: rgba(23 89 188 / 0%);
  --indicator-color: var(--ic-action-default);
  --focus-indicator: var(--ic-border-focus);
  --label-color: var(--ic-color-primary-text);
  --background-color-hover: var(--ic-action-default-bg-hover);
  --background-color-active: var(--ic-action-default-bg-active);

  display: flex;
  align-items: center;
  border-radius: 0;
  color: var(--label-color);
  height: 40px;
  padding: 0 var(--ic-space-md);
  cursor: pointer;
  position: relative;
  border-bottom: var(--ic-space-xxs) solid var(--indicator-initial-color);
  gap: var(--ic-space-xs);
  transition: all var(--ic-easing-transition-fast);
}

:host(:focus) {
  box-shadow: var(--focus-indicator);
  border-radius: var(--ic-border-radius);
}

:host(:focus-visible) {
  outline: var(--ic-hc-focus-outline);
}

:host(:hover) {
  background-color: var(--background-color-hover);
}

:host(:active) {
  background-color: var(--background-color-active);
}

:host(.ic-tab-light) {
  --indicator-initial-color: rgb(255 255 255 / 0%);
  --indicator-color: rgb(255 255 255 / 100%);
  --focus-indicator: var(--ic-border-focus);
  --label-color: white;
  --background-color-hover: var(--ic-action-dark-bg-hover);
  --background-color-active: var(--ic-action-dark-bg-active);
}

:host([selected]) {
  border-bottom: var(--ic-space-xxs) solid var(--indicator-color);
}

:host([disabled]) {
  pointer-events: none;
  color: var(--ic-architectural-300);
}

:host([selected].with-transition) {
  transition: all var(--ic-easing-transition-slow),
    border-color var(--ic-transition-duration-slow);
}

.ic-tab-label {
  pointer-events: none;
}

::slotted(svg) {
  fill: var(--label-color);
}
