:host {
  display: flex;
  width: 100%;
}

.step-item-list {
  display: flex;
  margin: 0;
  padding: 0;
}

:host(.default:not(.aligned-left)) .step-item-list {
  flex: auto;
}

:host(.compact) ul ::slotted(ic-step) {
  display: none;
}

:host(.compact) ul ::slotted(ic-step.show) {
  display: flex;
}

:host(.compact) ul ::slotted(ic-step.hide) {
  display: none;
  opacity: 0;
  visibility: hidden;
}
