@import "../../global/normalize.css";

:host(.ic-link) .link,
:host(.ic-link) ::slotted(a) {
  color: var(--ic-hyperlink);
  text-decoration: underline;
  font-weight: var(--ic-font-weight-bold);
  transition: var(--ic-easing-transition-fast);
}

:host(.ic-link.ic-link-dark) .link.dark,
:host(.ic-link.ic-link-dark) ::slotted(a) {
  color: var(--ic-color-primary-text);
}

:host(.ic-link.ic-link-light) .link.light,
:host(.ic-link.ic-link-light) ::slotted(a) {
  color: var(--ic-color-white-text);
}

:host(.ic-link) .link:visited,
:host(.ic-link) ::slotted(a:visited) {
  color: var(--ic-hyperlink-visited);
}

:host(.ic-link) .link:hover,
:host(.ic-link) .link:focus,
:host(.ic-link) ::slotted(a:hover),
:host(.ic-link) ::slotted(a:focus) {
  outline: none;
  border-bottom: 0.25rem solid !important;
  margin-bottom: -0.25rem !important;
  text-decoration: none;
}

@supports (text-underline-offset: 10%) {
  :host(.ic-link) .link:hover,
  :host(.ic-link) .link:focus,
  :host(.ic-link) ::slotted(a:hover),
  :host(.ic-link) ::slotted(a:focus) {
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
    text-underline-offset: 10%;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

:host(.ic-link) .link:active,
:host(.ic-link) .link:focus:active,
:host(.ic-link) .link:visited:active,
:host(.ic-link) ::slotted(a:active),
:host(.ic-link) ::slotted(a:focus:active),
:host(.ic-link) ::slotted(a:visited:active) {
  text-decoration: none;
}

.ic-link-open-in-new-icon {
  vertical-align: middle;
  margin-left: var(--ic-space-xxs);
}

.link > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink);
}

.link.dark > .ic-link-open-in-new-icon {
  fill: var(--ic-color-primary-text);
}

.link.light > .ic-link-open-in-new-icon {
  fill: var(--ic-color-white-text);
}

.ic-link-open-in-new-icon > svg {
  width: var(--ic-space-md);
  height: var(--ic-space-md);
  fill: currentcolor;
}

.link:visited > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink-visited);
}

.link.light:visited > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink-contrast-visited);
}

:host(.breadcrumb-link) .link {
  display: var(--breadcrumb-link-display);
  align-items: var(--breadcrumb-link-align-items);
  gap: var(--breadcrumb-link-gap);
}

:host(.breadcrumb-link) .link ::slotted(.back-icon) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
}

:host(.breadcrumb-link.current-page) a,
:host(.breadcrumb-link.current-page) ::slotted(a) {
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

:host(.breadcrumb-link.current-page) .link,
:host(.breadcrumb-link.current-page) ::slotted(a:focus) {
  outline: var(--ic-hc-focus-outline);
  text-decoration: none;
}

:host(.breadcrumb-link.current-page) .link:visited {
  color: var(--ic-color-primary-text);
}
