@import "../../global/normalize.css";

:host(.link) .ic-link,
:host(.link) ::slotted(a) {
  color: var(--ic-hyperlink);
  text-decoration: underline;
  font-weight: var(--ic-font-weight-bold);
  transition: var(--ic-easing-transition-fast);
}

:host(.link.dark) .ic-link.dark,
:host(.link.dark) ::slotted(a) {
  color: var(--ic-color-primary-text);
}

:host(.link.light) .ic-link.light,
:host(.link.light) ::slotted(a) {
  color: var(--ic-color-white-text);
}

:host(.link) .ic-link:visited,
:host(.link) ::slotted(a:visited) {
  color: var(--ic-hyperlink-visited);
}

:host(.link) .ic-link:hover,
:host(.link) .ic-link:focus,
:host(.link) ::slotted(a:hover),
:host(.link) ::slotted(a:focus) {
  outline: none;
  border-bottom: 0.25rem solid !important;
  margin-bottom: -0.25rem !important;
  text-decoration: none;
}

@supports (text-decoration-thickness: 25%) {
  :host(.link) .ic-link:hover,
  :host(.link) .ic-link:focus,
  :host(.link) ::slotted(a:hover),
  :host(.link) ::slotted(a:focus) {
    text-decoration-line: underline;
    text-decoration-thickness: 25%;
    text-underline-offset: 25%;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
}

:host(.link) .ic-link:active,
:host(.link) .ic-link:focus:active,
:host(.link) .ic-link:visited:active,
:host(.link) ::slotted(a:active),
:host(.link) ::slotted(a:focus:active),
:host(.link) ::slotted(a:visited:active) {
  text-decoration: none;
}

.ic-link-open-in-new-icon {
  vertical-align: middle;
  margin-left: var(--ic-space-xxs);
}

.ic-link > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink);
}

.ic-link.dark > .ic-link-open-in-new-icon {
  fill: var(--ic-color-primary-text);
}

.ic-link.light > .ic-link-open-in-new-icon {
  fill: var(--ic-color-white-text);
}

.ic-link-open-in-new-icon > svg {
  width: var(--ic-space-md);
  height: var(--ic-space-md);
  fill: currentcolor;
}

.ic-link:visited > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink-visited);
}

.ic-link.light:visited > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink-contrast-visited);
}

:host(.breadcrumb-link) .ic-link {
  display: var(--breadcrumb-link-display);
  align-items: var(--breadcrumb-link-align-items);
  gap: var(--breadcrumb-link-gap);
}

:host(.breadcrumb-link) .ic-link ::slotted(.back-icon) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
}

:host(.breadcrumb-link.current-page) a,
:host(.breadcrumb-link.current-page) ::slotted(a) {
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

:host(.breadcrumb-link.current-page) .ic-link,
:host(.breadcrumb-link.current-page) ::slotted(a:focus) {
  outline: var(--ic-hc-focus-outline);
  text-decoration: none;
}

:host(.breadcrumb-link.current-page) .ic-link:visited {
  color: var(--ic-color-primary-text);
}

/* Button styling */

:host(.button-style) .ic-link,
:host(.button-style) ::slotted(a) {
  font-family: var(--ic-font-body-family);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem !important;
  border-radius: var(--ic-border-radius);
  min-width: var(6.25rem);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none !important;
  box-sizing: border-box;
  white-space: nowrap;
  vertical-align: middle !important;
  color: var(--ic-architectural-white);

  --button-default: var(--ic-action-default);
  --button-default-hover: var(--ic-action-default-hover);
  --button-default-active: var(--ic-action-default-active);

  background-color: var(--button-default) !important;
  height: 2.5rem;
  padding: var(--ic-space-xs) var(--ic-space-md) !important;
}

:host(.dark.button-style) .ic-link,
:host(.dark.button-style) ::slotted(a) {
  --button-default: var(--ic-action-dark);
  --button-default-hover: var(--ic-action-dark-hover);
  --button-default-active: var(--ic-action-dark-active);
}

:host(.light.button-style) .ic-link,
:host(.light.button-style) ::slotted(a) {
  --button-default: var(--ic-action-light);
  --button-default-hover: var(--ic-action-light-hover);
  --button-default-active: var(--ic-action-light-active);

  color: var(--ic-architectural-black);
}

:host(.button-style) .ic-link:focus,
:host(.button-style) ::slotted(a:focus) {
  box-shadow: var(--ic-border-focus);
}

:host(.button-style) .ic-link:focus-visible,
:host(.button-style) ::slotted(a:focus-visible) {
  outline: var(--ic-hc-focus-outline);
}

:host(.button-style) .ic-link:hover,
:host(.button-style) ::slotted(a:hover) {
  background-color: var(--button-default-hover) !important;
}

:host(.button-style) .ic-link:active,
:host(.button-style) ::slotted(a:active) {
  background-color: var(--button-default-active) !important;
}
