@import "../../global/normalise.css";

:host(.link) .ic-link,
:host(.link) ::slotted(a) {
  color: var(--ic-hyperlink);
  text-decoration: underline;
  font-weight: var(--ic-font-weight-bold);
  transition: var(--ic-easing-transition-fast);
}

:host(.link.dark) .ic-link.dark,
:host(.link.dark) ::slotted(a) {
  color: var(--ic-color-primary-text);
}

:host(.link.light) .ic-link.light,
:host(.link.light) ::slotted(a) {
  color: var(--ic-color-white-text);
}

:host(.link) .ic-link:visited,
:host(.link) ::slotted(a:visited) {
  color: var(--ic-hyperlink-visited);
}

:host(.link) .ic-link:hover,
:host(.link) .ic-link:focus,
:host(.link) ::slotted(a:hover),
:host(.link) ::slotted(a:focus) {
  outline: none;
  text-decoration-line: underline;
  text-decoration-thickness: 25%;
  text-underline-offset: 25%;
}

:host(.link) .ic-link:active,
:host(.link) .ic-link:focus:active,
:host(.link) .ic-link:visited:active,
:host(.link) ::slotted(a:active),
:host(.link) ::slotted(a:focus:active),
:host(.link) ::slotted(a:visited:active) {
  text-decoration: none;
}

.ic-link-open-in-new-icon {
  vertical-align: middle;
  margin-left: var(--ic-space-xxs);
}

.ic-link > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink);
}

.ic-link.dark > .ic-link-open-in-new-icon {
  fill: var(--ic-color-primary-text);
}

.ic-link.light > .ic-link-open-in-new-icon {
  fill: var(--ic-color-white-text);
}

.ic-link-open-in-new-icon > svg {
  width: var(--ic-space-md);
  height: var(--ic-space-md);
  fill: currentcolor;
}

.ic-link:visited > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink-visited);
}

.ic-link.light:visited > .ic-link-open-in-new-icon {
  fill: var(--ic-hyperlink-contrast-visited);
}

:host(.breadcrumb-link) .ic-link {
  display: var(--breadcrumb-link-display);
  align-items: var(--breadcrumb-link-align-items);
  gap: var(--breadcrumb-link-gap);
}

:host(.breadcrumb-link) .ic-link ::slotted(.back-icon) {
  height: var(--ic-space-lg);
  width: var(--ic-space-lg);
}

:host(.breadcrumb-link.current-page) a,
:host(.breadcrumb-link.current-page) ::slotted(a) {
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}

:host(.breadcrumb-link.current-page) .ic-link,
:host(.breadcrumb-link.current-page) ::slotted(a:focus) {
  outline: none;
  text-decoration: none;
}

:host(.breadcrumb-link.current-page) .ic-link:visited {
  color: var(--ic-color-primary-text);
}
