@import "../../global/normalize.css";

:host(.ic-tooltip) .ic-tooltip-container {
  background-color: var(--ic-architectural-800);
  color: #ffff;
  text-align: center;
  padding: var(--ic-space-xxxs) 10px;
  border-radius: var(--ic-border-radius);
  position: absolute;
  max-width: 320px;
  display: none;
  z-index: calc(var(--ic-z-index-overlay) / 2);
  box-shadow: var(--ic-elevation-overlay);
}

:host(.tooltip-navigation-item:not(.tooltip-navigation-item-side-nav-collapsed))
  .ic-tooltip-container,
:host(.tooltip-disabled) .ic-tooltip-container {
  display: none !important;
}

:host(.tooltip-long-label-navigation-item-side-nav-expanded)
  .ic-tooltip-container[data-show] {
  display: block !important;
}

:host(.ic-tooltip) .ic-tooltip-arrow,
:host(.ic-tooltip) .ic-tooltip-arrow::before {
  position: absolute;
  background: inherit;
  width: var(--ic-space-md);
  height: var(--ic-space-md);
}

:host(.ic-tooltip) .ic-tooltip-arrow {
  visibility: hidden;
}

:host(.ic-tooltip) .ic-tooltip-arrow::before {
  visibility: visible;
  content: "";
}

:host(.ic-tooltip) .ic-tooltip-container[data-show] {
  display: block;
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="top"]
  > .ic-tooltip-arrow {
  bottom: calc(-1 * var(--ic-space-md));
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="top"]
  > .ic-tooltip-arrow::before {
  border-radius: 0 0 var(--ic-border-radius) var(--ic-border-radius);
  left: 0;
  height: var(--ic-space-xxs);
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="bottom"]
  > .ic-tooltip-arrow {
  top: calc(-1 * var(--ic-space-xxs));
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="bottom"]
  > .ic-tooltip-arrow::before {
  border-radius: var(--ic-border-radius) var(--ic-border-radius) 0 0;
  left: 0;
  height: var(--ic-space-xxs);
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="left"]
  > .ic-tooltip-arrow {
  right: var(--ic-space-xxxs);
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="left"]
  > .ic-tooltip-arrow::before {
  border-radius: 0 var(--ic-border-radius) var(--ic-border-radius) 0;
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="right"]
  > .ic-tooltip-arrow {
  left: -14px;
}

:host(.ic-tooltip)
  .ic-tooltip-container[data-popper-placement^="right"]
  > .ic-tooltip-arrow::before {
  border-radius: var(--ic-border-radius) 0 0 var(--ic-border-radius);
}

:host([target="ic-button-with-tooltip-search-submit-button"])
  .ic-tooltip-container,
:host([target="ic-button-with-tooltip-clear-button"]) .ic-tooltip-container {
  z-index: calc(var(--ic-z-index-popup-menu) + 1);
}

@media (forced-colors: active) {
  :host(.ic-tooltip) .ic-tooltip-container {
    border: var(--ic-hc-border);
  }
}
