name: Main

on:
  push:
    branches:
      - main

jobs:
  check-updates:
    name: "Check package updates"
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      core: ${{ steps.filter.outputs.core }}
      canary: ${{ steps.filter.outputs.canary }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            core:
              - './packages/web-components/**'
              - './packages/react/**'
            canary:
              - './packages/canary-web-components/**'
              - './packages/canary-react/**'

  ic-ui-kit-static-analysis-tests:
    needs: [check-updates]
    name: "Static analysis tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install core dependencies
        if: ${{ needs.check-updates.outputs.canary == 'false' }}
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps
          npm run build:all

      - name: Install all dependencies
        if: ${{ needs.check-updates.outputs.canary == 'true' }}
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps
          npm run build:all

      - name: Lint commit messages
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")
          echo "$COMMIT_MESSAGE" | npx commitlint

      - name: Lint
        run: npm run lint

      - name: Prettier
        run: npm run prettier

      - name: Audit
        run: npm run audit:bypass-expiry

      - name: A11y tests
        run: npm run test-a11y:ci

      - name: Unit Component tests
        run: npm run test:coverage-ci

  ic-ui-kit-e2e-tests:
    needs: [check-updates]
    name: "E2E tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: E2E core tests
        if: ${{ needs.check-updates.outputs.core == 'true' }}
        run: npm run test-e2e

      - name: E2E canary tests
        if: ${{ needs.check-updates.outputs.canary == 'true' }}
        run: npm run test-e2e:canary

  ic-ui-kit-visual-tests:
    needs: ["check-updates"]
    name: "Visual regression tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: browser-actions/setup-chrome@latest
      - name: Install dependencies
        run: |
          google-chrome --version
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: Core visual regression tests
        if: ${{ needs.check-updates.outputs.core == 'true' }}
        run: npm run test-visual:ci

      - name: Canary visual regression tests
        if: ${{ needs.check-updates.outputs.canary == 'true' }}
        run: npm run test-visual:ci:canary

  ic-ui-kit-publish:
    needs:
      [
        ic-ui-kit-static-analysis-tests,
        ic-ui-kit-e2e-tests,
        ic-ui-kit-visual-tests,
      ]
    name: "Publish production packages"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: "0"
          TOKEN: ${{ secrets.PUBLISH_PAT }}
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: Build
        run: npm run build:all

      # Runs git checkout for docs.json file to revert timestamp changes
      - name: Publish
        run: |
          git config --global user.name ${{ secrets.USERNAME }}
          git config --global user.email ${{ secrets.EMAIL }}
          git checkout packages/docs/docs.json
          npx lerna publish --no-commit-hooks -y
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  ic-ui-kit-deploy-storybook-canary:
    needs: [ic-ui-kit-publish, check-updates]
    if: ${{ needs.check-updates.outputs.canary == 'true' }}
    name: "Deploy canary storybook"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: Build components and web-components and react storybook
        run: |
          npm run build:all
          npm run build-storybook:canary-web-components
          npm run build-storybook:canary-react

      - name: Deploy canary web components storybook
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./packages/canary-web-components/storybook-static
          target-folder: ./branches/canary/main/web-components

      - name: Deploy canary react storybook
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./packages/canary-react/storybook-static
          target-folder: ./branches/canary/main/react

  # Triggers a workflow in the design system repo
  ic-ui-kit-update-design-system:
    needs: [ic-ui-kit-publish]
    name: "Trigger design system release workflow"
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.PUBLISH_PAT }}
          repository: mi6/ic-design-system
          event-type: design-system-release
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'
