name: Branches

on: 
  push:
    branches-ignore:
      - main
      - develop
      - gh-pages

jobs:
  ic-ui-kit-static-analysis-tests:
    name: 'Static Analysis Tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps
          npm run build

      - name: Lint commit messages
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=format:"%s")
          echo "$COMMIT_MESSAGE" | npx commitlint

      - name: A11y tests
        run: npm run test-a11y:ci

      - name: Unit Component tests
        run: npm run test:ci

  ic-ui-kit-visual-tests:
    name: 'Visual Regression Tests'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - uses: browser-actions/setup-chrome@latest
      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: Visual Regression tests
        run: npm run test-visual:ci

  ic-ui-kit-deploy:
    needs: [ic-ui-kit-static-analysis-tests, ic-ui-kit-visual-tests]
    concurrency: ci-${{ github.ref }}
    name: 'Deploy'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: |
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: Build components and web-components storybook
        run: |
          npm run build
          npm run build-storybook:web-components

      - name: Deploy web components storybook
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: ./packages/web-components/storybook-static
          target-folder: ./branches/${{ github.ref_name }}
