name: Update Cypress visual regression test images

on: workflow_dispatch

jobs:
  check-updates:
    name: "Check package updates"
    runs-on: ubuntu-latest
    outputs:
      core: ${{ steps.filter.outputs.core }}
      canary: ${{ steps.filter.outputs.canary }}
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          base: "develop"
          filters: |
            core:
              - './packages/web-components/**'
              - './packages/react/**'
            canary:
              - './packages/canary-web-components/**'
              - './packages/canary-react/**'

  ic-ui-kit-cypress-tests:
    needs: [check-updates]
    name: "Cypress tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: 20
      - uses: browser-actions/setup-chrome@v1.5.0
      - name: Install dependencies
        run: |
          google-chrome --version
          npm ci --legacy-peer-deps
          npm run bootstrap -- -- --ci --legacy-peer-deps

      - name: Extract branch name
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Build core components
        if: ${{ needs.check-updates.outputs.canary == 'false' }}
        run: |
          npm run build

      - name: Build all components
        if: ${{ needs.check-updates.outputs.canary == 'true' }}
        run: |
          npm run build:all

      - name: Core Cypress tests
        if: ${{ needs.check-updates.outputs.core == 'true' }}
        id: core_cypress_tests
        run: |
          npm run test-cypress:headless

      - name: Canary Cypress tests
        if: always() && ${{ needs.check-updates.outputs.canary == 'true' }}
        id: canary_cypress_tests
        run: |
          npm run test-cypress:canary:headless

      - name: Checkout docs.json
        if: always()
        run: git checkout ./packages/docs/docs.json ./packages/canary-docs/docs.json

      - uses: EndBug/add-and-commit@v9.1.4
        if: always() && ${{ steps.canary_cypress_tests.outcome == 'success' }}
        with:
          commit: --no-verify
          default_author: github_actions
          message: "feat(canary-react): update Cypress visual regression test baseline images"
