/*   --ic-table-of-contents-text: var(--ic-color-text-primary);
  --ic-table-of-contents-label: var(--ic-color-text-primary);
  --ic-table-of-contents-banner: var(--ic-action-default);
  --ic-table-of-contents-banner-monochrome: var(--ic-action-monochrome-dark);
  --ic-table-of-contents-hover: var(--ic-state-layers-action-bg-hover);
  --ic-table-of-contents-hover-monochrome: var(--ic-state-layers-action-bg-dark-hover);
  --ic-table-of-contents-pressed: var(--ic-state-layers-action-bg-pressed);
  --ic-table-of-contents-pressed-monochrome: var(--ic-state-layers-action-bg-dark-pressed);
   */

:host {
  display: block;
  border: none;
  max-height: 100vh;
}

.table-of-contents-content {
  top: 0;
  left: 0;
  padding: 0 var(--ic-space-md);
  font: var(--ic-color-text-primary);
  max-height: 100vh;
}

:host .table-of-contents-position-top {
  min-width: 10rem;
  max-width: 50rem;
}

:host .table-of-contents-position-side {
  min-width: 8rem;
  max-width: 20rem;
  width: 20rem;
  position: sticky;
}

.table-of-contents-list {
  display: flex;
  flex-direction: row;
  max-width: inherit;
}

.table-of-contents-list-items {
  display: flex;
  flex-direction: column;
  max-width: inherit;
}

.table-of-contents-sidebar {
  background-color: var(--ic-table-of-contents-banner);
  height: 1.75rem;
  min-width: 0.25rem;
  transition: all 0.3s ease;
}

.table-of-contents-sidebar-monochrome {
  background-color: var(--ic-table-of-contents-banner-monochrome);
}

.table-of-contents-item {
  min-height: 1.5rem;
  line-height: 1.5rem;
}

.table-of-contents-item:hover {
  background-color: var(--ic-table-of-contents-hover);
}

.table-of-contents-item-monochrome:hover {
  background-color: var(--ic-table-of-contents-hover-monochrome);
}

.table-of-contents-item-content {
  border: none;
  max-width: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  color: var(--ic-table-of-contents-text);
  height: 1.5rem;

  --ic-typography-color: var(--ic-table-of-contents-text);
}

.table-of-contents-item-content-default {
  margin-top: var(--ic-space-xxxs);
  margin-bottom: var(--ic-space-xxxs);
}

.table-of-contents-item-content-large {
  margin-top: var(--ic-space-xxs);
  margin-bottom: var(--ic-space-xxs);
}

:host .table-of-contents-item-content-selected {
  font-style: bold;
}

.table-of-contents-item-content:focus {
  box-shadow: var(--ic-border-focus);
  border-radius: var(--ic-border-radius);
  transition: var(--ic-transition-duration-fast);
  outline: none;
  background-color: var(--ic-table-of-contents-hover);
}

.table-of-contents-item-content:active {
  box-shadow: var(--ic-border-focus);
  border-radius: var(--ic-border-radius);
  transition: var(--ic-transition-duration-fast);
  outline: none;
  background-color: var(--ic-table-of-contents-pressed);
}

.truncated-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
