body {
  margin: 0;
  padding: 0;
}

ic-section-container {
  margin: 0 8rem;
}

ic-typography {
  margin-top: 1rem;
}

.input-container {
  margin: 2rem 0;
}

.input {
  margin-top: 0.5rem;
}

.button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
